---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=c6c8a75feb1261a0598bdeb993339a024f90439cab3f9d39de64cb3e9522e6a1&auth_timestamp=1415023393&auth_version=1.0&body_md5=16d2e4a2500ec37ea73b6eda660e27a8
    body:
      encoding: UTF-8
      string: '{"name":"up_down_vote_message","channels":["event_769e1210-a317-4eda-9101-b51c674dae69"],"data":"{\"id\":1594,\"created_at\":\"2014-11-03T12:03:13.311-02:00\",\"updated_at\":\"2014-11-03T12:03:13.311-02:00\",\"content\":\"I
        really like that\",\"up_votes\":1,\"down_votes\":0,\"student\":{\"id\":5856,\"name\":\"MyString\",\"email\":\"raul_oliveira@macedo.biz\"}}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Nov 2014 14:03:13 GMT
recorded_with: VCR 2.9.3
