---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=0acbe74787022ee4762db56cc5ec2ec80e4ac80644ccc3b28ea0c1e18c536af4&auth_timestamp=1392641730&auth_version=1.0&body_md5=9000541d1965d0f41d114e398532cd7c
    body:
      encoding: UTF-8
      string: "{\"name\":\"up_down_vote_message\",\"channels\":[\"event_356d4b29-303d-4769-ae8c-da162e814528\"],\"data\":\"{\\\"up\\\":1,\\\"down\\\":0}\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 17 Feb 2014 12:55:30 GMT
recorded_with: VCR 2.8.0
