---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=2e108abc1cedbffb9c9d474d185ebca0311ec46c20ad959edd20eeae78181bcd&auth_timestamp=1392641731&auth_version=1.0&body_md5=7f7968ed5954ec7e97070a47789a04f3
    body:
      encoding: UTF-8
      string: "{\"name\":\"up_down_vote_message\",\"channels\":[\"event_b2a0d4de-b0d8-4344-ac2d-cb9b61c78bb4\"],\"data\":\"{\\\"up\\\":1,\\\"down\\\":0}\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 17 Feb 2014 12:55:31 GMT
recorded_with: VCR 2.8.0
