---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=e7f9cf3acfff36231368fb94e5552773a18bf650f7c8b2e085a3618bd853a35f&auth_timestamp=1415023392&auth_version=1.0&body_md5=dfab25902dacc1c91b46bb435bb67ba2
    body:
      encoding: UTF-8
      string: '{"name":"up_down_vote_message","channels":["event_be5b19a3-90bb-49c2-92fb-b767b1241d9d"],"data":"{\"id\":1593,\"created_at\":\"2014-11-03T12:03:12.720-02:00\",\"updated_at\":\"2014-11-03T12:03:12.720-02:00\",\"content\":\"I
        really like that\",\"up_votes\":1,\"down_votes\":0,\"student\":{\"id\":5853,\"name\":\"MyString\",\"email\":\"carlos_carvalho@bragareis.net\"}}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Nov 2014 14:03:13 GMT
recorded_with: VCR 2.9.3
