---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=431379f13b546fee193f78aee8581a8c5a4bc8f62ad35f307e1e3a731cf19762&auth_timestamp=1415023367&auth_version=1.0&body_md5=16a050b5babe17d161c8b188498f18d1
    body:
      encoding: UTF-8
      string: '{"name":"student_message","channels":["event_2b6049aa-a17a-4a6b-9600-2791ee386290"],"data":"{\"id\":1522,\"created_at\":\"2014-11-03T12:02:47.788-02:00\",\"updated_at\":\"2014-11-03T12:02:47.788-02:00\",\"content\":\"Some
        message here\",\"up_votes\":0,\"down_votes\":0,\"student\":{\"id\":5639,\"name\":\"MyString\",\"email\":\"salvador_moreira@batistafranco.net\"}}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Nov 2014 14:02:48 GMT
recorded_with: VCR 2.9.3
