---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=1f7b2637b64f596641ba998f2fff1f71bc525f9209726315c9a9a7aba4bff252&auth_timestamp=1415023367&auth_version=1.0&body_md5=8183b94ec68013f3ba1ab63508fcdaf4
    body:
      encoding: UTF-8
      string: '{"name":"student_message","channels":["event_1a4dabbe-3a89-454f-81d2-31467dda2eb6"],"data":"{\"id\":1521,\"created_at\":\"2014-11-03T12:02:47.221-02:00\",\"updated_at\":\"2014-11-03T12:02:47.221-02:00\",\"content\":\"Some
        message here\",\"up_votes\":0,\"down_votes\":0,\"student\":{\"id\":5638,\"name\":\"MyString\",\"email\":\"fabrcia_braga@braga.biz\"}}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Nov 2014 14:02:47 GMT
recorded_with: VCR 2.9.3
