---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=27dac91e876fa321cb664b8be790857b051e6647415590816e109fa7cb53166d&auth_timestamp=1400886669&auth_version=1.0&body_md5=8c54ab4b0223c5c60e7980c4b7e29620
    body:
      encoding: UTF-8
      string: "{\"name\":\"student_message\",\"channels\":[\"event_745ee4e3-947f-4e52-a862-4247a9458df4\"],\"data\":\"{\\\"id\\\":411,\\\"created_at\\\":\\\"2014-05-23T20:11:09.147-03:00\\\",\\\"updated_at\\\":\\\"2014-05-23T20:11:09.147-03:00\\\",\\\"content\\\":\\\"Some
        message here\\\",\\\"up_votes\\\":0,\\\"down_votes\\\":0,\\\"student\\\":{\\\"id\\\":1226,\\\"name\\\":\\\"Morgana
        Nogueira\\\",\\\"email\\\":\\\"pablo@carvalhocarvalho.info\\\",\\\"avatar\\\":null}}\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 23 May 2014 23:11:09 GMT
recorded_with: VCR 2.8.0
