---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=f10f3579673ee1daa6ee5333b4efa594699fbec68552948e802e2645a87e0f4d&auth_timestamp=1400886669&auth_version=1.0&body_md5=bee7a792c49944c585e94fc43b4b232f
    body:
      encoding: UTF-8
      string: "{\"name\":\"student_message\",\"channels\":[\"event_d1973227-8292-4994-a896-6f1e48c9ea4e\"],\"data\":\"{\\\"id\\\":410,\\\"created_at\\\":\\\"2014-05-23T20:11:09.147-03:00\\\",\\\"updated_at\\\":\\\"2014-05-23T20:11:09.147-03:00\\\",\\\"content\\\":\\\"Some
        message here\\\",\\\"up_votes\\\":0,\\\"down_votes\\\":0,\\\"student\\\":{\\\"id\\\":1225,\\\"name\\\":\\\"Srta.
        Sílvia Costa\\\",\\\"email\\\":\\\"laria@saraivamartins.com\\\",\\\"avatar\\\":null}}\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 23 May 2014 23:11:09 GMT
recorded_with: VCR 2.8.0
