@mixin box-shadow($x: 0, $y: .125rem, $blur: 0, $color: darken($light-grey-color, 5%)) {
  box-shadow: $x $y $blur $color;
}

@mixin thumbnail($size: 2.75rem) {
  border-radius: $global-radius;
  background: no-repeat center center;
  background-size: cover;
  display: inline-block;
  height: $size;
  vertical-align: middle;
  width: $size;
}

