.dunno__footer {
  //@include grid-container();
}

.smile:after {
  content: '=)';
  display: inline-block;
  font-weight: $font-weight-normal;
  margin-left: .25rem;
  transform: rotate(65deg);
}

.sad:after {
  content: '=(';
  display: inline-block;
  font-weight: $font-weight-normal;
  margin-left: .5rem;
  transform: rotate(100deg);
}

body {
  .cg-busy-backdrop {
    background-color: $body-background;

    // TODO: This is using the Foundation way, we need to 
    // fix the conflict with the Foundation Apps way.
    // @media #{$small-only} {
    //   background-color: $white;
    // }
  }
}

.type__url {
  .cg-busy.cg-busy-animation {
    min-height: 100%;
  }
}
