footer.footer {
  @include grid-block();
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  @include breakpoint(small only) {
    display: none;
  }
}

.happy:after {
  content: '=)';
  display: inline-block;
  font-weight: $font-weight-normal;
  margin-left: .25rem;
  transform: rotate(65deg);
}

.sad:after {
  content: '=(';
  display: inline-block;
  font-weight: $font-weight-normal;
  margin-left: .5rem;
  transform: rotate(100deg);
}

body {
  .cg-busy-backdrop {
    background-color: $body-background;

    @include breakpoint(small only) {
      background-color: $white;
    }
  }
}

.type__url {
  .cg-busy.cg-busy-animation {
    min-height: 100%;
  }
}
