.accept-invitation {
  .top-bar {
    height: 115px;
    padding: 20px;

    .title-area {
      float: none;

      .logo {
        height: 70px;
      }
    }
  }

  .container,
  footer {
    margin-top: 3em;
    text-align: center;
  }

  .instructions,
  footer {
    background: $white;
  }

  .instructions,
  .loading,
  footer {
    padding: 2em;
  }

  .instructions {

    .steps {
      $number-radius: 40px;

      .step {
        position: relative;

        .number {
          @include ball($number-radius);
          border-color: $light-grey-color;
          color: $orange-color;
          font-weight: $font-weight-light;
          margin: 0 auto;
        }

        .description {
          font-size: .8em;
          text-transform: uppercase;
        }

        &:after {
          background: asset_url('input-arrow.png') no-repeat center center;
          content: ' ';
          display: inline-block;
          height: 2.25em;
          margin-top: 1.45em;
          position: absolute;
          right: -1em;
          top: 0;
          width: 2.25em;
        }

        &:last-child:after {
          display: none;
        }

        @media #{$small-only} {
          &:after {
            display: none;
          }
        }
      }

      .arrow {
        margin-top: $number-radius - 18px;
      }
    }
  }

  .container {
    .loading {
      background: $dunno-dark-color;
      color: $white;

      p {
        font-weight: $font-weight-light;
        margin: 0;

        &.last {
          margin-bottom: 2em;
        }
      }

      .progress {
        background-color: transparent;
        border-color: $dunno-green-color;
        height: 30px;

        &,
        & > .meter {
          border-radius: 0;
        }

        .meter {
          transition-duration: 1s;
        }
      }

      .loading-item {
        font-size: .8em;
        font-weight: $font-weight-light;
        letter-spacing: .05em;
        margin-left: 1.2em;
        text-align: left;
      }
    }
  }

  footer {
    .partners {
      @include inline-list;
      margin: 0 auto;
      width: 350px;
    }
  }
}
