.accept-invitation {
  .top-bar {
    height: 115px;
    padding: 20px;

    .title-area {
      float: none;

      .logo {
        height: 70px;
      }
    }
  }

  .container,
  footer {
    background: $white;
    margin-top: 3em;
    text-align: center;
  }

  .instructions,
  .loading,
  footer {
    padding: 2em;
  }

  .container {
    .instructions {
      > .description {
        margin: 2em auto;
        width: 50%;
      }

      .steps {
        @include inline-list;
        list-style: none;
        margin: 0 auto;
        width: 75%;

        $number-radius: 40px;

        .step {
          .number {
            @include ball($number-radius);
            border-color: $light-grey-color;
            color: $orange-color;
            font-weight: 300;
            margin: 0 auto;
          }

          .description {
            font-size: .8em;
            text-transform: uppercase;
            width: 8em;
          }
        }

        .arrow {
          margin-top: $number-radius - 18px;
        }
      }
    }

    .loading {
      background: $primary-color;
      color: $white;

      p {
        font-weight: 300;
        margin: 0;

        &.last {
          margin-bottom: 2em;
        }
      }

      .progress {
        background-color: transparent;
        border-color: $secondary-color;
        height: 30px;

        &,
        & > .meter {
          border-radius: 0;
        }

        .meter {
          transition-duration: 1s;
        }
      }

      .loading-item {
        font-size: .8em;
        font-weight: 100;
        letter-spacing: .05em;
        margin-left: 1.2em;
        text-align: left;
      }
    }
  }

  footer {
    .partners {
      @include inline-list;
      margin: 0 auto;
      width: 350px;
    }
  }
}
