
.catalog-page {
  .type.icon {
    color: #FFF;
    background: $primary-color;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    display: block;
    float: left;
    text-align: center;
    padding: 2px;
    font-size: 18px;
  }
  
  
  
  .count {
    color: $light-grey-color;
    margin-left: 0.2em;
  }

  $dropdown-width: 100%;
  .dropdown {
    width: $dropdown-width;
  }
  
  .search-wrapper {
    position: relative;
    width: 100%;
      input {
        width: 90%;
        float: left;
        height: 40px;
        background: #FFF;
        border: 1px solid #CCC;
        box-shadow: none;
        border-radius: 2px;
        color: #333 !important;
        opacity: .8;
        &:focus {
         opacity: 1;
         border: 1px solid $input-focus-border-color;
        }
      }
      .icon-close {
        background: none;
        color: #CCC;
        position: absolute;
        right: 64px;
        top: 5px;
        width: 24px;
        height: 24px;
      }
      button {
        width: 9%;
        border-radius: 2px;
        height: 40px;
        background: #1cc678;
        position: absolute;
        right: 0;
        line-height: 44px;
      }
  }

  .type-list {
    @include dropdown-container(list, bottom);
    @include radius();
    width: $dropdown-width;
    border-color: $light-grey-color;

    .option {
      cursor: pointer;
      padding: 10px;

      &:nth-last-child(n+2) {
        border-bottom: 1px solid $light-grey-color;
      }

      .title {
        color: $dark-grey-color;
        
        font-size: 1em;
        font-weight: 300;
      }

      .count {
        float: right;
      }

      .icon {
        margin-right: 0.5em;
      }
    }
  }

  .medias {
    margin-top: 0.5em;
    list-style: none;
    border-radius: 5px;
    box-shadow: $box-shadow;
    background-color: white;
  }

  .media {
    @include grid-row;
    width: initial;
    display: block;
    padding: 1.5em;
    position: relative;
    border-bottom: 1px solid $light-grey-color;

    &:last-of-type {
      border-bottom: none;
    }

    &:hover .vertical-bar {
      width: 3px;
      height: 100%;
      background: $secondary-color;
      position: absolute;
      top: 0;
      left: 0;
    }

    > li {
      list-style: none;
    }

    .top {
      @include grid-row;
    }

    .bottom {
      @include grid-row;
      margin-top: 10px;
    }

    .title {
      background: none;
      border: none;
      box-shadow: none;
      margin-bottom: 0;
      &:hover, &:focus {
        @include dotted-input($light-grey-color);
      }
    }

    .url {
      float: right;
      font-size: 0.7em;
      color: $secondary-color;
      margin-right: 1em;
    }

    .type.icon {
      float: right;
    }

    .tags {
      border: none;
      box-shadow: none;
      &.focused {
        outline: none;
      }
      .tag-item {
        @include label($radius: 2px);
        background: $dark-grey-color;
        margin-left: 0.5em;
        font-weight: 300;

        &.selected {
          background: $light-grey-color;
          border: 1px solid red;
        }
      }
      .input {
        font-weight: 300;
        border: 1px dashed $light-grey-color;
        // TODO: make it work on Firefox
        &::placeholder:before {
          content: "a  ";
          font-family: "dunno-icon-font";
          color: $dark-grey-color;
        }
        &:focus {
          @include dotted-input($secondary-color);
        }
      }
    }
    
    .icon-trash {
      float: right;
      color: $light-grey-color;
      width: 1.3em;
      height: 1.3em;
      text-align: center;
      padding: 0.1em;
      display: none;
      margin-top: 10px;
      &:hover {
        color: $primary-color;
      }
    }

    &:hover .icon-trash {
      display: block;
    }
  }

  .pagination {
    width: 30%;
    margin: auto;
    .page {
      text-align: center;
      width: 30%;
      min-height: 1px;
      float: left;
      
      a {
        width: 100%;
      }
    }
  }
}
