.course {
  &s {
    @extend %cards-container;

    @media #{$small-up} {
      @include block-grid(1);
    }

    @media #{$medium-up} {
      @include block-grid(2);
    }

    @media #{$large-up} {
      @include block-grid(3);
    }

    .course__card:hover {
      @include box-shadow(0, .125rem, .125rem, $dark-grey-color);
    }

    &__index {
      @include grid-row();
    }

    &__inactive {
      border-top: .0625rem solid $light-grey-color;
      margin-top: 3rem;
      padding: 2rem .625rem 1rem;
    }

    &__blankslate {
      margin: 3rem 0;
      text-align: center;

      .row {
        margin-top: 3rem;
      }
    }
  }

  &__card {
    @extend %card;

    .user__avatar,
    .course__icon {
      display: block;
    }

    .course__icon {
      text-align: right;
    }
  }

  &__inactive {
    display: flex;

    @media #{$small-only} {
      flex-wrap: wrap;
    }

    &__dates,
    &__info {
      padding: .5rem .5rem .5rem 0;
    }

    &__dates {
      white-space: nowrap;
    }

    &__info {
      flex-basis: 100%;

      @media #{$small-only} {
        margin-bottom: 1rem;
      }
    }
  }
}
