.calendar__header {
  border-bottom: .0625rem solid $light-grey-color;
  font-size: .875em;
  text-transform: uppercase;

  .button {
    margin-bottom: 0;
  }

  .dates__programme {
    border-right: .0625rem solid $light-grey-color;
    padding: .25rem 0;
    text-align: center;

    @media #{$small-only} {
      border-bottom: .0625rem solid $light-grey-color;
      border-right: 0;
    }
  }

  .dates__header__navigation {
    padding-top: .5rem;
    text-align: center;
    white-space: nowrap;
  }

  .dates__header__current-month {
    display: inline-block;
    font-weight: $font-weight-bold;
    margin: .5rem 1.5rem;
  }

  .dates__header__next-month,
  .dates__header__previous-month {
    white-space: nowrap;

    .icon {
      vertical-align: middle;
    }
  }
}

.no__events {
  padding: 1rem;
  text-align: center;
}

.calendar__date {
  &:last-child {
    .calendar__date__link {
      @include side-radius(bottom, $global-radius);
      border-bottom: 0;
    }
  }
}

.calendar__date__link {
  background-color: $white;
  border-bottom: 1px solid $light-grey-color;
  color: $dunno-dark-color;
  display: block;
  font-size: .875rem;
  line-height: 2.125em;
  padding: .5rem;

  @media #{$small-only} {
    font-size: .75rem;
    line-height: 3.125rem;
    padding: 0;
  }

  &:hover {
    background-color: darken($white, 4%);

    &.today {
      .date__date {
        color: $white;
      }
    }
  }

  &:after {
    clear: both;
    content: ' ';
    display: block;
  }

  &.past {
    background-color: lighten($light-grey-color, 20%);
    font-style: italic;
  }

  &.today {
    color: $dunno-dark-color;
    font-weight: $font-weight-bold;

    .date__day {
      @include radius(50%);
      background-color: $dunno-green-color;
      color: $white;
      height: 2rem;
      width: 2rem;

      @media #{$small-only} {
        height: 1.75rem;
        line-height: 1.75rem;
        margin: 0 .25rem;
        width: 1.75rem;
      }
    }
  }

  .date__day,
  .date__weekday,
  .date__time,
  .date__status,
  .date__classroom,
  .date__order,
  .date__go {
    display: inline-block;
    padding: 0 .25em;
  }

  .date__status {
    margin: 0 .25em;
    vertical-align: middle;

    @media #{$small-only} {
      padding: 0;
    }
  }

  .date__day {
    font-size: 1.125rem;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  .date__weekday {
    text-align: center;
    text-transform: uppercase;
    width: 3em;
  }

  .date__more__info {
    display: block;
    float: right;
    text-align: right;
    width: 50%;
  }

  .date__classroom,
  .date__status,
  .date__order,
  .date__go {
    text-align: right;
  }
}
