.event {
  @include box-shadow();
  @include radius();
  background-color: $white;
  border: $divider;
  margin-bottom: 2rem;
  padding: 2rem;

  @media #{$small-only} {
    @include radius(0);
    border: 0;
    box-shadow: none;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  &__header {
    border-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    @media #{$small-only} {
      margin-top: 1rem;
    }
  }

  &__date {
    flex-basis: 70%;
    order: 1;
    text-transform: uppercase;
  }

  &__time {
    flex-basis: 70%;
    opacity: .5;
    order: 3;
  }

  .date__status {
    flex-basis: 30%;
    order: 2;
    padding-right: .25rem;
    text-align: right;
    text-transform: uppercase;
  }

  &__edit {
    flex-basis: 30%;
    order: 4;
    text-align: right;

    .button {
      margin-bottom: 0;

      @media #{$small-only} {
        white-space: nowrap;
      }
    }
  }

  .no__topics {
    padding: 1rem;
  }

  &__content {
    margin-bottom: 2rem;

    @media #{$small-only} {
      margin-bottom: 0;
    }
  }

  &__item {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem 0;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  .topic__item__image {
    @include thumbnail();
    flex-basis: 2.75rem;
    margin-right: 1rem;
  }

  .topic__item__description {
    word-break: break-word;
  }
}

.empty__results {
  margin: 0;
  opacity: .5;
  padding: 1rem 0;
  text-align: center;
}
