.course__members {
  .icon,
  .course__members__count {
    color: $dunno-dark-color;
    opacity: .6;
    vertical-align: middle;
  }

  .icon {
    font-size: 1.25rem;
  }

  .course__members__count {
    font-size: .875rem;
    font-weight: $font-weight-bold;
    line-height: 1.5rem;
    margin: 0 .5rem;
    text-align: center;
  }
}

.course__member,
.course__member__avatar,
.course__members__count {
  display: inline-block;
  vertical-align: top;
}

.course__member__avatar {
  @include avatar();
  margin-right: .25rem;
}

.course__mobile__actions {
  margin-bottom: 1rem;

  .button {
    margin: .5rem 0;
  }
}

.page__header {
  .page__header__header,
  .page__header__info {
    @media #{$small-only} {
      text-align: center;
    }
  }

  .page__header__info {
    padding: 0 0 1rem;
  }

  .page__header__subtitle {
    .course__teacher {
      margin-right: .5rem;

      &:after {
        content: ' ';
      }
    }
  }
}
