.schedule {
  @media #{$small-only} {
    background: $white;

    .close__schedule {
      display: block;
      padding-top: 1rem;
      text-align: center;
    }
  }

  .content__box {
    border: 0;
  }

  &__close {
    display: inline-block;
    padding-bottom: 1rem;

    .icon {
      vertical-align: middle;
    }
  }

  &__header {
    padding: 2rem 0 0;

    @media #{$small-only} {
      padding: 1rem 0 0;
    }

    h4 {
      text-transform: uppercase;
    }
  }

  .weekly__schedules {
    &__empty {
      margin: 0;
      opacity: .5;
      padding: 2rem 0;
      text-align: center;
    }

    &__preheader {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;

      h6 {
        font-weight: $font-weight-bold;
        margin-top: .5rem;
      }

      .add__schedule__time {
        margin-bottom: 0;
      }
    }
  }

  .weekly__schedule {
    border-top: $divider;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;

    &__day {
      flex-basis: 8rem;
      text-transform: capitalize;
    }

    &__info {
      flex-basis: 100%;
      opacity: .5;
      order: 3;

      .icon {
        vertical-align: middle;
      }
    }

    &__classroom {
      @media #{$small-only} {
        display: block;
      }
    }

    &__actions {
      .button {
        .icon {
          font-size: .6rem;
        }
      }
    }
  }
}

.weekday__select {
  text-transform: capitalize;
}
