.calendar__header {
  border-bottom: .0625rem solid $light-grey-color;
  font-size: .875em;
  text-transform: uppercase;

  .button {
    margin-bottom: 0;
  }

  .dates__programme {
    border-right: .0625rem solid $light-grey-color;
    padding: .25rem 0;
    text-align: center;

    @media #{$small-only} {
      border-bottom: .0625rem solid $light-grey-color;
      border-right: 0;
    }
  }

  .dates__header__navigation {
    padding-top: .25rem;
    text-align: center;
    white-space: nowrap;
  }

  .dates__header__current-month {
    display: inline-block;
    font-weight: $font-weight-bold;
    margin: .5rem 1.5rem;
  }

  .dates__header__next-month,
  .dates__header__previous-month {
    white-space: nowrap;

    .icon {
      vertical-align: middle;
    }
  }
}

.no__events {
  padding: 1rem;
  text-align: center;
}

.calendar__date {
  &:last-child {
    .calendar__date__link {
      @include side-radius(bottom, $global-radius);
      border-bottom: 0;
    }
  }
}

.calendar__date__link {
  background-color: $white;
  border-bottom: 1px solid $light-grey-color;
  color: $dunno-dark-color;
  display: flex;
  font-size: .875rem;
  line-height: 2.125em;
  padding: .5rem;
  white-space: nowrap;

  @media #{$small-only} {
    font-size: .75rem;
    line-height: 3.125rem;
    padding: 0;
  }

  &.past {
    background-color: lighten($light-grey-color, 20%);
    font-style: italic;
  }

  &.today {
    background-color: $yellow-color;
    font-weight: $font-weight-bold;
  }

  &:hover {
    background-color: darken($white, 4%);

    &.today {
      .date__date {
        color: $white;
      }
    }
  }

  .date__day {
    flex-basis: 4em;
  }

  .date__weekday {
    flex-basis: 2.5em;
  }

  .date__time {
    flex-basis: 6em;
  }

  .date__today {
    flex-basis: 3em;
  }

  .date__day,
  .date__weekday,
  .date__time,
  .date__today,
  .date__classroom,
  .date__status {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .date__weekday,
  .date__time,
  .date__today {
    text-align: center;
  }

  .date__weekday,
  .date__day {
    text-transform: uppercase;
  }

  .date__classroom {
    flex-grow: 1;
    margin-left: auto;
    text-align: right;
  }

  .date__status {
    color: $dunno-green-color;
    flex-basis: 8em;
    flex-grow: 0;
    font-size: .75rem;
    font-style: normal;
    margin-left: auto;
    text-align: center;
    text-transform: uppercase;

    @media #{$small-only} {
      font-size: .625rem;
    }

    &.draft,
    &.empty {
      color: $dunno-dark-color;
    }

    &.cancelled {
      color: $red-color;
    }
  }
}
