// scss-lint:disable SelectorFormat NestingDepth SelectorDepth PlaceholderInExtend IdSelector
%side-box {
  background-color: $white;
  border-radius: 5px;
  box-shadow: $box-shadow;
  margin-bottom: 21px;
  padding: 20px;
}

.course-detail-page {
  .code {
    @extend %side-box;
    text-align: center;

    .title {
      font-size: 16px;
      font-weight: 300;
    }

    h3 {
      font-size: 26px;
      font-weight: 700;
    }

    .description {
      font-size: 13px;
      font-weight: 300;
    }

    .icon-expand {
      color: $dark-grey-color;
      position: absolute;
      right: 30px;
      top: 10px;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .students {
    @extend %side-box;

    strong {
      font-size: .75em;
    }

    .send-message {
      margin-bottom: 0;
      margin-left: 1em;
    }

    .btn-sm {
      padding: 0 10px;
    }

    .list {
      list-style: none;
      margin: 1em 0 0;
      padding: 0;

      li {
        border-bottom: 1px solid #d0d0d0; // NEW_COLOUR
        padding: .25em 0;

        &:last-child {
          border: 0;
        }

        h3 {
          font-size: .875em;
        }
      }
    }
  }
}

.access-code-fullscreen-modal {
  background: $secondary-color;
  padding-top: 25vh;
  text-align: center;

  span,
  h3,
  a,
  .close-reveal-modal {
    color: $white;
  }

  .description {
    font-size: 6vh;
    font-weight: 200;
  }

  .title {
    font-size: 25vh;
    line-height: 25vh;
  }

  .link-to-sign-in {
    font-size: 6vh;
    font-weight: 300;
    position: relative;
    top: 10vh;
  }
}

.dates {
  @extend .cf;
  background-color: $white;
  border-radius: 5px;
  box-shadow: $box-shadow;
  margin: 0 0 2em;
}

@media #{$small-only} {
  .dates__header__current-month {
    text-align: center;
  }
}

.dates__header {
  border-bottom: 2px solid $light-grey-color;
  padding: .7rem 1rem .5rem;
  text-transform: uppercase;


  .dates__header__current-month {
    display: block;
    font-weight: bold;
    line-height: 2.5rem;
  }

  .dates__header__next-month,
  .dates__header__previous-month {
    @include radius;
    background-color: $background-light-grey-color;
    color: $light-grey-color;
    display: block;
    font-size: .9rem;
    padding: .5rem;
    text-align: center;

    &:hover {
      color: $primary-color;
    }

    .icon {
      vertical-align: middle;
    }
  }
}

.dates__date {
  background-color: $white;
  color: $primary-color;
  display: block;
  line-height: 2.5em;

  &.has-tooltip {
    cursor: help;
  }

  .no-touch & {
    color: $light-grey-color;
  }

  .no-touch &:hover {
    background-color: $background-light-grey-color;
    color: $primary-color;

    .date__order {
      display: none;
    }

    .date__go {
      display: inline-block;
    }
  }

  &:nth-last-child(n+2) {
    border-bottom: 1px solid $light-grey-color;
  }

  &:first-child {
    @include side-radius(top, $global-radius);
  }

  &:last-child {
    @include side-radius(bottom, $global-radius);
  }

  &.today .date__day {
    background: $secondary-color;
    color: $white;
  }

  &.future .date__day {
    color: $primary-color;
  }

  .date__day,
  .date__weekday,
  .date__time,
  .date__status,
  .date__classroom,
  .date__order,
  .date__go {
    display: inline-block;
    padding: .25em .5em;
  }

  .date__day {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .date__weekday {
    text-transform: uppercase;
  }

  .date__classroom,
  .date__status,
  .date__order,
  .date__go {
    float: right;
    text-align: right;
  }

  .date__order,
  .date__go {
    width: 5em;
  }

  .date__go {
    color: $secondary-color;
    display: none;
    .icon {
      display: inline-block;
      line-height: 1em;
    }
  }
}
