.events__tab {
  .date {
    @include side-radius(top, $global-radius);
    background-color: $dunno-dark-color;
    color: $white;
    display: inline-block;
    font-size: .75rem;
    margin-bottom: -.0625rem;
    margin-left: .5rem;
    padding: .5rem 1rem;
    text-transform: uppercase;

    .status__icon {
      margin-left: .5rem;
    }
  }

  .no__topics {
    padding: 1rem;
  }

  .event__content {
    @extend %content-box;
  }

  .event__item {
    border-bottom: .0625rem solid $light-grey-color;
    padding: 1rem;

    &:last-child {
      border-bottom: 0;
    }

    &.done {
      background: lighten($light-grey-color, 20%);
      font-style: italic;

      .icon-check {
        color: $dunno-green-color;
      }
    }
  }

  .icon-check {
    color: lighten($light-grey-color, 10%);
  }

  .topic__item__image {
    @include thumbnail();
    display: inline-block;
    margin-left: .5rem;
  }

  .topic__item__description {
    font-size: .875rem;
    margin: 0 .5rem;
    padding: .25rem;
  }

  .comment__event__wrapper {
    margin: 0 calc(-1rem + -1px) calc(-1rem + -1px);
    position: relative;
  }

  .comment__event__avatar {
    @include avatar();
    left: .5rem;
    position: absolute;
    top: .85rem;
  }

  .comment__event__actions {
    position: absolute;
    right: .5rem;
    top: .85rem;

    .button {
      line-height: 2rem;
      margin: 0;
      padding: 0 .5rem;
    }
  }

  .comment__event {
    @include side-radius(bottom, $global-radius);
    background: lighten($light-grey-color, 20%);
    border: .0625rem solid $light-grey-color;
    line-height: 3.625rem;
    margin-bottom: 0;
    min-height: 3.625rem;
    padding-left: 3rem;
    padding-right: 5rem;

    &:focus {
      background: $white;
    }
  }
}
