.schedule__page {
  @extend %content-box;

  .uppercase {
    text-transform: uppercase;
  }

  .schedule__header {
    background-color: lighten($light-grey-color, 20%);
    border-bottom: .0625rem solid $light-grey-color;
    padding: 1rem 0 0;
  }

  .weekly__schedules {
    padding: 1rem 0 0;

    .weekly__schedule {
      border-left: .375rem solid transparent;
      margin-bottom: .125rem;
      padding: 1rem 0;

      .special__input {
        width: 80%;
      }
    }
  }

  .special__checkbox {
    + label {
      border-left: .375rem solid transparent;
      color: $light-grey-color;
      display: block;
      font-weight: $font-weight-normal;
      margin: -1rem 0 -1rem -.375rem;
      min-height: 5.5rem;
      padding: 1rem;
      white-space: nowrap;

      @media #{$small-only} {
        font-size: .875rem;
      }

      .button {
        margin-bottom: 0;
      }
    }

    &:checked {
      + label {
        border-left: .375rem solid $dunno-green-color;
        color: $dunno-dark-color;
      }
    }
  }

  .special__checkbox + label:before,
  .special__checkbox:checked + label:before {
    content: '';
    display: none;
  }

  .special__input {
    border: 0;
    border-bottom: .0625rem solid $light-grey-color;
    margin: 0 .5rem;
    text-align: center;

    &:focus {
      border-bottom-color: $dunno-green-color;
    }
  }

  .course__dates {
    border-top: .0625rem solid $light-grey-color;
    margin-top: 1rem;
    padding: 1rem 0 0;

    .postfix {
      background: none;
      border: 0;
      margin-bottom: 1rem;
    }
  }

  .to {
    display: inline-block;
    margin-top: .5rem;
  }

  .reset__weekday {
    margin-top: .5rem;
  }
}
