.list--courses {
  list-style: none;
  padding: 0;
  width: 100%;
}

.card--course {
  width: 460px;
  height: 250px;
  display: inline-block;
  margin: 10px;
  float: left;
  // TODO: usar radius do Compass
  border-radius: 5px;
  overflow: hidden;
}

.overlay.published {
  background-color: $primary-color;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
}

.course-title {
  margin-top: 0px;
  margin-bottom: 0px;
}
