%divider {
  border-bottom: .0625rem solid transparentize($dunno-dark-color, .85);
}

.add__members {
  text-align: center;

  .button {
    margin-bottom: 0;
  }

  .access__code {
    font-size: 1.5rem;
  }
}

.members__content {
  padding: 2rem 1rem;
}

.member__group {
  margin-top: 2.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.members__content__title {
  @extend %divider;
  margin-bottom: 1rem;
  padding: .5rem 0;

  .role__name {
    text-transform: uppercase;
  }

  .role__count {
    @extend %badge;
  }
}

.members {
  .member {
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &:after {
      clear: both;
      content: ' ';
      display: block;
    }
  }

  .member__avatar {
    @include avatar(2.5rem);
    display: inline-block;
    margin-right: .5rem;
  }

  .member__role {
    margin-bottom: 0;
    margin-top: .5rem;
  }
}
