.notify__members {
  height: 0;

  @media #{$small-only} {
    height: auto;
    padding: .5rem 0;
  }

  .button {
    position: relative;
    top: 4.25rem;
    z-index: 4;

    @media #{$small-only} {
      position: static;
    }
  }
}

.edit__course {
  .icon-cog {
    color: $dunno-dark-color;
    font-size: 1.25rem;
    margin-left: .5rem;
    vertical-align: middle;

    &:hover {
      color: lighten($dunno-dark-color, 10%);
    }
  }
}

.course__schedule__info {
  display: block;
  font-size: .875rem;
  opacity: .75;

  .course__schedule {
    text-transform: uppercase;

    &:after {
      content: ' · ';
    }

    &:last-child:after {
      content: '';
    }
  }
}

.course__member__avatar {
  @include avatar();
  display: inline-block;
  margin-right: .25rem;
  vertical-align: top;
}

.members__tab {
  .label {
    margin-left: .5rem;
  }
}
