.course-detail-page

  ul.tab-container
    list-style: none
    
    li
      display: inline-block
      padding: 10px
    
    li.active
      background-color: #ff0000
    
  ul.dates
    list-style: none
    overflow: hidden
    margin-right: -34px
    
    li
      float: left
      background-color: #ffffff
      border-radius: 5px
      border: 1px solid #c0c0c0
      width: 121px
      margin-right: 34px
      margin-bottom: 31px
      overflow: hidden
      position: relative
      
      span
        display: block
        width: 100%
        text-align: center
        
      span.weekday
        font-size: 12px
        height: 30px
        background-color: #ECECEC
        color: #2B3738
        line-height: 30px
        
      span.day
        font-size: 32px
        font-weight: 700
        line-height: 1.0
        margin-top: 10px
        
      span.month
        font-size: 11px
      
      div
        margin: 0 10px
        border-top: 1px solid #D0D0D0
        
        span.class
          font-size: 12px
          width: 100%
          margin-right: -12px
          text-align: left
          color: #2B3738
          display: inline-block
          
        img.check
          display: inline-block
          width: 12px

      .day-month
        width: 70px
        height: 70px
        margin: 4px auto
        overflow: hidden
        border: none

      .today
        background-color: #000000
        color: #ffffff
        border-radius: 35px
      
      .exam
        background-color: #000000
        color: #ffffff
        position: absolute
        font-size: 10px
        padding: 0 30px
        top: 10px
        left: -35px
        -webkit-transform: rotate(-45deg)
        -moz-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        -o-transform: rotate(-45deg)

  div.code
    background-color: #ffffff
    margin-bottom: 21px
    text-align: center
    padding: 20px
    border-radius: 5px
    
    span.title
      font-size: 16px
      font-weight: 300
      
    h3
      font-weight: 700
      font-size: 26px
      
    span.description
      font-size: 13px
      font-weight: 300
    
  div.students
    background-color: #ffffff
    border-radius:  5px
    overflow: hidden
    
    div.top
      padding: 20px
      border-bottom: 1px solid #d0d0d0
      
      strong
        font-size: 15px
      
      a.btn-sm
        padding: 0 10px
        margin-left: 42px
        margin-bottom: 0
    
    ul
      list-style: none
      padding: 0
      margin: 0
      
      li
        padding: 10px 20px
        border-bottom: 1px solid #d0d0d0
      
        img
          vertical-align: middle
          border-radius: 20px
      
        div
          display: inline-block
          vertical-align: middle
          margin-left: 20px
        
          h3
            font-size: 14px
            margin-bottom: -8px
            
          span
            font-size: 12px
            font-weight: 300