.events__tab {
  .date {
    @include side-radius(top, $global-radius);
    background-color: $dunno-dark-color;
    color: $white;
    display: inline-block;
    font-size: .875rem;
    margin-bottom: -.0625rem;
    margin-left: .5rem;
    padding: .5rem 1rem;
    text-transform: uppercase;

    .date__time {
      font-size: .75rem;
      opacity: .5;
    }

    .date__status {
      float: right;
      margin-left: 1rem;

      &.draft,
      &.empty {
        color: $white;
      }
    }

    @media #{$small-only} {
      margin-top: 1rem;
    }
  }

  .edit__in__journal {
    @media #{$small-only} {
      margin-top: 1rem;
    }
  }

  .no__topics {
    padding: 1rem;
  }

  .event__content {
    @include box-shadow(0, .125rem, 0, $light-grey-color);
    @include radius();
    background-color: $white;
    border: .0625rem solid $light-grey-color;
    margin-bottom: 2rem;

    @media #{$small-only} {
      margin-bottom: 0;
    }
  }

  .event__item {
    border-bottom: .0625rem solid $light-grey-color;
    padding: 1rem;

    &:last-child {
      border-bottom: 0;
    }

    &.done {
      background: lighten($light-grey-color, 20%);
      font-style: italic;

      .icon-check {
        color: $dark-grey-color;
      }
    }

    &:after {
      clear: both;
      content: ' ';
      display: block;
      height: 0;
      width: 100%;
    }
  }

  .icon-check {
    color: transparent;
    float: left;
    margin-right: .5rem;
  }

  .topic__item__image {
    @include thumbnail();
    display: inline-block;
    margin-right: .5rem;
  }

  .topic__item__description {
    display: block;
    font-size: .875rem;
    margin-left: 1.5rem;
    padding: .25rem;
    word-break: break-word;
  }
}
