.course-detail-page {
  ul.tab-container {
    list-style: none;
    li {
      display: inline-block;
      padding: 10px;
    }
    li.active {
      background-color: red;
    }
  }

  ul.dates {
    @extend .cf;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: $box-shadow;
    list-style: none;
    margin-left: 0;
    margin-right: 0;

    .header {
      border-bottom: 2px solid $light-grey-color;
      padding: .7rem 1rem .5rem;
      text-transform: uppercase;

      a {
        @include radius;
        background-color: $background-light-grey-color;
        color: $light-grey-color;
        font-size: .9rem;
        float: right;
        margin-left: 1rem;
        padding: .5rem;

        &:hover {
          color: $primary-color;
        }
      }

      .previous-month > .icon {
        margin: 0 1rem 0 0;
      }

      .current-month {
        display: inline;
        font-weight: bold;
        line-height: 2.5rem;
      }

      .next-month > .icon {
        margin: 0 0 0 1rem;
      }
    }

    .item {
      background-color: #fff;
      float: left;
      color: $primary-color;
      line-height: 2.5em;
      width: 100%;

      &.has-tooltip {
        cursor: help;
      }

      .no-touch & {
        color: $light-grey-color;
      }

      .no-touch &:hover {
        background-color: $background-light-grey-color;
        color: $primary-color;

        .column.order {
          display: none;
        }

        .column.go {
          display: block;
        }
      }

      &:nth-last-child(n+2) {
        border-bottom: 1px solid $light-grey-color;
      }

      &:first-child {
        @include side-radius(top, $global-radius);
      }

      &:last-child {
        @include side-radius(bottom, $global-radius);
      }

      &.today .day {
        background: $secondary-color;
        color: #fff;
      }

      &.future .day {
        color: $primary-color;
      }

      .column {
        float: left;
        font-size: .9rem;
        font-weight: 300;

        &.day {
          font-size: 1.1rem;
          font-weight: bold;
          width: 8%;
        }

        &.weekday {
          width: 10%;
        }

        &.time {
          width: 25%;
        }

        &.classroom {
          text-align: right;
          width: 38%;
        }

        &.status {
          width: 6%;
        }

        &.order {
          text-align: right;
          width: 13%;
        }

        &.go {
          color: $secondary-color;
          display: none;
          text-align: center;
          width: 13%;

          .icon {
            display: inline-block;
            line-height: 1em;
          }
        }
      }
    }
  }

  .code {
    background-color: white;
    margin-bottom: 21px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    span.title {
      font-size: 16px;
      font-weight: 300;
    }
    h3 {
      font-weight: 700;
      font-size: 26px;
    }
    span.description {
      font-size: 13px;
      font-weight: 300;
    }
    .icon-expand {
      position: absolute;
      top: 10px;
      right: 30px;
      color: $dark-grey-color;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .students {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    div.top {
      padding: 20px;
      border-bottom: 1px solid #d0d0d0;
      strong {
        font-size: 15px;
      }
      .send-message {
        margin-left: 16px;
        margin-bottom: 0;
        .icon {
          margin-right: 10px;
        }
      }
      a.btn-sm {
        padding: 0 10px;
      }
    }
    .list {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 10px 20px;
        border-bottom: 1px solid #d0d0d0;
        h3 {
          font-size: 14px;
        }
      }
    }
  }
}

#access-code-fullscreen {
  background: $secondary-color;
  text-align: center;
  padding-top: 25vh;
  span, h3, a {
    color: #fff;
  }
  .description {
    font-size: 6vh;
    font-weight: 200;
  }
  .title {
    font-size: 25vh;
    line-height: 25vh;
  }
  .link-to-sign-in {
    font-size: 6vh;
    font-weight: 300;
    position: relative;
    top: 10vh;
  }
}
