.create-course-page

  h3.form-caption
    margin: 40px 0 20px 0
    font-size: 16px

  h4
    margin-top: 0
    font-size: 16px

  .form-container
    background-color: #ffffff
    border-radius: 5px
    padding: 20px

    span.help
      margin-top: -40px
      color: #a0a0a0
      font-size: 14px
      display: inline-block

  .weekdays-container
    div
      vertical-align: top

    .monday
      width: 12%
      display: inline-block

    .weekdays
      width: 88%
      display: inline-block

      .day
        width: 14%
        margin-left: 2.66%
        display: inline-block
        text-align: center

        .day-form
          padding: 10px
          text-align: left
          background-color: #D8D8D8

    .day
      
      .dashed
        display: inline-block
        border: 2px dashed rgba(0,0,0,0.62)
        padding: 8px 0
        text-align: center
        font-size: 13px
        color: #000000
        opacity: 0.62
        width: 100%
        border-radius: 3px

      .has-period
        padding: 12px 0
        color: #ffffff
        border: none
        background-color: #2B3738
        border-radius: 0

      input
        border: 1px solid #979797
        margin-bottom: 0.5rem

      .add-period
        margin-top: 7px
