.create-course-page {
  .form-container {
    @include box-shadow();
    @include radius(5px);
    background-color: $white;
    overflow: hidden;
    padding: 1.5em 0 0;

    @media #{$small-only} {
      @include radius(0);
    }

    input.input-error,
    select.input-error {
      border: 1px solid $red-color;
      margin-bottom: 0;
    }

    .sep {
      background-color: $light-grey-color;
      height: 1px;
      margin: 1em 0 2em;
    }
  }

  .remove__course {
    margin-top: 2em;
  }
}
