$diary-container-width: 750px
$diary-title-height: 90px
$diary-card-border: 1px solid #ddd


.subtitle-head
  text-align: center
  margin: 0 auto
  

.event-carousel
  border: 1px solid $primary-color
  border-radius: $global-radius
  height: 70px
  margin: 0 auto
  width: $diary-container-width
  padding: 0 20px
   
  h1
    font-size: 1.5rem
    color: $primary-color
    text-align: center
    text-transform: uppercase

  .arrow-left
    float: left
    font-size: 2rem
    line-height: 1rem

  .arrow-right
    float: right
    font-size: 2rem
    line-height: 1rem

.event-status
  margin: 20px auto
  width: $diary-container-width

.container
  width: $diary-container-width
  background: white
  border: $diary-card-border
  margin: 20px auto 20px
  padding: 0

  .title
    height: $diary-title-height
    position: relative
    border-left-width: 10px
    border-left-style: solid
    padding: 30px 0 0 15px

    h1
      font-size: 1.2rem
      line-height: 0.5rem
      text-transform: uppercase
      font-weight: bold
      margin-top: 0
      
      
    .subtitle
      font-size: 0.7rem

  .diary-label
    border-left-color: #1cc678

  .notes-label
    border-left-color: #ff5950


  .tasks
    border-top: 1px solid black
    padding: 0 30px
  
  .row
    margin: 0 auto
    padding: 12px 0 6px
    border-bottom: $diary-card-border    

  .task-box
    margin: 0 auto 10px
    background: #ddd
    border-radius: $global-radius
    padding: 15px
    font-size: 0.8rem
      

.task-icon-right
  font-size: 1.1rem
  color: #bbb
  float: right
  position: relative
  margin-left: 10px

.foot
  border-top: 1px solid black 
  padding: 25px 30px
  position: relative
  
.add
  position: absolute
  margin-top: 7px
  margin-left: 655px
  font-size: 1.5rem   

.pos
  margin-right: 10px

.icon
  font-size: 1rem
  line-height: 0.3rem

.notes
  border-color: red