// TODO: Break diary.scss into smaller files.
// scss-lint:disable NestingDepth SelectorDepth
.diary-page {
  margin-top: -20px;

  .done-button {
    height: 40px;
    margin-left: -7px;
    text-align: center;
    width: 130px;
  }

  $dropdown-width: 160px;

  .dropdown {
    width: $dropdown-width;
  }

  .status-list {
    @include dropdown-container(list, bottom);
    @include radius();
    border-color: $light-grey-color;
    width: $dropdown-width;

    .option {
      @include grid-row();
      cursor: pointer;
      padding: 10px;

      &:nth-last-child(n+2) {
        border-bottom: 1px solid $light-grey-color;
      }

      .title {
        @include grid-row();
        color: $primary-color;
        font-weight: 600;
        text-transform: uppercase;

        .icon {
          float: right;
          margin-left: 6px;
          margin-top: 3px;
        }
      }

      .subtitle {
        @include grid-row();
        color: $dark-grey-color;
        font-size: .8rem;
        line-height: 1.3em;
        opacity: .7;
      }

      &.published {
        .title {
          color: $primary-color;
        }

        .subtitle {
          color: $dark-grey-color;
        }
      }
    }
  }

  .field-new-list-item {
    border: 0;
    border-bottom: 1px solid #ccc !important; // NEW_COLOUR
    margin-bottom: 0;
    padding-right: 15%;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .wrapper-new-list-item {
    border: 1px solid #ccc; // NEW_COLOUR
    border-radius: 2px;
    margin-bottom: 10px;

    &.focus-wrapper {
      border: 1px solid #3c90c5; // NEW_COLOUR
      box-shadow: 0 0 3px #3c90c5; // NEW_COLOUR
    }
  }

  .media-url-input {
    @include dropdown-container(content, right, 350px);
    background: $background-light-grey-color;
    padding: 8px;

    &:before {
      border-left-color: $background-light-grey-color;
    }
  }

  .create-item-button {
    @include radius;
    background: $secondary-color;
    color: $white;
    float: right;
    font-size: 1.1em;
    height: 1.5em;
    line-height: 1.4em;
    margin-right: .30em;
    margin-top: -1.80em;
    padding: .2em .4em;

    &.disabled {
      background: #afb0b0; // NEW_COLOUR
      cursor: auto;
      pointer-events: none;
    }
  }

  .item-button {
    color: #afb0b0; // NEW_COLOUR
    float: right;
    font-size: 1.5em;
    margin-top: -1.3em;

    &.media-url-button {
      margin-right: 2em;
    }

    &.media-file-button {
      margin-right: 3.4em;
    }

    &:hover,
    &.active {
      color: #5c5b5b; // NEW_COLOUR
    }
  }

  .file-input {
    display: none;
  }

  .progress {
    margin-top: 10px;
  }

  .vertical-container {
    display: table-cell;
    vertical-align: middle;

    .vertical-center {
      display: inline-block;
    }
  }

  .main-title {
    background-color: #fecf16; // NEW_COLOUR
    border-bottom: 1px solid rbga(151, 151, 151, .8); // NEW_COLOUR
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    text-align: center;

    .left {
      float: left;
      position: absolute;
    }

    .right {
      float: right;
      position: absolute;
    }

    .button-transparent {
      border: 1px solid $primary-color;
      border-radius: 5px;
      color: $black;
      font-size: 14px;
      padding: 6px 18px;
    }

    .title-container {
      line-height: 1;
      padding: 20px 0;

      .title {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 10px;
      }

      .subtitle-1 {
        color: rgba(0, 0, 0, .6);
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .subtitle-2 {
        color: rgba(0, 0, 0, .6);
        font-size: 13px;
        font-weight: 300;
      }
    }
  }

  .notes {
    background-color: #fff7f6; // NEW_COLOUR
    border-color: #f00; // NEW_COLOUR

    .tasks {
      border-top: 1px solid rgba(255, 17, 5, .27); // NEW_COLOUR
    }

    .foot {
      border-top: 1px solid rgba(255, 17, 5, .27); // NEW_COLOUR
    }
  }
}

$diary-container-width: 750px;
$diary-title-height: 90px;
$diary-card-border: 1px solid #ddd; // NEW_COLOUR

.subtitle {
  .row--main {
    height: 50px;
  }

  .columns {
    min-height: 1px;
  }

  h2 {
    font-size: 1.3em;
    margin-top: 8px;
  }

  .event-date {
    margin-top: -10px;
  }
}

.next-event:hover,
.previous-event:hover {
  span {
    opacity: .7;
  }
}

.next-event,
.previous-event {
  font-size: .7em;
  vertical-align: middle;

  span {
    display: block;
    margin-top: 20px;
    opacity: 0;
  }

  .icon-arrow-circle-left:before {
    font-size: 1.8em;
    line-height: 2em;
    margin-left: 10px;
  }

  .icon-arrow-circle-right:before {
    font-size: 1.8em;
    line-height: 2em;
    margin-right: 10px;
  }
}

.event-status {
  margin: 20px auto;
  width: $diary-container-width;

  label {
    &.to {
      color: $dark-grey-color;
      font-size: 18px;
    }

    &.icon {
      font-size: 24px;
      margin-top: 5px;
    }
  }

  .white {
    background-color: $white;
  }

  .status {
    text-align: right;
  }

  .no-pad-left {
    padding-left: 0 !important;
  }

  .no-pad-right {
    padding-right: 0;
  }

  .time .to {
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
  }

  .select-status {
    padding-right: 0;
  }

  .between-fields {
    padding: 0 !important;
    width: 26px;
  }

  .button.save {
    background: none;
    color: #999; // NEW_COLOUR
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    width: 110px;
  }

  .button.save:disabled {
    background: none;
  }
}

.container {
  background: $white;
  border: $diary-card-border;
  border-radius: .25em;
  margin: 1.25em auto;
  padding: 0;
  width: $diary-container-width;

  > .title {
    border-left-style: solid;
    border-left-width: 10px;
    height: $diary-title-height;
    padding: 30px 0 0 15px;
    position: relative;

    h1 {
      font-size: 1.2rem;
      font-weight: bold;
      line-height: .5rem;
      margin-top: 0;
      text-align: left;
      text-transform: uppercase;
    }

    .subtitle {
      font-size: .7rem;
    }
  }

  .diary-label {
    border-left-color: $secondary-color;
  }

  .notes-label {
    border-left-color: $red-color;
  }

  .tasks {
    border-top: 1px solid #d8d8d8; // NEW_COLOUR
  }

  .item {
    padding: 0 30px;

    &.clickable {
      cursor: pointer;
    }

    &.ui-sortable-helper {
      // scss-lint:disable BangFormat
      // Without this !important, occurs a flickering
      // effect while moving the item.
      background: $white;
      border: 1px solid $secondary-color;
      box-shadow: 0 0 5px #ccc; // NEW_COLOUR
      cursor: move !important;
      // scss-lint:enable BangFormat
    }

    .handle {
      border: 2px dotted #ccc; // NEW_COLOUR
      border-bottom: 0;
      border-top: 0;
      float: left;
      height: 18px;
      margin-left: -22px;
      margin-top: 16px;
      width: 6px;
    }

    > .row {
      border-bottom: $diary-card-border;
      margin: 0 auto;
      padding: .75em 0;
    }

    .item-editing {
      margin: 0;
    }

    .item-show {
      position: relative;

      .description {
        word-break: break-word;
      }
    }

    .tasks-buttons {
      position: absolute;
      right: 0;
      top: 0;

      .task-icon-right {
        color: #bbb; // NEW_COLOUR
        font-size: 1.1rem;
        margin-left: 10px;
        margin-top: 4px;

        &:hover {
          color: $primary-color;
        }
      }
    }

    // --- Show on hover --- //
    .no-touch & {
      .handle,
      .task-icon-right {
        display: none;
      }

      &:hover {
        .handle,
        .task-icon-right {
          display: initial;
        }
      }
    }
    // --------------------- //
  }

  .task-box {
    background: #ddd; // NEW_COLOUR
    border-radius: $global-radius;
    font-size: .8rem;
    margin: 0 auto 10px;
    padding: 15px;
  }
}

.foot {
  padding: 25px 30px;
  position: relative;

  a {
    color: $dark-grey-color;
  }
}

.add {
  font-size: 1.5rem;
  margin-left: 655px;
  margin-top: 7px;
  position: absolute;
}

.pos {
  margin-right: 10px;
}

.icon {
  font-size: 1rem;
  line-height: .3rem;
}

.hint {
  color: #4d4d4d; // NEW_COLOUR
  display: block;
  font-size: .75rem;
  font-weight: normal;
  line-height: 1.5;
}
