.diary-page {
  $dropdown-width: 150px;
  .dropdown {
    width: $dropdown-width;
    float: right;
  }
  .status-list {
    @include dropdown-container(list, bottom);
    @include radius();
    width: $dropdown-width;
    border-color: $light-grey-color;

    .option {
      @include grid-row();
      cursor: pointer;
      padding: 10px;

      &:nth-last-child(n+2) {
        border-bottom: 1px solid $light-grey-color;
      }

      .title {
        @include grid-row();
        color: $dark-grey-color;

        text-transform: uppercase;
        font-weight: 600;

        .icon {
          float: right;
          margin-top: 3px;
        }
      }

      .subtitle {
        @include grid-row();
        color: $light-grey-color;
        font-size: 0.8rem;
        line-height: 1.3em;
      }

      &.published {
        .title {
          color: $primary-color;
        }
        .subtitle {
          color: $secondary-color;
        }
      }
    }
  }

  .field-new-list-item {
    border: 0;
    border-bottom: 1px solid #ccc !important;
    margin-bottom: 0;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .wrapper-new-list-item {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 10px;

    &.focus-wrapper {
      border: 1px solid #3c90c5;
      box-shadow: 0 0 3px #3c90c5;
    }
  }
  
  .media-url-input {
    @include dropdown-container(content, right, 350px);
    padding: 8px;
    background: $background-light-grey-color;
    &:before {
      border-left-color: $background-light-grey-color;
    }
  }
  .item-button {
    float: right;
    margin-top: -1.3em;
    font-size: 1.5em;
    color: #AFB0B0;

    &.media-url-button {
      margin-right: 0.6em;
    }
    &.media-file-button {
      margin-right: 2em;
    }
    &:hover {
      color: #5C5B5B;
    }
  }
  .file-input {
    display: none;
  }
  
  .progress {
      margin-top: 10px;
  }
  .preview {
    background-color: $background-light-grey-color;
    margin: 12px;
    padding: 1em .5em;
    position: relative;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    .image {
      @include grid-column(2);
    }

    .text {
      @include grid-column(10);
      
      .title {
        font-weight: bold;
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 0.6em;
    }
  }
  .vertical-container {
    display: table-cell;
    vertical-align: middle;
    .vertical-center {
      display: inline-block;
    }
  }
  .main-title {
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: #fecf16;
    border-bottom: 1px solid rbga(151, 151, 151, 0.8);
    margin-bottom: 40px;
    .left {
      float: left;
      position: absolute;
    }
    .right {
      float: right;
      position: absolute;
    }
    .button-transparent {
      color: black;
      border: 1px solid #2b3738;
      padding: 6px 18px;
      font-size: 14px;
      border-radius: 5px;
    }
    .title-container {
      padding: 20px 0;
      line-height: 1;
      .title {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      .subtitle-1 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.6);
      }
      .subtitle-2 {
        font-size: 13px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .notes {
    border-color: red;
    background-color: #fff7f6;
    .tasks {
      border-top: 1px solid rgba(255, 17, 5, 0.27);
    }
    .foot {
      border-top: 1px solid rgba(255, 17, 5, 0.27);
    }
  }
}

$diary-container-width: 750px;
$diary-title-height: 90px;
$diary-card-border: 1px solid #dddddd;

.subtitle {
  .row--main {
    height: 50px;
  }
  .columns {
    min-height: 1px;
  }
}
.arrow {
  font-size: 30px;
  vertical-align: middle;
  font-weight: 300;
  &.arrow--left {
    &:before {
      content: "<";
    }
    margin-left: 5px;
  }
  &.arrow--right {
    &:before {
      content: ">";
    }
    margin-right: 5px;
  }
}
.event-status {
  margin: 20px auto;
  width: $diary-container-width;
  label {
    &.to {
      font-size: 18px;
      color: $dark-grey-color;
    }
    &.icon {
      font-size: 24px;
      margin-top: 5px;
    }
  }
  .white {
    background-color: white;
  }
  .status {
    text-align: right;
  }
  .no-pad-left {
      padding-left: 0 !important;
  }
  .no-pad-right {
    padding-right: 0;
  }
  .time .to {
      text-align: center;
      margin-top: 8px;
      font-size: 14px;
  }
  .select-status {
      padding-right: 0;
  }
  .between-fields {
      padding: 0 !important;
      width: 26px;
  }
}

.container {
  width: $diary-container-width;
  background: white;
  border: $diary-card-border;
  margin: 20px auto 20px;
  padding: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  & > .title {
    height: $diary-title-height;
    position: relative;
    border-left-width: 10px;
    border-left-style: solid;
    padding: 30px 0 0 15px;
    h1 {
      font-size: 1.2rem;
      line-height: 0.5rem;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 0;
    }
    .subtitle {
      font-size: 0.7rem;
    }
  }
  .diary-label {
    border-left-color: #1cc678;
  }
  .notes-label {
    border-left-color: #ff5950;
  }
  .tasks {
    border-top: 1px solid #d8d8d8;
  }
  .item {
    padding: 0 30px;
    cursor: pointer;
    &.ui-sortable-helper {
      // Without this !important, occurs a flickering
      // effect while moving the item.
      cursor: move !important;
    }

    .handle {
      float: left;
      width: 12px;
      height: 24px;
      margin-left: -22px;
      margin-top: 10px;
      background-color: $light-grey-color;
    }
    & > .row {
      margin: 0 auto;
      padding: 12px 0 6px;
      border-bottom: $diary-card-border;
    }
    .item-editing {
      margin: 0;
    }


    // --- Show on hover --- //
    .no-touch & {
      .handle, .task-icon-right {
        display: none;
      }

      &:hover {
        .handle, .task-icon-right {
          display: initial;
        }
      }
    }
    // --------------------- //
  }
  .task-box {
    margin: 0 auto 10px;
    background: #dddddd;
    border-radius: $global-radius;
    padding: 15px;
    font-size: 0.8rem;
  }
}

.task-icon-right {
  font-size: 1.1rem;
  color: #bbbbbb;
  margin-left: 10px;
}

.foot {
  padding: 25px 30px;
  position: relative;
  a {
    color: #71797a;
  }
}

.add {
  position: absolute;
  margin-top: 7px;
  margin-left: 655px;
  font-size: 1.5rem;
}

.pos {
  margin-right: 10px;
}

.icon {
  font-size: 1rem;
  line-height: 0.3rem;
}

.hint {
    font-size: 0.75rem;
    color: #4d4d4d;
    display: block;
    font-weight: normal;
    line-height: 1.5;
}
