// TODO: Break diary.scss into smaller files.
// scss-lint:disable NestingDepth SelectorDepth
.f-dropdown {
  border-color: $light-grey-color;

  li {
    cursor: pointer;
    padding: .625em;

    &:nth-last-child(n+2) {
      border-bottom: 1px solid $light-grey-color;
    }
  }

  span {
    display: block;
    color: $primary-color;
    font-weight: 600;
    text-transform: uppercase;

    .icon {
      float: right;
      margin-left: 6px;
      margin-top: 3px;
    }
  }

  small {
    font-size: 1em;
    color: $dark-grey-color;
  }
}


.previous__event,
.next__event {
  display: block;
  cursor: pointer;
  background: $white;
  border: 1px solid $navigation-event-border-color;
  padding: 1em .75em;

  span {
    text-transform: uppercase;
    font-size: .75em;
    color: $primary-color;
  }

  .icon {
    color: $secondary-color;
  }
}

.previous__event {
  text-align: right;
  border-radius: 3px 0 0 3px;

  .icon {
    float: left;
  }
}

.next__event {
  text-align: left;
  border-radius: 0 3px 3px 0;


  .icon {
    float: right;
  }
}

.diary__header {
  padding: 1em .75em;
  background: $primary-color;
  border: 1px solid $primary-color;
  color: $white;

  .diary__date {
    text-transform: uppercase;
  }

  .diary__time {
    text-align: right;
    color: $dark-grey-color;
    font-size: .75em;
  }
}

.new__topic__form {
  background: $white;
  border: 1px solid $light-grey-color;
  padding: 1em .75em;

  .select__item__type {
    text-align: center;

    a {
      display: block;
      color: $light-grey-color;
      border-bottom: 4px solid $white;

      &.active {
        color: $secondary-color;
        border-bottom-color: $secondary-color;
      }
    }

    .icon {
      display: inline-block;
      font-size: 1.25em;
      margin-top: .5em;
    }
  }
}

.item__type {
  border: 1px solid $dark-grey-color;
  background: $white;
  margin: 0 -.7rem;

  input,
  .media__file__button {
    background: $white;
    border: 0;
    box-shadow: none;
    color: $primary-color;
    display: block;
    height: auto;
    margin: 0;
    padding: 1.5rem 1rem;

    &.file__input {
      display: none;
    }
  }
}

.new__topic__actions {
  border: 1px solid $light-grey-color;
  border-top: 3px solid lighten($light-grey-color, 20%);
  background: $white;
  padding: 1em .75em;
}


// REWRITE ABOVE THIS LINE

// UNUSED STYLES BELOW THIS LINE
.diary-page {
  margin-top: -20px;

  .select-item-type {
    text-align: center;

    a {
      display: block;
    }

    .icon {
      display: inline-block;
      font-size: 1.25em;
      margin-top: .5em;
    }
  }

  .status-list {
    @include dropdown-container(list, bottom);
    @include radius();

    .option {
      @include grid-row();
      padding: 10px;

      &:nth-last-child(n+2) {
        border-bottom: 1px solid $light-grey-color;
      }

      .title {
        @include grid-row();
        color: $primary-color;
        font-weight: 600;
        text-transform: uppercase;

        .icon {
          float: right;
          margin-left: 6px;
          margin-top: 3px;
        }
      }

      .subtitle {
        @include grid-row();
        color: $dark-grey-color;
        font-size: .8rem;
        line-height: 1.3em;
        opacity: .7;
      }

      &.published {
        .title {
          color: $primary-color;
        }

        .subtitle {
          color: $dark-grey-color;
        }
      }
    }
  }

  .media-url-input {
    @include dropdown-container(content, right, 350px);
    background: $background-light-grey-color;
    padding: 8px;

    &:before {
      border-left-color: $background-light-grey-color;
    }
  }

  .item-button {
    &.media-url-button {
      margin-right: 2em;
    }

    &.media-search-button {
      margin-right: 4.8em;
    }

    &:hover,
    &.active {
      color: #5c5b5b; // NEW_COLOUR
    }
  }

  .file-input {
    display: none;
  }

  .progress {
    margin-top: 10px;
  }

  .vertical-container {
    display: table-cell;
    vertical-align: middle;

    .vertical-center {
      display: inline-block;
    }
  }

  .notes {
    background-color: #fff7f6; // NEW_COLOUR
    border-color: #f00; // NEW_COLOUR

    .tasks {
      border-top: 1px solid rgba(255, 17, 5, .27); // NEW_COLOUR
    }

    .foot {
      border-top: 1px solid rgba(255, 17, 5, .27); // NEW_COLOUR
    }
  }

}

$diary-container-width: 750px;
$diary-title-height: 90px;
$diary-card-border: 1px solid #ddd; // NEW_COLOUR

.event-status {
  margin: 20px auto;

  label {
    &.to {
      color: $dark-grey-color;
      font-size: 18px;
    }

    &.icon {
      font-size: 24px;
      margin-top: 5px;
    }
  }

  .white {
    background-color: $white;
  }

  .status {
    text-align: right;
  }

  .no-pad-left {
    padding-left: 0 !important;
  }

  .no-pad-right {
    padding-right: 0;
  }

  .time .to {
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
  }

  .select-status {
    padding-right: 0;
  }

  .between-fields {
    padding: 0 !important;
    width: 26px;
  }
}

.container {
  background: $white;
  border: $diary-card-border;
  border-radius: .25em;
  margin: 1.25em auto;
  padding: 0;
  /*width: $diary-container-width;*/

  > .title {
    border-left-style: solid;
    border-left-width: 10px;
    height: $diary-title-height;
    padding: 30px 0 0 15px;
    position: relative;

    h1 {
      font-size: 1.2rem;
      font-weight: bold;
      line-height: .5rem;
      margin-top: 0;
      text-align: left;
      text-transform: uppercase;
    }

    .subtitle {
      font-size: .7rem;
    }
  }

  .diary-label {
    border-left-color: $secondary-color;
  }

  .notes-label {
    border-left-color: $red-color;
  }

  .tasks {
    border-top: 1px solid #d8d8d8; // NEW_COLOUR
  }

  .item {
    padding: 0 30px;

    &.clickable {
      cursor: pointer;
    }

    &.ui-sortable-helper {
      // scss-lint:disable BangFormat
      // Without this !important, occurs a flickering
      // effect while moving the item.
      background: $white;
      border: 1px solid $secondary-color;
      box-shadow: 0 0 5px #ccc; // NEW_COLOUR
      cursor: move !important;
      // scss-lint:enable BangFormat
    }

    .handle {
      border: 2px dotted #ccc; // NEW_COLOUR
      border-bottom: 0;
      border-top: 0;
      float: left;
      height: 18px;
      margin-left: -22px;
      margin-top: 16px;
      width: 6px;
    }

    > .row {
      border-bottom: $diary-card-border;
      margin: 0 auto;
      padding: .75em 0;
    }

    .item-editing {
      margin: 0;
    }

    .item-show {
      position: relative;

      .title {
        margin: 0 .5em;
        word-break: break-word;
      }

      .description {
        word-break: break-word;
      }
    }

    .tasks-buttons {
      position: absolute;
      right: 0;
      top: 0;

      .task-icon-right {
        color: #bbb; // NEW_COLOUR
        font-size: 1.1rem;
        margin-left: 10px;
        margin-top: 4px;

        &:hover {
          color: $primary-color;
        }
      }
    }

    // --- Show on hover --- //
    .no-touch & {
      .handle,
      .task-icon-right {
        display: none;
      }

      &:hover {
        .handle,
        .task-icon-right {
          display: initial;
        }
      }
    }
    // --------------------- //
  }

  .task-box {
    background: #ddd; // NEW_COLOUR
    border-radius: $global-radius;
    font-size: .8rem;
    margin: 0 auto 10px;
    padding: 15px;
  }
}

.foot {
  padding: 25px 30px;
  position: relative;

  a {
    color: $dark-grey-color;
  }
}

.add {
  font-size: 1.5rem;
  margin-left: 655px;
  margin-top: 7px;
  position: absolute;
}

.pos {
  margin-right: 10px;
}

.icon {
  font-size: 1rem;
  line-height: .3rem;
}

.hint {
  color: #4d4d4d; // NEW_COLOUR
  display: block;
  font-size: .75rem;
  font-weight: normal;
  line-height: 1.5;
}
