.edit-profile {
  .standalone-form {
    .submit {
      margin-top: 2em;
      width: 100%;
    }

    .success {
      color: $secondary-color;
    }

    .password {
      display: inline-block;
      width: 90%;
    }

    .validation {
      display: inline-block;
      margin-left: 12px;
      .icon-valid {
        @extend .icon-plain-check;
        color: $secondary-color;
      }
      .icon-invalid {
        @extend .icon-error;
        color: $red-color;
      }
    }

    .error {
      ul {
        margin-bottom: 0;
      }
    }


    .cancel {
      font-size: .9em;
      text-align: center;
    }
  }
}
