// scss-lint:disable SelectorDepth NestingDepth

.events-page {
  .touch & .has-overlay .overlay {
    display: block;
  }

  .events {
    @extend %cards-container;
  }

  .event-card {
    .card-inner {
      @extend %card;
      position: relative;
    }

    .title {
      height: 113px;
      text-align: center;

      h1 {
        font-size: 24px;
        line-height: 1;
        margin: 0;
        padding: 25px 0 0;
      }

      .subtitle {
        color: transparentize($primary-color, .2);
        font-size: 11px;
      }
    }

    .day-month {
      background-color: $primary-color;
      border-radius: 50%;
      color: $white;
      display: block;
      height: 3.75em;
      left: 50%;
      margin-left: -1.875em;
      position: absolute;
      text-align: center;
      top: 5.125em;
      width: 3.75em;
      z-index: $overlay-z-index + 1;

      .day {
        font-size: 23px;
        line-height: 1;
        margin-top: 10px;
      }

      .month {
        font-size: 10px;
        text-transform: capitalize;
      }
    }

    .exam {
      background-color: $black;
      color: $white;
      font-size: 11px;
      left: -40px;
      padding: 4px 50px;
      position: absolute;
      top: 15px;
      transform: rotate(-45deg);
    }

    .content {
      background-color: $white;
      height: 287px;
      padding: 10px 20px;

      .weekday-hour {
        color: transparentize($primary-color, .6);
        font-size: 11px;
        margin-top: 27px;
        text-align: center;
      }

      .status {
        border-bottom: 1px solid $light-grey-color;
        border-top: 1px solid $light-grey-color;
        margin-top: 20px;

        span {
          display: inline-block;
          width: 90%;
        }

        .image {
          display: inline-block;
          text-align: right;
          width: 10%;
        }
      }

      .course {
        font-size: 11px;
        font-weight: 700;
        padding: 10px 0;
      }

      .notes {
        font-size: 12px;
        height: 150px;
        padding-top: 20px;
        position: relative;

        .note {
          list-style: none;
          margin: 0;
          padding: 0;

          .task {
            color: $dark-grey-color;
            font-size: 12px;
            overflow: hidden;
            padding: 8px 0;

            .image {
              display: none;
            }

            span {
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }

        .remaining {
          bottom: 0;
          position: absolute;
          text-align: center;
          width: 100%;
        }
      }

      .planning {
        height: 158px;
        text-align: center;
      }
    }
  }
}

$event-card-width: 300px;
$event-card-title-height: 80px;
$event-card-notes-height: 320px;
$event-card-border: solid 1px $light-grey-color;
