.agenda {
  &__wrapper {
    @include radius();
    background: $white;
    display: flex;
  }

  &__weekday {
    border-right: .0625rem solid $light-grey-color;
    flex-basis: 100%;

    &:last-child {
      border-right: 0;
    }

    &.past {
      opacity: .5;
    }
  }

  &__date {
    border-bottom: .0625rem solid $light-grey-color;
    font-size: .875rem;
    padding: 1rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    .today &:before {
      border-top: .25rem solid $dunno-dark-color;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__schedule {
    padding: .5rem .15rem .5rem 0;

    &__event {
      @include side-radius(right, $global-radius);
      background: $white;
      border: .0625rem solid $light-grey-color;
      border-left: 0;
      color: $dunno-dark-color;
      display: block;
      font-size: .875rem;
      margin-bottom: 1rem;

      &:hover {
        border-color: $dunno-dark-color;
        color: $dunno-dark-color;
      }
    }
  }
}

.schedule__event {
  &__course,
  &__details {
    padding: .5rem;
  }

  &__course {
    border-bottom: .0625rem solid $light-grey-color;
  }

  &__classroom {
    display: block;
    opacity: .5;
  }
}
