.first-access {
  p {
    text-align: center;

    &.successfully-loaded {
      color: $dunno-green-color;
      font-size: .9em;
    }

    &.instructions {
      font-size: 1.1em;
    }
  }

  .terms-of-use-label {
    margin-bottom: 1rem;
  }

  input[disabled] {
    text-align: center;
  }

  .submit {
    @extend .button;
    @extend .expand;
    @extend .btn-style-1;
    @include radius;
  }
}
