.invite__members__fullscreen {
  background: $dunno-green-color;
  padding-top: 25vh;
  text-align: center;

  span,
  h3,
  a,
  .close-reveal-modal {
    color: $white;
  }

  .description {
    font-size: 6vh;
    font-weight: $font-weight-light;
  }

  .title {
    font-size: 25vh;
    line-height: 25vh;
  }

  .link-to-sign-in {
    font-size: 6vh;
    font-weight: $font-weight-light;
    position: relative;
    top: 10vh;
  }
}
