.invite__members__fullscreen {
  background: $dunno-green-color;
  color: $white;
  padding-top: 25vh;
  text-align: center;
  top: 0 !important; //scss-lint:disable ImportantRule

  @media #{$small-only}{
    padding-top: 25vw;
  }

  .title,
  .close-reveal-modal {
    color: $white;
  }

  .description {
    font-size: 6vh;
    font-weight: $font-weight-light;

    @media #{$small-only} {
      font-size: 6vw;
    }
  }

  .title {
    font-size: 30vh;
    line-height: 30vh;

    @media #{$small-only} {
      font-size: 35vw;
      line-height: 35vw;
    }
  }

  .link-to-sign-in {
    font-size: 7vh;
    font-weight: $font-weight-light;
    position: relative;
    top: 10vh;

    @media #{$small-only} {
      font-size: 7vw;
    }
  }
}
