.login-page {
  background-color: $primary-color;
  min-height: 100%;
  padding-bottom: 2em;

  @media #{$small-only} {
    min-height: 100%;
    padding-bottom: 2em;
  }

  .root-proxy {
    display: block;
    padding: 3rem 0;
    text-align: center;

    @media #{$small-only} {
      padding: 1rem 0;
    }
  }

  .logo {
    height: 112px;

    @media #{$small-only} {
      height: 66px;
    }
  }

  a {
    color: $secondary-color;
  }

  .login-container {
    @include radius();
    background-color: $white;

    h4 {
      padding: 2rem 0;
      text-align: center;

      @media #{$small-only} {
        padding: 1rem 0;
      }
    }
  }

  .login-form {
    border-top: 1px solid $light-grey-color;
    overflow: hidden;
  }

  .signup,
  .signin {
    margin-top: 1em;
    text-align: center;
  }

  .password {
    [type='password'] {
      clear: both;
    }
  }
}

.login-links {
  color: $white;
  list-style: none;
  margin: auto;
  padding: 1em;
  text-align: center;

  a {
    color: $white;
    opacity: .42;
  }

  li {
    display: inline-block;
    font-weight: 300;

    &::after {
      content: ' | ';
      opacity: .42;
    }

    &:last-child::after {
      content: '';
    }
  }
}

.login-form {
  padding: 1rem 1.5rem;

  label {
    text-transform: uppercase;
  }

  .help {
    color: $primary-color;
    font-size: .875em; // 14px
  }

  .password {
    label {
      float: left;
    }

    .password-recovery {
      float: right;
      font-size: .875em; // 14px
      line-height: 1.8em;
    }
  }

  .submit {
    margin-top: 1.5em;

    input {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .back {
    display: block;
    text-align: center;
  }

  [type='email'],
  [type='password'],
  [type='button'] {
    min-height: 2.75em; // = 44px / apple min touch target size
  }

  .error {
    margin-top: -1rem;
  }
}
