.login-page {
  background-color: #2b3738;
  padding: 130px 0 0 0;
  .logo {
    display: block;
    margin: auto;
  }

  .login-container {
    @include rounded-container(6px);
    margin-top: 4em;
  }

  .login-form, .login-info {
    background-color: white;
    margin: auto;
    width: 30%;
    overflow: hidden;
  }

  .login-info {
    border-bottom: 1px solid $light-grey-color;
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
  }

  .login-form {
    padding: 20px 48px;
    label {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }
    span.help {
      font-size: 14px;
      color: #2b3738;
    }
    .password {
      label {
        float: left;
      }
      .password-recovery {
        float: right;
        color: $secondary-color;
        font-size: 0.8em;
        line-height: 1.8em;
      }
    }
    .submit {
      margin-top: 21px;
      input {
        width: 100%;
      }
    }
  }

  ul.login-links {
    width: 760px;
    padding: 40px;
    margin: auto;
    text-align: center;
    list-style: none;
    color: white;
    a {
      color: white;
      opacity: 0.42;
    }
    li {
      display: inline-block;
      font-weight: 300;
    }
    li.sep {
      margin: 0 10px;
      opacity: 0.42;
    }
  }
}
