.login-page {
  background-color: $dunno-dark-color;
  min-height: 100%;
  padding-bottom: 2em;

  @media #{$small-only} {
    min-height: 100%;
    padding-bottom: 2em;
  }

  .root-proxy {
    display: block;
    padding: 3rem 0;
    text-align: center;

    a {
      display: inline-block;
    }

    @media #{$small-only} {
      padding: 1rem 0;
    }
  }

  .logo {
    width: 10rem;

    @media #{$small-only} {
      width: 7rem;
    }
  }

  a {
    color: $dunno-green-color;
  }

  .login-container {
    @include radius();
    background-color: $white;

    @media #{$small-only} {
      @include radius(0);
    }

    h4 {
      padding: 2rem 0;
      text-align: center;
      text-transform: uppercase;

      @media #{$small-only} {
        padding: 1rem 0;
      }
    }
  }

  .login-form {
    overflow: hidden;
  }

  .signup,
  .signin {
    margin-top: 1em;
    text-align: center;
  }

  .password {
    [type='password'] {
      clear: both;
    }
  }
}

.login-links {
  color: $white;
  list-style: none;
  margin: auto;
  padding: 1em;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 1rem;
  }
}

.login-form {
  padding: 0 3rem 1rem;

  @media #{$small-only} {
    padding: 0 1.5rem 1rem;
  }

  label {
    text-transform: uppercase;
  }

  .help {
    color: $dunno-dark-color;
    font-size: .875em; // 14px
  }

  .password {
    label {
      float: left;
    }

    .password-recovery {
      float: right;
      font-size: .875em; // 14px
      line-height: 1.8em;
    }
  }

  .submit {
    margin-top: 1.5em;

    input {
      margin-bottom: 0;
      width: 100%;
    }
  }

  .back {
    display: block;
    text-align: center;
  }

  [type='email'],
  [type='password'],
  [type='button'] {
    min-height: 2.75em; // = 44px / apple min touch target size
  }

  .error {
    margin-top: -1.1875rem;
  }

  > .error {
    margin-top: 0;
  }
}
