.student-code {
  background-color: #f2f2f2;
  .info {
    margin: 40px 0;
    p {
      text-align: center;
      color: #2b3738;
      font-weight: 300;
      margin: 0;
    }
  }

  .search {
    width: 350px;
    margin: 0 auto;
    .code, .code:focus {
      background-image: url("/images/input-arrow.png");
      background-repeat: no-repeat;
      background-position: 300px center;
      padding: 30px 50px 30px 20px;
      font-size: 22px;
      font-weight: 300;
    }

    .submit {
      @include ball(20px, 2px);
      float: right;
      margin-top: -67px;
      margin-right: 0.5em;
      background: transparent;
      color: $secondary-color;
      border-color: $secondary-color;
      line-height: 20px;
    }
  }

  .tutorial.enter-code {
    float: right;
  }
}

.student-confirmation {
  h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    margin: 40px 0;
  }
}

.student-courses {
  .wrapper {
    width: 840px;
    margin: 0 auto;
    ul {
      list-style: none;
      margin-right: -20px;
      li.student-card {
        width: 260px;
        margin: 0 20px 20px 0;
        background-color: white;
        border-radius: 3px;
        overflow: hidden;
        float: left;
        .top {
          overflow: hidden;
          padding: 15px 10px;
          position: relative;
          h3 {
            color: #2b3738;
            font-size: 16px;
            font-weight: 400;
            display: inline-block;
            margin: 0;
          }
          ul.menu {
            position: absolute;
            top: 5px;
            right: 5px;
            margin: 0;
            padding: 0;
            a {
              color: rgba(151, 151, 151, 0.5);
            }
          }
        }
        .body {
          background-color: #1cc678;
          color: white;
          padding: 10px;
          .course-info {
            overflow: hidden;
            margin-bottom: 5px;
            h3 {
              font-size: 14px;
              color: white;
              font-weight: 300;
              margin: 0;
              display: inline-block;
              float: left;
            }
            h4 {
              font-size: 10px;
              color: white;
              font-weight: 300;
              margin: 2px 0 0 0;
              display: inline-block;
              float: right;
            }
          }
        }
      }
    }
  }
}

.student-start {
  padding-top: 40px;
}

.student-load {
  .loading {
    margin-top: 100px;
    p {
      padding: 20px;
      color: #2b3738;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.student-dashboard {
  // global styles
  .title {
    background-color: white;
    border-bottom: 1px solid rgba(19, 19, 19, 0.15);
    margin-bottom: 20px;
    h2 {
      font-size: 20px;
      padding: 20px 0;
      text-align: center;
    }
  }
  button, .button {
    color: white;
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }
  button.success {
    background-color: #1cc678;
  }
  .button.warning {
    background-color: rgba(255, 17, 5, 0.7);
  }
  .actions {
    padding: 0;
    button {
      margin: 20px 0;
    }
    .line {
      height: 1px;
      border-top: 1px solid #979797;
    }
  }
  .white-form {
    background-color: white;
    padding: 20px;
    overflow: hidden;
    border-radius: 3px;
    .form-group {
      overflow: hidden;
      .form-item {
        display: inline-block;
        label {
          font-size: 12px;
          font-weight: 300;
          padding: 10px 0;
        }
        span {
          display: inline-block;
        }
        .text {
          font-size: 18px;
          font-weight: 300;
        }
        .strong {
          font-weight: 700;
        }
      }
    }
    .left {
      float: left;
      margin-right: 30px;
    }
    .form-line {
      height: 1px;
      border-top: 1px solid rgba(151, 151, 151, 0.25);
      margin: 10px 0;
    }
  }
  .profile-form {
    .form-group {
      .form-item {
        width: 100%;
        label {
          font-weight: 700;
        }
        label.ios-label {
          padding: 10px 0;
          display: inline-block;
          vertical-align: middle;
        }
        input {
          width: 100%;
        }
        input.ddd {
          width: 20%;
          display: inline-block;
          margin-right: 10px;
        }
        input.phone {
          width: 40%;
          display: inline-block;
        }
      }
      .inline {
        width: 100%;
      }
    }
  }
  .user-info {
    img {
      border-radius: 18px;
      margin-right: 10px;
    }
    img.border-white {
      width: 32px;
      border: 3px solid white;
    }
    span.small {
      font-size: 12px;
    }
  }
  // css3 switch - http://www.designcouch.com/home/why/2013/09/19/ios7-style-pure-css-toggle/
  .toggle-container {
    display: inline-block;
    vertical-align: middle;
    float: right;
    input[type='checkbox'] + label {
      margin: 0;
    }
  }
  .ios-toggle, .ios-toggle:active {
    position: absolute;
    top: -5000px;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
  }
  .checkbox-label {
    display: block;
    position: relative;
    width: 100px;
    height: 32px;
    border-radius: 16px;
    background: #d8d8d8;
    cursor: pointer;
  }
  .checkbox-label:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    height: 28px;
    width: 40px;
    border-radius: 14px;
    top: 2px;
    left: 2px;
    right: auto;
    background: white;
  }
  .checkbox-label:after {
    content: attr(data-off);
    display: block;
    position: absolute;
    z-index: 0;
    top: 4px;
    right: 14px;
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    text-align: right;
    color: rgba(0, 0, 0, 0.2);
    white-space: nowrap;
  }
  .ios-toggle:checked + .checkbox-label {
    background-color: #1cc678;
  }
  .ios-toggle:checked + .checkbox-label:before {
    left: calc(100% - 42px);
  }
  .ios-toggle:checked + .checkbox-label:after {
    content: attr(data-on);
    color: white;
    left: 4px;
    width: 36px;
  }
}
