// scss-lint:disable SelectorDepth NestingDepth QualifyingElement
.student-code {
  background-color: $background-light-grey-color;

  .info {
    margin: 40px 0;

    p {
      color: $primary-color;
      font-weight: 300;
      margin: 0;
      text-align: center;
    }
  }

  .search {
    margin: 0 auto;
    width: 350px;

    .code,
    .code:focus {
      background-image: image-url('input-arrow.png');
      background-position: 300px center;
      background-repeat: no-repeat;
      font-size: 22px;
      font-weight: 300;
      padding: 30px 50px 30px 20px;
    }

    .submit {
      @include ball(20px, 2px);
      background: transparent;
      border-color: $secondary-color;
      color: $secondary-color;
      float: right;
      line-height: 20px;
      margin-right: .5em;
      margin-top: -67px;
    }
  }

  .tutorial.enter-code {
    float: right;
  }
}

.student-courses {
  .wrapper {
    margin: 0 auto;
    width: 840px;

    ul {
      list-style: none;
      margin-right: -20px;

      .student-card {
        background-color: $white;
        border-radius: 3px;
        float: left;
        margin: 0 20px 20px 0;
        overflow: hidden;
        width: 260px;

        .top {
          overflow: hidden;
          padding: 15px 10px;
          position: relative;

          h3 {
            color: $primary-color;
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
          }

          .menu {
            margin: 0;
            padding: 0;
            position: absolute;
            right: 5px;
            top: 5px;

            a {
              color: rgba(151, 151, 151, .5); // NEW_COLOUR
            }
          }
        }

        .body {
          background-color: $secondary-color;
          color: $white;
          padding: 10px;

          .course-info {
            margin-bottom: 5px;
            overflow: hidden;

            h3 {
              color: $white;
              display: inline-block;
              float: left;
              font-size: 14px;
              font-weight: 300;
              margin: 0;
            }

            h4 {
              color: $white;
              display: inline-block;
              float: right;
              font-size: 10px;
              font-weight: 300;
              margin: 2px 0 0;
            }
          }
        }
      }
    }
  }
}

.student-start {
  padding-top: 40px;
}

.student-load {
  .loading {
    margin-top: 100px;

    p {
      color: $primary-color;
      font-size: 16px;
      font-weight: 300;
      padding: 20px;
    }
  }
}

.student-confirmation {
  h2 {
    font-size: 26px;
    font-weight: 300;
    margin: 40px 0;
    padding: 20px 0;
    text-align: center;
  }

  .button {
    margin: 0;
    width: 100%;

    &.success {
      background-color: $secondary-color;
      margin-top: 20px;
    }

    &.warning {
      background-color: $red-color;
    }
  }

  .course {
    border-radius: 3px;
    margin: auto;
    width: 30%;

    .box {
      @include radius;
      background-color: $white;
      box-shadow: $box-shadow;
      padding: 1em 2em;

      hr {
        margin: 10px 0;
      }
    }

    .form-group {
      overflow: hidden;

      .form-item {
        display: inline-block;

        label {
          color: $light-grey-color;
          font-size: 12px;
          font-weight: 300;
          margin-right: 30px;
          padding: 10px 0;
        }

        span {
          display: inline-block;
        }

        .text {
          font-size: 18px;
          font-weight: 300;
        }

        .strong {
          font-weight: 700;
        }
      }
    }
  }

  .profile-form {
    .form-group {
      .form-item {
        width: 100%;

        label {
          font-weight: 700;
        }

        .ios-label {
          display: inline-block;
          padding: 10px 0;
          vertical-align: middle;
        }

        input {
          width: 100%;
        }

        .ddd {
          display: inline-block;
          margin-right: 10px;
          width: 20%;
        }

        .phone {
          display: inline-block;
          width: 40%;
        }
      }

      .inline {
        width: 100%;
      }
    }
  }

  .user-info {
    img {
      border-radius: 18px;
      margin-right: 10px;
    }

    .border-white {
      border: 3px solid $white;
      width: 32px;
    }

    span.small {
      font-size: 12px;
    }
  }

  // css3 switch - http://www.designcouch.com/home/why/2013/09/19/ios7-style-pure-css-toggle/
  .toggle-container {
    display: inline-block;
    float: right;
    vertical-align: middle;

    input[type='checkbox'] + label {
      margin: 0;
    }
  }

  .ios-toggle,
  .ios-toggle:active {
    border: 0;
    height: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    top: -5000px;
    width: 0;
  }

  .checkbox-label {
    background: #d8d8d8; // NEW_COLOUR
    border-radius: 16px;
    cursor: pointer;
    display: block;
    height: 32px;
    position: relative;
    width: 100px;
  }

  .checkbox-label:before {
    background: $white;
    border-radius: 14px;
    content: '';
    display: block;
    height: 28px;
    left: 2px;
    position: absolute;
    right: auto;
    top: 2px;
    width: 40px;
    z-index: 1;
  }

  .checkbox-label:after {
    color: rgba(0, 0, 0, .2); // NEW_COLOUR
    content: attr(data-off);
    display: block;
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    position: absolute;
    right: 14px;
    text-align: right;
    top: 4px;
    white-space: nowrap;
    z-index: 0;
  }

  .ios-toggle:checked + .checkbox-label {
    background-color: $secondary-color;
  }

  .ios-toggle:checked + .checkbox-label:before {
    left: calc(100% - 42px);
  }

  .ios-toggle:checked + .checkbox-label:after {
    color: $white;
    content: attr(data-on);
    left: 4px;
    width: 36px;
  }
}

.student-dashboard {
  .students__topics {
    .topic__item__handle {
      display: none;
    }
  }

  .back__button {
    white-space: nowrap;
  }

  .event-show {
    .title {
      font-size: 1em;
      font-weight: 600;
    }
  }
  .topic__item__show .topic__item__description {
    margin-left: 4em;
    display: block;
    max-width: 100%;
  }

  .topic__item {
    padding: .5em 1em;

    .topic__item__image {
      float: left;
    }

    .topic__item__description,
    .topic__item__show {
      width: 100%;
    }
  }
}
