// scss-lint:disable SelectorDepth NestingDepth QualifyingElement
.student-start {
  padding-top: 40px;
}

.student-load {
  .loading {
    margin-top: 100px;

    p {
      color: $dunno-dark-color;
      font-size: 16px;
      font-weight: $font-weight-light;
      padding: 20px;
    }
  }
}

.students__topics {
  .topic__item {
    padding: .5em 1em;

    .topic__item__image {
      vertical-align: top;
    }

    .topic__item__description {
      padding-top: .5rem;
    }

    .topic__item__handle {
      display: none;
    }

    .topic__item__show,
    .topic__item__description {
      display: block;
      margin-left: 0;
      max-width: 100%;
    }
  }
}
