/* @override http://localhost:8888/dunno/css/form-signup.css */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* FORM */
.clearfix {
	clear: both;
}
.form-signup {
	max-width: 640px;
	width: 100% !important;
	position: relative;
	margin: 0 auto;
	color: #FFF;
	background: #2B3738-;
	font-family: 'Lato', sans-serif;
}
.form-signup h2 {
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 1.6em;
	margin-top: 50px;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	padding-bottom: 0px;
}
.form-element{
	margin-bottom: 20px;	
}
.form-signup label {
	display: block;
	font-weight: 300;
	font-size: .9em;
	margin-bottom: 5px;
}
.form-element-radios label {
	display: inline;
	font-weight: 300;
}
.form-element-radios .form-radio{
	margin-right: 8px;
}
.radio-element{
	display: block;
	height: 40px;
	clear: both;
	line-height: 40px;
	font-size: 1.1em;
}
.radio-element.disabled label {
	opacity: .4;
}
.form-signup .form-text {
	height: 50px;
	width: 94%;
	background: transparent;
	border: 2px solid #FFF;
	opacity: .5;
	color: #FFF;
	font-size: 1em;
	-webkit-transition: background .3s ease-out;
	-moz-transition: background .3s ease-out;
	transition: background .3s ease-out;
	padding: 3px 2.5% ;
}
.form-signup .form-text:focus{
	opacity: 1;
	background: #171E1F;
	outline: none;
	
}
.form-element-mail {
	width: 50%;
	float: left;
	margin-right: 5%;	
}
.form-element-fone {
	width: 45%;	
	float: left;
}
.form-element-fone .prefix {
	width: 20%;
	float: left;
}

.form-element-fone .phone_number {
	width: 88%;
	margin-left: 5%;
	float: left;
}
.form-submit {
	width: 300px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 1.1em;
	font-weight: 300;
	text-transform: uppercase;
	display: block;
	position: relative;
	float: left;
	color: #FFF;
	border: 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-top: 10px;
	background: #1CC678;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-out;
	transition: background .3s ease-in-out;
	cursor: pointer;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.form-submit:hover{
	background: #1AA062;
}
.form-cancel {
	background: none;
	border: 1px solid #FFF;
	opacity: .4;
}
@media screen and (max-width: 640px){

.form-signup h2 {
	font-size: 1em;
	margin-top: 20px;
	padding-bottom: 20px;
}
.form-signup {
	width: 88% !important;
	margin-left: 0;
}
.form-element-mail {
	width: 100%;
	margin-right: 0;	
}
.form-element-fone .phone_number {
	width: 94%;
	margin-left: 0;
}
.form-element-fone {
	width: 100%;	
	float: left;
}
.form-submit {
	width: 100%;
}
.form-signup .form-text {
	height: 40px;
}

}
