/* @override 
	http://localhost:3000/css/style-mobile.css
*/

/*! Estilo para resolução menor que 640px */

@media screen and (max-width: 640px) {

body {
  font-size: .9em;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 10px auto 30px;
  width: 94%;
}

h3 {
  font-size: 1em;
  font-weight: 300;
  padding-top: 60px;
}

.intro {
  font-size: 1.05em;
  width: 94%;
  margin: 0 auto 50px;
}

.bt-call:link, 
.bt-call:active,
.bt-call:visited {
  font-size: 1.1em;
  font-weight: 300;
  height: 54px;
  line-height: 54px;
  width: 100%;
}

.bt-call-small {
  font-size: .9em;
  height: 54px;
  line-height: 54px;
  margin-top: 0;
}

/* HEADER */

.header-menu {
  padding-top: 30px;
}

.tagline .logo {
  background-size: cover;
  display: block;
  height: 38px;
  margin: 0 auto 50px;
  padding-top: 0;
  width: 202px;
}

.menu {
  display: none;
}

.login:link,
.login:active,
.login:visited {
  display: block;
  font-size: .6em;
  height: 28px;
  line-height: 28px;
  margin-top: 6px;
  padding: 0 12px;
}

.header-menu.active-on-top {
  display: none;
}

.institucional .header-menu.active-on-top {
  display: block;
}

.login {
  font-size: 1.2em;
  margin-top: 5px;
}

.tagline {
  padding-bottom: 50px;
  padding-top: 150px;
}

.tagline p {
  font-size: 1.6em;
  font-weight: 300;
  margin-top: 20px;
  opacity: 1;
}

.block-1 {
  padding-top: 60px;
}

/* QUOTE */

.block-2 {
  padding: 80px 0;
}
blockquote {
  font-size: 1.6em;
}
cite {
  font-weight: 300;
}


/* APP SCREENS */

.block-3 {
  background: url('../img/bg-screens.png') no-repeat right bottom;
  background-size: 80%;
  padding-bottom: 300px;
  padding-top: 60px;
}
.block-3 .intro {
  margin: 0;
  width: 100%;
}

/* FEATURES */
.block-4 {
  padding: 60px 0 0;
}
.block-4-box {
  width: 100%;
  margin-right: 0;
  margin-bottom: 60px;
  float: none;
}
.block-4-box h4 {
  font-weight: 300;
  margin: 20px 0 10px;
}

/* FORM */
.block-5 {
  padding: 60px 0;
}
.bt-call-wrapper {
  width: 100%;
}
.bt-call-wrapper .form-text {
	 width: 54%;
}
.bt-call-wrapper .form-submit {
	width: 41%;
}

/* QUEM SOMOS */

.block-6 {
  padding-top: 60px;
}

/* LOGOS CLIENTES */

.trusted-by {
  padding: 30px 0;
}

.trusted-by h3 {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.trusted-by img {
  height: 80px;
  margin-right: 40px;
}

.bt-call-wrapper {
  width: 100%;
}

.last-call {
  padding: 40px 20px;
}

/* FOOTER */

footer {
  font-size: 1.1em;
  line-height: 2em;
}

footer a.link-footer {
  margin-left: 0;
  display: block;
}

.social-icons {
  clear: both;
  display: block;
  float: none;
  height: 50px;
  margin-top: 30px;
  width: 100%;  
}

.social-icons a {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
  opacity: 1;
}

/* FANCYBOX */

.fancybox-close {
  display: none !important;
} 

}
