/* @override
	http://localhost:8888/dunno/css/style.css
	http://localhost:3000/css/style.css
*/

@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: 'Lato', sans-serif;
  color: #2b3738;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

a:link {
  text-decoration: none;
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  transition: color .3s ease-out;
  color: #1cc678;
}

a:hover {
  color: #1cc678;
}

strong {
  font-weight: 700;
}

.grid-wrapper {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 0 auto 0;
  font-weight: 300;
  line-height: 1.2em;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 0 auto 50px;
  width: 90%;
  font-weight: 300;
  line-height: 1.2em;
  text-transform: uppercase;
}

h2 strong {
  color: #1cc678;
  font-weight: 300;
}

h3 {
  text-align: center;
  color: #1cc678;
  text-transform: uppercase;
  padding-top: 100px;
  font-weight: 300;
  font-size: 1.3em;
}

.bt-call:link, 
.bt-call:active,
.bt-call:visited {
  width: 400px;
  height: 78px;
  text-align: center;
  line-height: 78px;
  font-size: 1.4em;
  font-weight: 3.00;
  text-transform: uppercase;
  display: block;
  position: relative;
  margin: 0 auto;
  color: #FFF;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-top: 50px;
  background: #1cc678;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-out;
  transition: background .3s ease-in-out;
}

.bt-call:hover {
  background: #1cc678;
}

.bt-call-small {
  height: 60px;
  line-height: 60px;
  font-size: 1em;
  margin-top: 80px;
}

.bt-call-small-dark {
  height: 60px;
  line-height: 60px;
  font-size: 1em;
  margin-top: 80px;
  background: #2b3738;
}

.bt-call-small-dark:hover {
  background: #171E1F;
}

/* HEADER */

header {
  background: url('../img/bg-header.png') no-repeat;
  background-size: cover;
}

.logo-fixed {
  width: 164px;
  height: 31px;
  float: left;
  background: url('../img/logo-dunno.png') no-repeat;
  background-size: cover;
  text-indent: -90000px;
  display: none;
}

.header-menu {
  padding-top: 55px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 300;
  position: absolute;
  z-index: 100;
  top: 0;
}

/** MENU FIXO **/

.header-menu.active-on-top {
  position: fixed;
  top: 0;
  z-index: 1000;
  margin: 0;
  padding-top: 15px;
  height: 56px;
  background: #2b3738;
  border-bottom: 1px solid #273333;
}

.header-menu.active-on-top {
  animation-duration: .6s;
  animation-name: slidein;
  -webkit-animation-duration: .6s;
  -webkit-animation-name: slidein;
  -moz-animation-duration: .6s;
  -moz-animation-name: slidein;
}

.header-menu.active-on-top .logo-fixed {
  width: 122px;
  height: 23px;
  margin-top: 8px;
  display: block;
}

@-webkit-keyframes slidein {
  from {
    top: -100px;
}

to {
  top: 0;
}

}

/**/

.menu {
  height: 30px;
  line-height: 30px;
  float: left;
  width: auto;
  margin-top: 6px;
}

.menu li {
  height: 30px;
  line-height: 30px;
  display: block;
  float: left;
  margin-left: 30px;
  font-size: .95em;
}

.menu li a {
  height: 30px;
  line-height: 30px;
  display: block;
  float: left;
  color: #1cc678;
}

.menu li a:hover {
  color: #FFF;
}

.login:link,
.login:active,
.login:visited {
  float: right;
  height: 34px;
  line-height: 34px;
  display: block;
  color: #fff;
  margin-top: 2px;
  margin-left: 1em;
  border: 1px solid #fff;
  opacity: .9;
  padding: 0 16px;
  font-weight: 300;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.login:hover {
  color: #1cc678;
  border: 1px solid #1cc678;
  opacity: 1;
}

.tagline {
  text-align: center;
  color: #FFF;
  width: 100%;
  clear: both;
  display: block;
  padding-bottom: 180px;
  padding-top: 220px;
}

.tagline h1 {
  width: 233px;
  height: 44px;
  background: url('../img/logo-dunno.png') no-repeat;
  background-size: cover;
  text-indent: -90000px;
  position: relative;
  text-align: center;
  margin: 0 auto 50px;
  float: none;
  clear: both;
}

.tagline p {
  font-size: 2em;
  font-weight: 300;
  margin-top: 20px;
  opacity: 1;
  line-height: 1.4em;
  clear: both;
  display: block;
}

.intro {
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.6em;
  width: 90%;
  margin: 0 auto 80px;
  opacity: .7;
}

.block-1 {
  padding-top: 100px;
}

/* QUOTE */

.block-2 {
  background: #1cc678;
  color: #fff;
  padding: 100px 0;
}

.quote-icon {
  width: 65px;
  height: 46px;
  display: block;
  background: url('../img/i-quote.png') no-repeat;
  background-size: cover;
}

blockquote {
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
  line-height: 1.6em;
  margin: 20px 0;
}

cite {
  font-weight: 100;
}

/* APP SCREENS */

.block-3 {
  background: url('../img/bg-screens.png') no-repeat right bottom;
  background-size: 45%;
  padding-bottom: 80px;
  padding-top: 120px;
}

.block-3 * {
  text-align: left;
}

.block-3 h2 {
  margin-left: 0;
  margin-top: 0;
}

.block-3 .intro {
  margin: 0;
  width: 50%;
}

.block-3 p {
  margin-bottom: 20px;
}

/* FEATURES */

.block-4 {
  background: #f4f4f4;
  padding: 100px 0;
}

.block-4-box {
  width: 25%;
  margin-right: 12%;
  float: left;
  text-align: center;
  font-weight: 100;
}

.block-4-box:nth-last-child(2) {
  margin-right: 0 !important;
}

.block-4-box h4 {
  text-align: center;
  color: #1cc678;
  text-transform: uppercase;
  margin: 20px 0 40px;
  font-weight: 300;
  font-size: 1.3em;
}

.block-4-box p {
  font-weight: 300;
  line-height: 1.6em;
  opacity: .8;
}

.block-4-icon {
  width: 58px;
  height: 58px;
  display: block;
  margin: 0 auto;
}

.block-4-icon1 {
  background: url('../img/i-feature-teacher-1.png') no-repeat;
  background-size: cover;
}

.block-4-icon2 {
  background: url('../img/i-feature-teacher-2.png') no-repeat;
  background-size: cover;
}

.block-4-icon3 {
  background: url('../img/i-feature-teacher-3.png') no-repeat;
  background-size: cover;
}

/* FORM */

.block-5 {
  background: #1cc678;
  color: #fff;
  padding: 100px 0;
}

.block-5 h2 {
  margin-bottom: 20px;
}

.block-5 .intro {
  margin-bottom: 40px;
  opacity: 1;
}

.bt-call-wrapper {
  width: 600px;
  margin: 0 auto;
  position: relative;
  background-size: 100%;
}

.bt-call-wrapper .bt-call {
  margin-top: 0;
}

.bt-call-wrapper .form-text {
  width: 64%;
  height: 50px;
  padding: 0 10px !important;
  float: left;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-right: 0;
  margin-left: 0%;
}

.bt-call-wrapper .form-submit {
  background: #2b3738;
  color: #FFF;
  border: 0;
  height: 50px;
  line-height: 48px;
  width: 32%;
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-size: .8em;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-transition: background .3s ease-out;
  -moz-transition: background .3s ease-out;
  transition: background .3s ease-out;
  margin-left: -3px;
}

.bt-call-wrapper .form-submit:hover {
  background: #171E1F;
}

/* QUEM SOMOS */

.block-6 {
  padding-top: 100px;
}

/* LOGOS CLIENTES */

.trusted-by {
  padding: 80px 0;
  text-align: center;
  background: #fff;
  border-top: 1px solid #e0e0e0;
}

.trusted-by h3 {
  font-size: 1.2em;
  opacity: .5;
  margin-bottom: 40px;
  padding-top: 0;
  color: #000;
}

.trusted-by img {
  margin-right: 80px;
}

.trusted-by img:nth-last-child(1) {
  margin: 0;
}

/* FOOTER */

footer {
  padding: 40px 0;
  background: #FFF;
  color: #aaafaf;
  font-weight: 300;
  font-size: .9em;
  border-top: 1px solid #e0e0e0;
}

.rights {
  font-weight: 400;
}

footer a.link-footer {
  margin-left: 20px;
}

.social-icons {
  float: right;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin-top: -12px;
  text-indent: -9000px;
  margin-left: 12px;
  opacity: 1;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.social-icons a:hover {
  opacity: 1;
}

.i-facebook {
  background: url('../img/i-facebook.png');
  background-size: cover;
  height: 40px;
  width: 40px;
}

.i-twitter {
  width: 40px;
  height: 40px;
  background: url('../img/i-twitter.png');
  background-size: cover;
}

/* INSTITUCIONAL */

.text-section {
  padding-top: 130px;
}

.text-section h1 {
  font-size: 2.6em;
  text-align: left;
  margin: 10px auto 60px;
  line-height: 1.2em;
}

.text-section p {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 40px;
}

.contact {
	padding-top: 100px;
}
