---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=d28ad89fe55857807c1538c6d928acfea90924ffad49e1ee5447f694a996562a&auth_timestamp=1392642199&auth_version=1.0&body_md5=8edd5d5b9375dabe4b364656a80a985e
    body:
      encoding: UTF-8
      string: "{\"name\":\"up_down_vote_message\",\"channels\":[\"event_7e843ca4-1459-4de8-9c1c-b156cc56f774\"],\"data\":\"{\\\"up\\\":0,\\\"down\\\":1}\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 17 Feb 2014 13:03:20 GMT
recorded_with: VCR 2.8.0
