---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=d3ee437d1166491f464ec4230c05dff0734bddd5d8a11ab4f9f3d657753c5ccd&auth_timestamp=1415023394&auth_version=1.0&body_md5=6f8b2f4c9ef85c39a1549dc1521a84c8
    body:
      encoding: UTF-8
      string: '{"name":"up_down_vote_message","channels":["event_ba014fef-726b-4954-a729-6a35d2ada468"],"data":"{\"id\":1600,\"created_at\":\"2014-11-03T12:03:14.851-02:00\",\"updated_at\":\"2014-11-03T12:03:14.851-02:00\",\"content\":\"I
        really like that\",\"up_votes\":0,\"down_votes\":1,\"student\":{\"id\":5873,\"name\":\"MyString\",\"email\":\"mrcia_carvalho@melo.biz\"}}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Nov 2014 14:03:15 GMT
recorded_with: VCR 2.9.3
