---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=f25a39c4db6379c0da151ac38196c175a0fa7b52682249a8721ed8c76676ec39&auth_timestamp=1415023394&auth_version=1.0&body_md5=19251d0ccb544c1c530a45e4b138cbe4
    body:
      encoding: UTF-8
      string: '{"name":"up_down_vote_message","channels":["event_95abf717-7bae-4a74-8d22-038a9c8f0971"],"data":"{\"id\":1599,\"created_at\":\"2014-11-03T12:03:14.275-02:00\",\"updated_at\":\"2014-11-03T12:03:14.275-02:00\",\"content\":\"I
        really like that\",\"up_votes\":0,\"down_votes\":1,\"student\":{\"id\":5870,\"name\":\"MyString\",\"email\":\"warley@franco.biz\"}}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 03 Nov 2014 14:03:14 GMT
recorded_with: VCR 2.9.3
