---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=f25991abb3e69e252bacd9757855e4cfe14a567937f28a0e4c1bbf0ea0bcde91&auth_timestamp=1392642200&auth_version=1.0&body_md5=4c7a89257885d495e4e96725bacc2b83
    body:
      encoding: UTF-8
      string: "{\"name\":\"up_down_vote_message\",\"channels\":[\"event_93e65a7b-7d60-4d9e-9bac-3cb34c065e2a\"],\"data\":\"{\\\"up\\\":0,\\\"down\\\":1}\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 17 Feb 2014 13:03:21 GMT
recorded_with: VCR 2.8.0
