.catalog__page {
  .media__data,
  .catalog__media__body {
    margin-left: 5em;
  }

  .media__load__more {
    margin-top: 1em;
  }

  .media__title {
    word-break: break-all;
  }
}

.catalog__search {
  position: relative;

  .icon {
    left: .5rem;
    opacity: .5;
    position: absolute;
    top: .6rem;
  }

  label,
  input {
    margin: 0;
  }

  input {
    min-width: 21rem;
    padding-left: 1.5rem;
  }

  input:focus + .icon {
    color: $dunno-green-color;
    opacity: 1;
  }
}
