.course {
  position: relative;

  &__actions {
    position: absolute;
    right: 1rem;
    top: .5rem;

    a {
      color: $dunno-dark-color;
      padding: 0 .5rem;
    }
  }

  &s {
    @include grid-block();
    @include grid-layout(1);
    padding: 2rem 0;

    @include breakpoint(medium) {
      @include grid-layout(2);
    }

    @include breakpoint(large) {
      @include grid-layout(3);
    }

    .course__card:hover {
      @include box-shadow(0, .125rem, 0, $dark-grey-color);
    }

    &__page {
      @include grid-content();
      @include grid-nest(true);
    }

    &__wrapper {
      @include grid-container();
    }

    &__inactive {
      padding: 2rem 0;

      &__info {
        background: $white;
        border-radius: $global-radius;
        margin-top: 2rem;
        padding: 1rem 2rem;
        text-align: center;
      }
    }

    &__blankslate {
      margin: 2rem 0;
      text-align: center;

      &__header {
        margin-bottom: 2rem;
      }

      &__content {
        @include grid-block();
        @include grid-align(center);
        align-items: center;

        > p {
          margin: 0 2rem;
        }
      }
    }
  }

  &__card {
    @extend %card;
  }

  &__date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title {
      flex-basis: 100%;
    }
  }

  &__start__date,
  &__end__date {
    flex-basis: 47%;
    position: relative;
    text-align: center;

    @include breakpoint(small only) {
      flex-basis: 100%;
    }
  }
}

.remove__course__end__date {
  left: 0;
  position: absolute;
  text-align: center;
  top: -2rem;
  width: 100%;
}
