.course__detail__page {
  @include grid-content();
  @include grid-nest(true);

  .course {
    &__header {
      @include breakpoint(small only) {
        margin-bottom: 0;
      }

      &__wrapper {
        @include grid-block($wrap: true);
        @include grid-container();
        overflow: visible;
        padding: 1rem 0 0;

        @include breakpoint(small only) {
          text-align: center;
        }
      }
    }

    &__navigation {
      align-self: flex-end;
      flex-basis: 100%;
      padding-top: 1rem;

      @include breakpoint(small only) {
        align-self: center;
      }

      ul {
        @extend %menu-bar;
        @include menu-bar-layout(horizontal, false);
        @include menu-bar-style(
          $background: $transparent,
          $background-hover: rgba($body-background, .5),
          $background-active: $body-background,
          $color: $dunno-dark-color,
          $color-hover: $dunno-dark-color,
          $color-active: $dunno-dark-color,
          $autocolor: false
        );

        @include breakpoint(small only) {
          @include menu-bar-style(
            $background: $transparent,
            $background-hover: $white,
            $background-active: $white,
            $color: $dunno-dark-color,
            $color-hover: $dunno-dark-color,
            $color-active: $dunno-dark-color,
            $autocolor: false
          );

          .is-active a:hover {
            background-color: $white;
          }
        }

        @include breakpoint(medium up) {
          .is-active a:hover {
            background-color: $body-background;
          }

          > li {
            margin: 0 1rem 0 0;

          }
        }

        a {
          border-radius: $global-radius $global-radius 0 0;
        }
      }
    }

    &__details {
      @include breakpoint(small only) {
        display: none;
      }
    }

    &__dates {
      text-transform: uppercase;
    }

    &__info {
      padding-right: 1rem;

      @include breakpoint(small only) {
        flex-basis: 100%;
        margin: 0 auto;
      }
    }

    &__actions {
      @include grid-block($orientation: vertical);
      align-items: flex-end;
      overflow: visible;
      padding-left: 1rem;

      @include breakpoint(small only) {
        align-items: center;
      }

      &__show {
        color: $dunno-dark-color;

        &:hover {
          color: $black;
        }
      }

      .action-sheet,
      .action-sheet.is-active {
        transform: translateX(-96.7%) translateY(106%);

        &::before,
        &::after {
          left: 96.5%;
        }
      }
    }

    &__edit {
      margin-bottom: .5rem;

      .icon-settings {
        color: $dunno-dark-color;
        font-size: 1.25rem;
        vertical-align: middle;

        &:hover {
          opacity: .5;
        }
      }
    }

    &__notify__members {
      @extend %darkhollow__button;
    }

    &__content {
      display: block;
      margin: 0 0 2rem;
      padding: 1rem 0;

      @include breakpoint(small only) {
        padding: 0;
      }
    }
  }
}
