.course__detail__page {
  @include grid-block();
  @include grid-orient(vertical);

  .course {
    &__header {
      @include grid-block();
      margin-bottom: 1rem;

      &__wrapper {
        @include grid-block();
        @include grid-container();
        @include grid-wrap(true);
        justify-content: space-between;
        padding-top: 1rem;
      }
    }

    &__navigation {
      align-self: flex-end;
      flex-basis: 100%;
      padding-top: 1rem;

      ul {
        @extend %menu-bar;
        @include menu-bar-layout(horizontal, false);
        @include menu-bar-style(
          $background: transparent,
          $background-hover: $body-background,
          $background-active: $body-background,
          $color: $dunno-dark-color,
          $color-hover: $dunno-dark-color,
          $color-active: $dunno-dark-color,
          $autocolor: false
        );
        > li > a {
          border-radius: $global-radius $global-radius 0 0;
        }
      }
    }

    &__dates {
      text-transform: uppercase;
    }

    &__actions {
      @include grid-block();
      @include grid-orient(vertical);
      align-items: flex-end;
    }

    &__edit {
      margin-bottom: .5rem;

      .icon-cog {
        color: $dunno-dark-color;
        font-size: 1.25rem;
        vertical-align: middle;

        &:hover {
          opacity: .5;
        }
      }
    }

    &__notify__members {
      @extend .button;
      @extend .transparent;
      @extend .secondary;
      @extend .outline;
      @extend .tiny;
    }

    &__content {
      @include grid-content();
    }
  }
}
