.lesson__mobile__navigation {
  background-color: $white;
  border-top: $divider;
  display: none;

  @include breakpoint(small only) {
    display: flex;

    .mobile__day__navigation {
      align-items: center;
      display: flex;
      white-space: nowrap;
    }
  }

  .icon {
    flex-basis: 1rem;
  }

  span {
    background: transparent;
    border: 0;
    flex: 1;
    padding: .75rem 1rem;
    text-transform: uppercase;

    small {
      display: block;
    }
  }
}

.previous__event {
  @include side-radius(left, $global-radius);
  padding-right: 1.5em;

  .icon {
    float: left;
  }
}

.next__event {
  @include side-radius(right, $global-radius);
  padding-left: 1.5em;

  .icon {
    float: right;
  }
}

.event__status {
  margin-bottom: 1rem;

  @include breakpoint(small only) {
    margin: 1rem 0;
  }

  .button {
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.add__content__cta {
  color: $dark-grey-color;
  display: block;
  font-size: .75rem;
  text-align: center;
  text-transform: uppercase;
}

.lesson__page {
  .catalog__medias {
    border: 0;
  }

  .catalog__media {
    .media__select__label {
      margin-top: .875rem;
    }

    .media__data {
      font-size: .875rem;
    }

    .media__title {
      line-height: inherit;
    }
  }

  .type__file {
    p {
      color: $medium-grey-color;
      margin: 0;
      padding: 1rem 0;
      text-align: center;
    }
  }

  .page__header {
    .lesson__page__header {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0 0 1rem;
      position: relative;

      @include breakpoint(small only) {
        flex-wrap: wrap;
      }

      .page__header__title {
        @include breakpoint(small only) {
          flex-basis: 100%;
          height: auto;
          margin: 0 0 1rem;
          position: static;
        }
      }
    }
  }

  .close__lesson {
    position: absolute;
    right: 1rem;
    top: .15rem;

    @include breakpoint(small only) {
      position: static;
    }
  }

  .lesson {
    &__previous,
    &__next {
      align-items: center;
      background: $white;
      border: $divider;
      cursor: pointer;
      display: flex;
      font-size: .875rem;
      line-height: 1rem;
      margin-top: .25rem;
      padding: .75rem;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        opacity: .66;
      }

      span {
        flex-grow: 1;
      }

      small {
        color: $dark-grey-color;
        display: block;
        font-size: rem-calc(12);
      }

      .icon {
        color: $dunno-green-color;
        flex-basis: 1.5rem;
        vertical-align: middle;
      }
    }

    &__previous {
      border-right: 0;
    }

    &__next {
      border-left: 0;
    }

    &__date__weekday {
      display: block;
      text-transform: uppercase;
    }

    &__date__time {
      color: $medium-grey-color;
    }

    &__date__classroom {
      display: block;
    }

    &__header {
      @include side-radius(top, $global-radius);
      background: $white;
      border: $divider;
      border-bottom: 0;
      display: flex;
      padding: 1em .75em;
      position: relative;
      z-index: 1;

      @include breakpoint(small only) {
        border-radius: 0;
      }

      .diary__time {
        color: $white;
        font-size: .75em;
        line-height: 2em;
        opacity: .5;
        text-align: right;

        .icon {
          vertical-align: middle;
        }
      }
    }

    &__canceled {
      color: $red-color;
    }

    &__published {
      color: $dunno-green-color;
    }

    &__status {
      align-self: center;
      margin-left: auto;
      text-transform: uppercase;

      &__info {
        background-color: $white;
        border: $divider;
        border-bottom: 0;
        border-top: 0;

        strong {
          color: $white;
        }

        p {
          margin-bottom: 0;
        }

        strong,
        p {
          display: block;
          padding: .75rem;
          text-align: center;
        }

        .button {
          margin: .5rem 0 0;
        }

        @include breakpoint(small only) {
          p {
            span {
              display: block;
              padding: 1rem 0 0;
            }
          }
        }

        &__draft {
          strong {
            background-color: $dunno-dark-color;
          }
        }

        &__canceled {
          strong {
            background-color: $red-color;
          }
        }

        &__published {
          strong {
            background-color: $dunno-green-color;
          }
        }
      }

      &__actions {
        background: $white;
        border: $divider;
        border-bottom: 0;
        border-top: 0;
        padding: 0 .75rem 1rem;

        .button {
          margin-bottom: 0;
        }
      }
    }
  }
}
