.send__notification {

  .modal__content {
    @include grid-block();

    form {
      flex: 1;
      margin-right: 2rem;

      .submit {
        margin-left: auto;
        margin-right: 0;
        margin-top: -3rem;
      }
    }
  }

  .message {
    &__counter {
      color: $light-grey-color;
      display: block;
      font-size: .875em;
      line-height: 3em;
    }

    &__preview__content {
      background: $body-background;
      border-radius: $global-radius;
      padding: 1rem;
    }
  }
}
