.profile__page {
  @include grid-block();
  @include grid-orient(vertical);

  .profile {
    @include grid-container();
    padding-top: 2rem;

    form {
      min-width: 30vw;

      @include breakpoint(small only) {
        min-width: 100vw;
      }
    }

    .submit {
      display: block;
      margin: 1rem auto 0;
    }

    &__change__password,
    .cancel {
      margin-top: 1rem;
      text-align: center;
    }
  }
}
