.session__page {
  background-color: $dunno-dark-color;
  min-height: 100%;
  padding-bottom: 2em;

  @include breakpoint(small only) {
    min-height: 100vh;
    padding-bottom: 2em;
  }

  .root__proxy {
    display: block;
    padding: 3rem 0;
    text-align: center;

    a {
      display: inline-block;
    }

    @include breakpoint(small only) {
      padding: 1rem 0;
    }
  }

  .logo {
    width: 10rem;

    @include breakpoint(small only) {
      width: 7rem;
    }
  }

  h4 {
    padding: 1rem 0 2rem;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(small only) {
      padding: 1rem 0;
    }
  }

  .password__recovery {
    float: right;
    font-size: .875em;
    line-height: 1.8em;
  }

  .footer__links {
    text-align: center;

    a {
      margin: 0 .5rem;
    }
  }

  .session__error {
    color: $red-color;
  }

  .session__error,
  .session__amnesia {
    text-align: center;
  }
}
