$card-border: solid 1px #dddddd;

@mixin rounded-container($radius:$global-radius) {
  & > div:nth-child(1) {
    @include side-radius(top, $radius);
  }
  & > div:nth-last-child(1) {
    @include side-radius(bottom, $radius);
  }
}

.card {
  @include rounded-container;
}

.card-title {
  font-size: 24px;
  line-height: 50px;
}

.card-subtitle {
  font-size: 14px;
  
}

.card-content {
  background-color: white;
  font-size: 14px;
}
