
.card
  & > div:nth-child(1)
    @include side-radius(top)
  & > div:nth-last-child(1)
    @include side-radius(bottom)

.card-title
  font-size: 24px
  line-height: 50px
.card-subtitle
  font-size: 14px
  border-top: 1px solid $primary-color
.card-content
  background-color: #ffffff
  font-size: 14px
