$card-border: solid 1px #dddddd;

.card {
  & > div:nth-child(1) {
    @include side-radius(top);
  }
  & > div:nth-last-child(1) {
    @include side-radius(bottom);
  }
}

.card-title {
  font-size: 24px;
  line-height: 50px;
}

.card-subtitle {
  font-size: 14px;
  
}

.card-content {
  background-color: white;
  font-size: 14px;
}
