// BASIC COLORS
$primary-color: #2b3738;
$secondary-color: #1cc678;

$red-color: #ff5950;
$orange-color: #ff926a;
$brown-color: #d18c66;
$yellow-color: #fedd59;
$blue-color: #54c5ff;
$purple-color: #a893ff;

// BASIC PALETTE
$black: #000;
$dark-grey-color: #70797a;
$medium-grey-color: lighten($dark-grey-color, 16%);
$light-grey-color: #bebebe;
$white: #fff;

// TODO: Generate this from BASIC PALETTE
$background-light-grey-color: #f2f2f2;
$navigation-event-border-color: #cccecf;
$dropdown-border-color: #d7d9da;
$disabled-color: #c5c5c5;


