//CORES
//Dunno grey
$primary-color: #2B3738

//Dunno green
$secondary-color: #1cc678

$red-color: #ff5950
$yellow-color: #fedd59
$blue-color: #54c5ff
$orange-color: #ff926a
$purple-color: #a893ff
$brown-color: #d18c66

$inactive-color: #c5c5c5