//CORES
//Dunno grey
$primary-color: #2b3738;

//Dunno green
$secondary-color: #1cc678;

$dark-grey-color: #70797a;
$light-grey-color: #bebebe;
$extra-light-grey-color: #f2f2f2;
$red-color: #ff5950;
$yellow-color: #fedd59;
$blue-color: #54c5ff;
$orange-color: #ff926a;
$purple-color: #a893ff;
$brown-color: #d18c66;

$disabled-color: #c5c5c5;
