// BASIC COLORS
$primary-color: #2b3738;   // Dunno grey
$secondary-color: #1cc678; // Dunno green

$red-color:     #ff5950;
$yellow-color:  #fedd59;
$blue-color:    #54c5ff;
$orange-color:  #ff926a;
$purple-color:  #a893ff;
$brown-color:   #d18c66;

// BASIC PALETTE
$black: #000;
$dark-grey-color:   #70797a;
$light-grey-color:  #bebebe;
$white: #fff;


$background-light-grey-color: #f2f2f2;


$navigation-event-border-color: #cccecf;
$dropdown-border-color: #d7d9da;

$disabled-color: #c5c5c5;
