.icon {
  &.icon-empty {
    @extend .icon-circle-small-outline;
    color: $light-grey-color;
  }
  &.icon-draft {
    @extend .icon-circle-small;
    color: $light-grey-color;
  }
  &.icon-published {
    @extend .icon-circle-small;
    color: $secondary-color;
  }
  &.icon-canceled {
    @extend .icon-circle-small;
    color: $red-color;
  }
  &.icon-happened {
    @extend .icon-check;
    color: $secondary-color;
  }
}
