.icon {
  &.icon-closed, &.icon-opened {
    width: 200px;
    @extend .icon-file-check;
    color: $secondary-color;
  }
  &.icon-available {
    @extend .icon-file-lock;
    color: $dark-grey-color;
  }
}
