$overlay-z-index: 999;

.has-overlay {
  position: relative;

  .overlay {
    display: none;
  }

  .touch &,
  .no-touch &:hover {
    .overlay {
      display: block;
    }
  }
}

.overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $overlay-z-index;
}
