$overlay-z-index: 999;

.has-overlay {
  position: relative;

  .overlay {
    opacity: 0;
  }

  .no-touch &:hover {
    .overlay {
      opacity: .9;
    }
  }
}

.overlay {
  @include radius(.3125em);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all .1s ease-in-out;
  width: 100%;
  z-index: $overlay-z-index;
}
