
.scheme-1
  border-color: #dcbf4d
  background: #FEDD59
  .secondary-color
    color: #B19B40
.scheme-2
  background: #54C5FF
  border-color: #437E9B
  .secondary-color
    color: #437E9B
.scheme-3
  background: #FF926A
  border-color: #B06449
  .secondary-color
    color: #B06449
.scheme-4
  background: #A893FF
  border-color: #7567B4
  .secondary-color
    color: #7567B4
