.required {
  color: $red-color;
  font-size: 1.75em;
  font-weight: $font-weight-bold;
  line-height: 0;
  vertical-align: -.5rem;
}

.ng-invalid.ng-dirty,
.ng-invalid.ng-dirty:focus {
  border-color: $red-color;
}

input[type=checkbox] {
  margin: 0 .5em 0 0;
}

.form__box {
  // style defined inside components/_content-box.scss
  padding: 2rem 1.75rem;

  label {
    small {
      color: inherit;
    }
  }

  .validation {
    float: right;
    position: relative;

    .icon {
      position: absolute;
      right: .5rem;
      top: 2rem;
    }
  }

  .icon-plain-check {
    color: $dunno-green-color;
  }

  .icon-error {
    color: $red-color;
  }
}
