.required {
  color: $red-color;
  font-size: 1.25em;
  font-weight: $font-weight-bold;
  line-height: 0;
  vertical-align: middle;
}

.ng-invalid.ng-dirty,
.ng-invalid.ng-dirty:focus {
  border-color: $red-color;
}

.done {
  label {
    color: $light-grey-color;
  }
}

input[type=checkbox] {
  margin: 0 .5em 0 0;
}

@mixin dotted-input($border-color) {
  border-bottom: 1px dashed $border-color;
  border: 0;
  box-shadow: none;
  outline: none;
}

.standalone-form {
  margin: auto;

  .box {
    @include box-shadow();
    @include radius();
    background: $white;
    padding: 1.5em;
    a {
      color: $dunno-green-color;
    }
  }

  label {
    text-transform: uppercase;
  }

  [disabled]:not(input[type="submit"]) {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: $dark-grey-color;
    padding: 0;
  }

  [type="submit"] {
    @extend .btn-style-1;
    @extend .button;
    @include radius;
  }
}
