%inverted__section {
  background-color: $dunno-dark-color;
  color: $white;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h6 {
    color: $white;
  }
}

.top-bar {
  &.at-the-top {
    background: transparent;
    padding-top: 4em;

    * {
      background: transparent;
    }
  }

  .name {
    .logo {
      max-height: 1.5rem;
    }
  }

  .button.outline {
    border-color: transparentize($white, .7);
    color: $white;
    height: auto;
    padding: 1rem;
    top: 0;
  }
}

section {
  &.students__section,
  &.teacher__section,
  &.testimonials__section {
    padding: 8em 0;
  }

  &.students__section,
  &.teacher__section {
    h4 {
      font-size: 2.75em;
      font-weight: $font-weight-light;
    }
  }

  &.teacher__section {
    background-color: $white;
  }

  &.students__section {
    background: darken($white, 3.5%) asset-url('site/section-teacher-background.png') repeat center center;
  }

  &.testimonials__section {
    background-color: $white;
    padding: 4em 0;
    text-align: center;

    .testimonials__trusted__by {
      margin: 0 3rem 6.25rem;
    }

    .testimonials__list {
      margin: 0 .625rem;
    }
  }

  .section__title {
    background: asset-url('site/section-header-background.png') no-repeat center center;
    background-size: cover;
    font-size: .875em;
    font-weight: $font-weight-bold;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0 auto 5.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 17rem;
  }

  &.video__section {
    @extend %inverted__section;
    background-image: asset-url('site/video-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0;

    h2 {
      font-size: 2rem;
      margin-bottom: 1.25rem;
    }

    p {
      margin: 0 auto 2em;
      max-width: 37rem;
    }

    .icon {
      display: block;
      font-size: 2em;
      margin: 0 auto;
    }
  }
}

.hero__section {
  @extend %inverted__section;
  background-image: asset-url('site/hero-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  text-align: center;

  .hero__title {
    font-size: 3.125em;
    font-weight: $font-weight-light;
    padding-top: 8rem;
  }

  p {
    font-size: 1.25em;
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 41rem;
  }
}

.call__to__action__buttons {
  padding-bottom: 17em;

  .button {
    border: 1px solid $dunno-green-color;
    font-weight: 700;
    margin: 0 1.5em;

    &.transparent {
      color: $dunno-green-color;
    }
  }
}

.features__section {
  .features__screenshot {
    text-align: center;

    img {
      margin-bottom: 3em;
      margin-top: -10em;
    }
  }

  .feature {
    color: $dunno-green-color;
    text-align: center;

    .icon {
      @include radius(50%);
      background: $dunno-green-color;
      color: $white;
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      width: 3em;
    }
  }
}


.invitation__section {
  @extend %inverted__section;
  padding: 4em 0;

  h2 {
    font-size: 2.625em;
    font-weight: $font-weight-light;
    margin-bottom: .5em;
  }

  p {
    margin: 0 auto 3.75em;
    max-width: 45em;
  }

  input[type=email],
  .button {
    border: 0;
    display: inline-block;
    height: auto;
  }

  input[type=email] {
    font-size: 1.25em;
    margin-right: .5rem;
    padding: 1rem;
    width: 24rem;
  }

  .button {
    padding: 1.157rem;
    vertical-align: top;
  }
}

footer {
  background-color: $white;
  color: $light-grey-color;
  padding: 2em 0;

  a {
    margin: 0 1em;
  }
}


.slide {
  margin-bottom: 4em;
  min-height: 35rem;
  position: relative;
}

.slide__content {
  float: left;
  margin: 7em 0;

  .students__section & {
    width: 19rem;
  }

  .teacher__section & {
    width: 25rem;
  }
}

.slide__image {
  position: absolute;
  right: 0;

  .students__section & {
    margin-left: 32rem;
  }

  .teacher__section & {
    margin-left: 36rem;
  }
}
