.reveal-modal {
  &:focus {
    outline: none;
  }

  &.send-notification {
    padding-bottom: 0;

    p {
      color: $medium-grey-color;
      margin: 0 auto;
      width: 70%;
    }

    .counter {
      color: $medium-grey-color;
      display: block;
      font-size: .875em;
      line-height: 3em;
    }

    .abbreviation {
      width: 10em;
    }

    .button {
      z-index: 99;
    }

    .preview {
      word-wrap: break-word;
    }
  }

  .modal-header {
    border-bottom: 1px solid $light-grey-color;
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-align: center;

    h5 {
      text-transform: uppercase;
    }

    p {
      color: $medium-grey-color;
      margin: 0 auto;
      width: 70%;
    }
  }
}
