.reveal-modal {
  &.send-notification {
    padding-bottom: 0;

    .abbreviation {
      width: 10em;
    }

    a.button {
      z-index: 99;
    }

    .preview {
      word-wrap: break-word;
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  visibility: visible;

  .close-button {
    @include reveal-close;
  }
}

.modal-bg {
  @extend .reveal-modal-bg;
  position: fixed;

  &.open {
    display: block;
  }
}
