.tutorial.wrapper {
  @include reveal-modal-style(
    $bg: $dunno-dark-color
  );

  @include radius(10px);
  padding: 2em 3em;
  text-align: center;
  top: 320px;
  width: 25em;

  .content {
    color: $white;
    font-family: 'Chalkduster';
  }

  .steps {
    margin-left: 0;

    .step {
      display: inline-block;
      list-style: none;

      .icon {
        color: $dark-grey-color;

        &.active {
          color: $white;
        }
      }
    }
  }

  .next {
    @extend .button;
    @extend .btn-style-1;
    @include radius;
    margin: 0;
  }
}

@mixin tutorial-arrow($tutorial, $step) {
  background-image: asset-url('tutorial/tutorial-arrow-#{$tutorial}-#{$step}.png');
  position: absolute;
}

.tutorial-1 {
  .arrow {
    &.step-1 {
      @include tutorial-arrow(1, 1);
      height: 95px;
      left: -70px;
      top: -40px;
      width: 109px;
    }
  }
}

.tutorial-2 {
  .arrow {
    &.step-1 {
      @include tutorial-arrow(2, 1);
      height: 84px;
      left: 360px;
      top: -40px;
      width: 133px;
    }

    &.step-2 {
      @include tutorial-arrow(2, 2);
      height: 67px;
      left: -110px;
      top: 0;
      width: 129px;
    }

    &.step-3 {
      @include tutorial-arrow(2, 3);
      height: 54px;
      left: 370px;
      top: 70px;
      width: 111px;
    }
  }
}

.tutorial-3 {
  .arrow {
    &.step-1 {
      @include tutorial-arrow(3, 1);
      height: 218px;
      left: -60px;
      top: 100px;
      width: 131px;
    }

    &.step-2 {
      @include tutorial-arrow(3, 2);
      height: 54px;
      left: 360px;
      top: 170px;
      width: 111px;
    }

    &.step-3 {
      @include tutorial-arrow(3, 3);
      height: 105px;
      left: 350px;
      top: -20px;
      width: 101px;
    }
  }
}
