a.course__card__link[
  ng-attr-id="{{ 'course-' + course.uuid }}"
  ui-sref="courses.show.calendar({ courseId: course.uuid })"
  analytics-on="click"
  analytics-event="Course Accessed"
  analytics-name="{{course.name}}"
  analytics-current-page="{{currentPage}}"
  analytics-uuid="{{course.uuid}}"
  analytics-teacher-name="{{course.teacher.name}}"
  analytics-user-role="{{course.user_role}}"]
    ng-transclude
