%h1 Nova matéria

%form.simple_form.form-vertical{'ng-submit' => 'save(course)'}
  .form-group
    %label.control-label{:for => "course_name"} Name
    .controls
      %input.form-control{'ng-model' => 'course.name', :type => "text"}
  .form-group.required
    %label.required.control-label{:for => "course_start_date"} Start date
    .controls
      %input.required.form-control.col-lg-2{'ng-model' => 'course.start_date', :type => "text"}
  .form-group.required
    %label.required.control-label{:for => "course_end_date"} End date
    .controls
      %input.required.form-control.col-lg-2{'ng-model' => 'course.end_date', :type => "text"}
  .form-group.string.required
    %label.required.control-label{:for => "course_start_time"} Start time
    .controls
      %input.required.form-control{'ng-model' => 'course.start_time', :timepicker => '', "data-default-time" => "value", "data-show-meridian" => "false", :type => "text"}
  .form-group.required
    %label.required.control-label{:for => "course_end_time"} End time
    .controls
      %input.required.form-control{'ng-model' => 'course.end_time', :timepicker => '', "data-default-time" => "value", "data-show-meridian" => "false", :type => "text"}
  .form-group.check_boxes.required
    %label.required.control-label Weekdays
    .controls
      %label.checkbox.checkbox-inline{ 'ng-repeat' => 'weekday in weekdays' }
        %input.check_boxes.required.form-control{:name => 'weekdays[]', 'ng-checked' => 'weekdayIndex(weekday) > -1', 'ng-click' => 'toggleWeekday(weekday)', :type => "checkbox", :value => "{{weekday.value}}"} {{weekday.name}}
  .form-group
    %label.control-label{:for => "course_classroom"} Classroom
    .controls
      %input.form-control{'ng-model' => 'course.classroom', :type => "text"}
  .form-group.select
    %label.select.control-label{:for => "course_organization_id"} Organization
    .controls
      %select.select.form-control{'ng-model' => 'course.organization_id'}
        %option{ 'ng-repeat' => 'organization in organizations', :value => "{{organization.id}}"} {{organization.name}}
  %input.btn{:type => "submit", :value => "Criar Curso"}
%a.btn{:href => "#/courses"} Back
