.panel
  .panel-heading
    Eventos de {{course.name}}
  .panel-body
    %table.table.table-striped.table-advance.table-hover
      %tbody
        %tr{ 'ng-repeat' => 'event in course.events' }
          %td {{event.title}}
          %td {{event.start_at}}
          %td
            %ul
              %li{ 'ng-repeat' => 'topic in event.topics' } {{topic.description}}
          %td
            %ul
              %li{ 'ng-repeat' => 'thermometer in event.thermometers' } {{thermometer.content}}
          %td
            %a.btn.btn-primary.btn-xs{ 'href' => '#/events/{{event.uuid}}/edit' }
              %i.fa.fa-pencil
            %a.btn.btn-danger.btn-xs{ 'ng-click' => 'delete(event)' }
              %i.fa.fa-trash-o

    %a.btn.btn-primary{ 'href' => '#/events/new?course_id={{course.id}}' } Novo Evento
