table {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #1cc678;
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid #D2D2D2;
}
h1 {
  font-size: 1.4em;
  font-weight: normal;
}
p {
  font-size: 0.9em;
  line-height: 1.7em;
}
strong {
  font-weight: bold;
}
.paragraph {
  padding-top: 1em;
}
.list {
  line-height: 0.8em;
}
.structure {
  background: #EAEBEB;
}
.content {
  background: #ffffff;
  border: 1px solid #D2D2D2;
  padding: 2em;
}
.button {
  color: #ffffff;
  background: #1cc678;
  text-transform: uppercase;
  display: block;
  width: 60%;
  height: 60px;
  line-height: 60px;
  font-size: 1.2em;
  border-radius: 3px;
}
.see-more {
  padding: 0;
}
.italic {
  font-style: italic;
}
.underlined {
  text-decoration: underline;
}
