@import '../app/utils/variables';

html,
body,
.structure {
  background: darken($white, 5%);
  min-height: 100%;
  min-width: 100%;
}

table {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: $dunno-green-color;
  text-decoration: none;
}

hr {
  border: 0;
  border-top: $divider;
}

h1 {
  color: $dunno-dark-color;
  font-size: 1.375em;
  font-weight: bold;
}

p {
  color: $dunno-dark-color;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 2.5em;

  em {
    color: $dark-grey-color;
    font-size: .875em;
  }

  &.panel-info {
    border: $divider;
    border-radius: 3px;
    font-size: .875rem;
    padding: 1rem 2rem;
  }
}

strong {
  font-weight: bold;
}

.logo {
  border: 0;

  img {
    border: 0;
    width: 54px;
  }
}

.paragraph {
  padding-top: 1em;
}

.list {
  line-height: .8em;
}

.content {
  background-color: $white;
  border: $divider;
  border-radius: .1875rem;
  box-shadow: 0 .125rem .0625rem $light-grey-color;
  margin-bottom: 2rem;
  padding: 2em;
  text-align: center;
}

.button {
  background: $dunno-green-color;
  border-radius: 3px;
  color: $white;
  display: block;
  font-size: 1.2em;
  height: 60px;
  line-height: 60px;
  margin: 1rem auto;
  text-align: center;
  width: 60%;
}

.see-more {
  padding: 0;
}

.italic {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}

.footer {
  border-top: $divider;
  margin-top: 2rem;
  padding-top: 2rem;
  width: 100%;
}

.footer-right {
  font-size: .875em;
  text-align: right;

  a {
    margin-left: .75rem;
  }
}

.legal-footer {
  padding: 2rem 0;
  text-align: center;

  p,
  address {
    color: $medium-grey-color;
    font-size: .75em;
  }
}

.attention {
  color: $red-color;
  text-transform: uppercase;
}

.message {
  background-color: lighten($light-grey-color, 15%);
  border-radius: .25rem;
  padding: 2rem;
  text-align: left;

  p {
    font-size: 1.125rem;
    margin: 0;

    + p {
      margin-top: 1rem;
      white-space: pre-line;
    }
  }
}

.digest {
  text-align: left;

  h5 {
    color: $dark-grey-color;
    font-size: .75rem;
    margin: 0 0 0 2rem;
    text-transform: uppercase;
  }

  &__course {
    &__header {
      border: $divider;
      border-bottom-width: .125rem;
      border-radius: .25rem;
      text-align: center;
    }

    &__title {
      color: $dunno-dark-color;
      display: block;
      padding: 2rem 1rem;
    }

    &__teacher {
      padding: .5rem 1rem;
    }

    &__blocked {
      padding-left: 2rem;
    }
  }

  &__event {
    border-bottom: $divider;
    border-left: $divider;
    margin-left: 2rem;

    &__info {
      display: block;
      padding: 1rem;
    }

    &__status {
      span {
        border-radius: .1875rem;
        color: $white;
        display: inline-block;
        font-size: .75rem;
        margin-right: .5rem;
        padding: .25rem .75rem;
        text-transform: uppercase;
      }
    }

    &__topics,
    &__comments {
      display: block;
      padding: 0 0 1rem 3rem;
    }

    &__topic,
    &__comment {
      &__icon,
      &__description,
      &__author,
      &__body {
        font-size: .875rem;
        padding-bottom: .75rem;
        padding-top: .5rem;
      }
    }
  }

  .event {
    &__published {
      background-color: $dunno-green-color;
    }

    &__canceled {
      background-color: $red-color;
    }
  }

  &__unsubscribe {
    font-size: .875rem;
    padding-top: 1rem;
    text-align: center;

    b {
      color: $dark-grey-color;
    }

    a {
      text-decoration: underline;
    }
  }
}
