html,
body,
.structure {
  background: #eaebeb;
  min-height: 100%;
  min-width: 100%;
}

// TODO: use dunno's colour variables.
table {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #1cc678;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid #d2d2d2;
}

h1 {
  font-size: 1.4em;
  font-weight: normal;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 2.5rem;
}

strong {
  font-weight: bold;
}

.logo {
  border: 0;

  img {
    width: 140px;
    border: 0;
  }
}

.paragraph {
  padding-top: 1em;
}

.list {
  line-height: .8em;
}

.content {
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 2em;
}

.button {
  background: #1cc678;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 1.2em;
  height: 60px;
  line-height: 60px;
  margin: 1rem auto;
  text-align: center;
  width: 60%;
}

.see-more {
  padding: 0;
}

.italic {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 2rem 0 0 0;
  text-align: center;
}

.footer-link {
  display: inline-block;
  font-size: .75rem;
  margin: 0 .5rem;
}

