body {
  -webkit-font-smoothing: antialiased;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; // scss-lint:disable ImportantRule
}

a {
  &:focus {
    outline: none;
  }
}
