.features__screenshot {
  margin: -11rem auto 2rem;
  max-width: 47rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.feature__screenshot {
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .5s ease-in-out;
  z-index: 9;
}

.feature__screenshot__detail {
  display: block;
  opacity: 0;
  position: absolute;
  transition: opacity .25s linear;
  z-index: 10;

  @media #{$small-up} {
    height: 50vw;
    width: 50vw;
  }

  @media #{$medium-up} {
    height: 40vw;
    width: 40vw;
  }

  @media #{$large-up} {
    height: 19.6875rem;
    width: 19.6875rem;
  }
}

.feature__screenshot__detail__1 {
  @media #{$small-up} {
    left: 0;
    top: 17%;
  }

  @media #{$medium-up} {
    left: 7%;
    top: 22%;
  }
}

.feature__screenshot__detail__2 {
  @media #{$small-up} {
    left: 3%;
    top: 19%;
  }

  @media #{$medium-up} {
    left: 5%;
    top: 24%;
  }
}

.feature__screenshot__detail__3 {
  @media #{$small-up} {
    left: 24%;
    top: 15%;
  }

  @media #{$medium-up} {
    left: 24%;
    top: 24%;
  }
}

.feature__screenshot__detail__4 {
  @media #{$small-up} {
    left: 27%;
    top: 27%;
  }

  @media #{$medium-up} {
    left: 29%;
    top: 24%;
  }
}

.showing__feature__1 {
  .feature__screenshot__1,
  .feature__screenshot__detail__1 {
    opacity: 1;
  }
}

.showing__feature__2 {
  .feature__screenshot__2,
  .feature__screenshot__detail__2 {
    opacity: 1;
  }
}

.showing__feature__3 {
  .feature__screenshot__3,
  .feature__screenshot__detail__3 {
    opacity: 1;
  }

}

.showing__feature__4 {
  .feature__screenshot__4,
  .feature__screenshot__detail__4 {
    opacity: 1;
  }
}

.features__section {
  .features {
    margin: 0 0 6rem;

    li {
      position: relative;
      z-index: 11;
    }
  }

  @media #{$small-only} {
    .features li {
      position: static;
    }

    .feature__description {
      display: none;
      left: 0;
      min-width: 100vw;
      position: absolute;
    }

    .active .feature__description {
      display: block;
    }
  }
}

.feature {
  color: $dunno-dark-color;
  display: block;
  margin: 0 auto;
  opacity: .3;
  text-align: center;

  &:hover {
    color: $dunno-dark-color;
    opacity: .75;
  }

  .pointing__arrow {
    display: none;
  }

  @media #{$large-up} {
    position: absolute;

    &.feature__1 {
      left: -2rem;
      top: -15rem;
      width: 8rem;
    }

    &.feature__2 {
      left: -5rem;
      top: -4.5rem;
      width: 9rem;
    }

    &.feature__3 {
      left: 20rem;
      top: -10rem;
      width: 11rem;
    }

    &.feature__4 {
      left: 8.5rem;
      top: -24rem;
      width: 8rem;
    }

    .pointing__arrow {
      display: block;
    }
  }

  &.active {
    color: $dunno-green-color;
    opacity: 1;

    .icon {
      background: $dunno-green-color;
    }

    .pointing__arrow {
      opacity: 1;
    }
  }

  .icon {
    @include radius(50%);
    background: $dunno-dark-color;
    color: $white;
    display: block;
    font-size: 1.5em;
    height: 3rem;
    line-height: 3.2rem;
    margin: 0 auto 1rem;
    padding: 0;
    text-align: center;
    width: 3rem;
  }
}

.pointing__arrow {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  position: absolute;
  z-index: 2;
}

.pointing__arrow__1 {
  background-image: asset-url('site/poiting-arrow-1.png');
  height: 3.25rem;
  left: 6rem;
  top: -3rem;
  width: 6.125rem;
}

.pointing__arrow__2 {
  background-image: asset-url('site/poiting-arrow-2.png');
  height: 7rem;
  left: 5rem;
  top: -8rem;
  width: 3.6875rem;
}

.pointing__arrow__3 {
  background-image: asset-url('site/poiting-arrow-3.png');
  height: 5.375rem;
  left: -8rem;
  top: -3rem;
  width: 10.1875rem;
}

.pointing__arrow__4 {
  background-image: asset-url('site/poiting-arrow-4.png');
  height: 4.1875rem;
  left: -6rem;
  top: 1rem;
  width: 7.9375rem;
}
