.comment__form
  form[
    name="commentForm"
    ng-submit="vm.send()"
    novalidate="true"]
    img.avatar user-avatar="vm.user"
    input[
      name="commentBody"
      ng-model="vm.comment.body"
      required="true"
      placeholder="Colabore com o conteúdo da aula"
      type="text"
      validate="true"]
    errors for="commentForm.commentBody"
    attachment-uploader ng-model="vm.comment.attachment_ids"
    submit-button.submit[
      blocked-when="vm.submitting"
      label="Enviar"
      blocked-label="Enviando…"
      has-spinner="true"]
