---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=bc9399629ac68deaf38162d0b8443d0cbbf4e380b94a1a20ba71485cfd376000&auth_timestamp=1392494592&auth_version=1.0&body_md5=1a18909481454f1e5a48f3666d85c974
    body:
      encoding: UTF-8
      string: "{\"name\":\"student_message\",\"channels\":[\"event_19fd49ac-f606-4b41-a776-f896c64b587e\"],\"data\":\"{\\\"content\\\":\\\"\\\"}\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 15 Feb 2014 20:03:12 GMT
recorded_with: VCR 2.8.0
