footer.footer {
  @include grid-block();
  @include grid-size(shrink);
  align-items: center;
  background: $white;
  border-top: $divider;
  font-size: .875rem;
  justify-content: space-between;
  padding: 1rem;

  @include breakpoint(small only) {
    display: none;
  }

  .logo {
    max-height: 1rem;
  }

  a {
    margin-left: .5rem;
  }
}
