.form__box {
  // style defined inside components/_content-box.scss
  padding: 2rem 1.75rem;

  @include breakpoint(small) {
    padding: 1rem;
  }

  .validation {
    float: right;
    position: relative;

    .icon {
      position: absolute;
      right: .5rem;
      top: 2rem;
    }
  }

  .icon-plain-check {
    color: $dunno-green-color;
  }

  .icon-error {
    color: $red-color;
  }

  .message__error {
    margin-top: -.5rem;
  }

  .ng-invalid.ng-dirty,
  .ng-invalid.ng-dirty:focus {
    border-color: $red-color;
  }
}


form {
  .submit {
    @extend %primary__button;
    display: block;
    margin: 0 auto;
  }
}

input[type=checkbox],
input[type=radio] {
  display: none;

  + label {
    margin: 0;
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;

    + label {
      opacity: .5;
      pointer-events: none;
    }
  }
}

input[type=radio] + label:before,
input[type=radio]:checked + label:before {
  display: inline-block;
  font-family: 'dunno-icon-font';
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0 .5rem 0 0;
  vertical-align: bottom;
}

input[type=radio] + label:before {
  color: $medium-grey-color;
  content: '\e022';
}

input[type=radio]:checked + label:before {
  color: $dunno-green-color;
  content: '\e021';
}

input[type=text],
input[type=email],
input[type=search],
input[type=password],
input[type=datetime],
select,
input[type=submit],
textarea {
  border-radius: $global-radius;
}

.icon__label {
  opacity: .5;
  position: absolute;
  right: 1rem;
  top: 2.5rem;

  &:hover {
    opacity: 1;
  }
}

.required {
  color: $red-color;
  font-family: $font-family-serif;
  font-size: 1.75em;
  font-weight: $font-weight-bold;
  line-height: 0;
  vertical-align: -.5rem;
}
