// scss-lint:disable Comment
/*
.reveal-modal {
  @include breakpoint(small) {
    padding: 0;
  }

  &:focus {
    outline: none;
  }

  &.send__notification {
    padding-bottom: 0;

    p {
      color: $medium-grey-color;
      margin: 0 auto;
      width: 70%;
    }

    .counter {
      color: $medium-grey-color;
      display: block;
      font-size: .875em;
      line-height: 3em;
    }

    .abbreviation {
      width: 10em;
    }

    .button {
      z-index: 99;
    }

    .preview {
      word-wrap: break-word;
    }
  }
}
*/

.modal {
  &__header {
    border-bottom: $divider;
    margin-bottom: 2em;
    padding-bottom: 1em;
    text-align: center;

    h5 {
      text-transform: uppercase;
    }

    p {
      color: $dark-grey-color;
      margin: 0 auto;
      width: 70%;

      @include breakpoint(small) {
        font-size: .875rem;
        width: 100%;
      }
    }
  }
}
