.dropdown {
  &.secondary {
    @include radius();
    border: 1px solid $light-grey-color;
    background: $white;
    color: $primary-color;

    &:hover {
      background: lighten($light-grey-color, 20%);
      color: $primary-color;
    }

    &:active {
      background: $white;
    }
  }

  .icon {
    vertical-align: middle;
    font-size: 1em;
  }

}
