.required {
  @extend .warning;
}

input.ng-invalid.ng-dirty {
  border-color: #E10B00;
}

span.error {
  background: none;
  color: #E10B00;
}

.done label {
  text-decoration: line-through;
  color: $light-grey-color;
}

@mixin dotted-input($border-color) {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px dashed $border-color;
}
