.required {
  @extend .warning;
}

input.ng-invalid.ng-dirty {
  border-color: #E10B00;
}

span.error {
  background: none;
  color: #E10B00;
}

.done label {
  text-decoration: line-through;
  color: $light-grey-color;
}

@mixin dotted-input($border-color) {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px dashed $border-color;
}

.standalone-form {
  margin: auto;
  &.small {
    width: 30%;
  }

  .box {
    @include radius;
    background: #ffffff;
    padding: 1.5em;
    box-shadow: $box-shadow;
    a {
      color: $secondary-color;
    }
  }

  label {
    font-size: 1rem;
    text-transform: uppercase;
  }

  input[disabled]:not(input[type="submit"]) {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $dark-grey-color;
    padding: 0;
  }

  input[type="submit"] {
    @extend .btn-style-1;
    @extend .button;
    @include radius;
  }
}
