// scss-lint:disable BorderZero PlaceholderInExtend
.required {
  @extend .warning;
}

.ng-invalid.ng-dirty,
.ng-invalid.ng-dirty:focus {
  border-color: $red-color;
}

.error {
  background: none;
  color: $red-color;
}

.done {
  label {
    color: $light-grey-color;
  }
}

@mixin dotted-input($border-color) {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px dashed $border-color;
}

.standalone-form {
  margin: auto;

  .box {
    @include radius;
    background: $white;
    box-shadow: $box-shadow;
    padding: 1.5em;
    a {
      color: $secondary-color;
    }
  }

  label {
    text-transform: uppercase;
  }

  [disabled]:not(input[type="submit"]) {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $dark-grey-color;
    padding: 0;
  }

  [type="submit"] {
    @extend .btn-style-1;
    @extend .button;
    @include radius;
  }
}
