.page-header {
  background: $white;
  // TODO: Use Compass' shadow
  box-shadow: 0 1.5px 1px #d3d3d3; // NEW_COLOUR
  margin-bottom: $page-header-margin;

  &.title {
    padding: 1em 0;
  }

  &.subtitle {
    height: $page-subtitle-height;
    margin-top: -2em;
  }

  .row {
    height: inherit;
  }

  h2 {
    font-size: 1.8em;
    font-weight: 300;
  }

  .button {
    margin: 0;
  }
}

.subtitle-head {
  margin: 0 auto;
  opacity: .6;
  text-align: center;
}
