.wrapper-new-list-item {
  .preview {
    margin: .75em;
  }
}

.media__preview {
  background-color: $background-light-grey-color;
  border-radius: .125em;
  border-bottom: 1px solid $light-grey-color;
  padding: .75em;
  position: relative;

  .media__preview__image,
  .media__preview__title,
  .media__preview__description {
    display: inline-block;
    margin-right: .5em;
  }

  .media__preview__image {
    @include radius();
    background-size: cover;
    height: 2.75em;
    vertical-align: middle;
    width: 2.75em;
  }

  .media__preview__title,
  .media__preview__description {
    font-size: .875em;
    color: $dark-grey-color;
  }

  .media__preview__title {
    font-weight: bold;
  }

  .media__preview__close {
    color: $dark-grey-color;
    position: absolute;
    right: .6em;
    top: 0;
  }
}
