.wrapper-new-list-item {
  .preview {
    margin: .75em;
  }
}

.preview {
  background-color: $background-light-grey-color;
  border-radius: .125em;
  margin-top: .75em;
  padding: 1em .5em;
  position: relative;

  .image {
    @include grid-column(2);
    height: 100px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .text {
    @include grid-column(10);
    font-size: .8em;

    .title {
      font-weight: bold;
    }
  }

  .close {
    position: absolute;
    right: .6em;
    top: 0;
  }
}
