.column.day {{asDate(event.start_at) | date:'dd'}}
.column.weekday> {{asDate(event.start_at) | date:'EEE'}}
.column.status
  i.icon ng-class="'icon-' + event.formatted_status"
.column.time {{asDate(event.start_at) | date:'HH:mm'}}h
