%cards-container {
  padding: 0 1em;
}

%card {
  @include box-shadow();
  border: 0;
  border-radius: .3125em;
  display: block;
  margin-bottom: 1em;
  overflow: hidden;
  transition: box-shadow .1s ease-in-out;

  .card__header,
  .card__content {
    padding: 1em;
    text-align: center;
  }

  .card__header {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 7rem;
    min-height: 7rem;
    padding: 1rem 0;
    width: 100%;

    .card__title {
      font-size: 1.125em;
      padding: 0 2rem;
      vertical-align: middle;
    }


    span {
      &:after {
        content: ' · ';
      }

      &:last-child:after {
        content: '';
      }
    }
  }

  .card__content {
    background-color: $white;
    color: $dunno-dark-color;
    font-size: .875rem;
    text-align: center;
  }
}

