.catalog {
  @extend %content__box;
  @include grid-container();
  overflow: visible;
  padding: 1rem;

  .menu-bar {
    .active {
      background: darken($dunno-green-color, 10%);
    }
  }

  &__search {
    position: relative;

    input {
      padding-left: 2rem;
    }

    &__clear,
    &__icon {
      color: $medium-grey-color;
      position: absolute;
      top: .5rem;
    }

    &__icon {
      left: .5rem;
    }

    &__clear {
      cursor: pointer;
      right: .5rem;

      &:hover {
        color: $dunno-dark-color;
      }
    }
  }

  &__item {
    @include grid-block();
    align-items: center;
    border-bottom: $divider;
    overflow: visible;
    padding: 1rem 0;

    &:last-child {
      border-bottom: 0;
    }

    &__link {
      display: block;
    }

    &__select {
      padding-left: .5rem;
    }

    &__select,
    &__actions {
      flex-shrink: 1;
    }

    &__actions {
      margin-left: auto;

      .action-sheet,
      .action-sheet.is-active {
        transform: translateX(-96.7%) translateY(106%);

        &::before,
        &::after {
          left: 96.5%;
        }
      }
    }

    &__more__actions {
      color: $dunno-dark-color;
      margin-left: .5rem;

      &:hover {
        color: lighten($dunno-dark-color, 10%);
      }
    }

    &__type {
      background: $dark-grey-color;
      border-radius: 50%;
      color: $light-grey-color;
      display: inline-block;
      font-size: 1.25rem;
      height: 2rem;
      line-height: 2.3rem;
      margin-right: .25rem;
      text-align: center;
      vertical-align: middle;
      width: 2rem;
    }
  }

  &__load__more {
    color: $dunno-green-color;
    cursor: pointer;
    font-size: .875rem;
    padding: .5rem 0;
    text-align: center;
  }

  &__empty {
    color: $dark-grey-color;
    font-size: .875rem;
    padding: 2rem 0;
    text-align: center;
  }
}
