.comment {
  &__form {
    border-top: $divider;
    padding: 1rem;

    @include breakpoint(small only) {
      border-bottom: $divider;
    }

    &__input {
      flex-grow: 1;
      position: relative;
    }

    &__submit {
      align-self: center;
      margin-left: auto;

      .submit {
        @include button-size(tiny);
      }
    }

    &__validation {
      flex-basis: 100%;
      margin-top: .25rem;
      order: 2;

      .message__error {
        margin-bottom: 0;
      }
    }

    form {
      display: flex;
    }

    input[type=text] {
      border: 0;
      line-height: 1;
      margin-bottom: 0;
      padding: 0 2rem 0 0;
    }
  }

  &__list {
    background-color: lighten($light-grey-color, 20%);
    border-top: $divider;

    .avatar {
      margin-right: .25rem;
    }
  }

  &__item {
    border-bottom: $divider;
    display: flex;
    flex-wrap: wrap;
    font-size: .875rem;
    padding: 1rem;
    position: relative;

    &:last-child {
      border-bottom: 0;
    }

    &.highlight {
      background-color: $yellow-color;
    }
  }

  &__block,
  &__unblock,
  &__delete {
    color: $dark-grey-color;
    position: absolute;
    right: .25rem;
    top: 0;

    &:hover {
      color: $red-color;
    }
  }

  &__user {
    align-items: center;
    display: flex;

    &__name {
      display: inline-block;
      font-weight: $font-weight-bold;
    }
  }

  &__time {
    align-self: center;
    padding-left: .35rem;
  }

  &__body {
    flex-basis: 100%;
  }

  &__attachments,
  &__body {
    padding-left: 2.4rem;
  }
}
