%content-box {
  @include box-shadow(0, .125rem, .0625rem, $light-grey-color);
  @include radius();
  background-color: $white;
  border: $divider;
  margin-bottom: 2rem;

  @include breakpoint(small only) {
    @include radius(0);
    border: 0;
  }
}

.content__box,
.form__box {
  @extend %content-box;

  .reveal-modal & {
    @include box-shadow(none, null, null, null);
    border: 0;
  }
}
