li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: $blue-color;
}

.ui-timepicker-wrapper {
  border: .0625rem solid $light-grey-color;
  border-radius: $global-radius;
  box-shadow: none;
  width: 100%;
}

[date-picker] {
  table {
    .switch {
      display: table-cell;
    }
  }

  th,
  td {
    color: $dunno-dark-color;
  }

  .now {
    background: $white;
    color: $dunno-dark-color;
    font-weight: $font-weight-normal;
    text-shadow: 0;
  }

  .active:hover,
  .now:hover,
  .active:active,
  .now:active,
  .active.active,
  .active.active:hover,
  .now.active,
  .now.active:hover,
  .active.disabled,
  .now.disabled,
  .active[disabled],
  .now[disabled] {
    background: $dunno-green-color;
  }
}


.mighty-picker {
  &__wrapper {
    display: inline-block;
    position: relative;
  }

  &__month {
    display: block;
    font-weight: $font-weight-bold;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
  }

  &__prev-month,
  &__next-month {
    background: $transparent;
    border: 0;
    color: $dunno-green-color;
    padding: 0;
    position: absolute;
    top: 0;

    &:focus {
      color: darken($dunno-green-color, 15%);
      outline: none;
    }
  }

  &__prev-month {
    left: 0;
  }

  &__next-month {
    right: 0;
  }

  &-calendar {
    margin: 0 auto;
    min-height: 14rem;

    tbody {
      th {
        vertical-align: top;
      }
    }

    th,
    td {
      padding: .25rem .15rem;
    }

    &__days {
      font-size: .75rem;
      text-transform: uppercase;
    }

    &__day--marked {
      .mighty-picker-calendar__day-wrapper {
        background-color: $dunno-dark-color;
        color: $white;
      }
    }

    &__day--disabled {
      .mighty-picker-calendar__day-wrapper {
        background-color: $transparent;
        color: $dark-grey-color;

        .course__date & {
          color: $transparent;
        }
      }
    }

    &__day--selected {
      .mighty-picker-calendar__day-wrapper {
        background-color: $dunno-green-color;
        color: $white;
      }
    }

    &__day-wrapper {
      border-radius: 50%;
      display: inline-block;
      font-size: .875rem;
      line-height: 1.5rem;
      max-height: 1.5rem;
      max-width: 1.5rem;
      min-height: 1.5rem;
      min-width: 1.5rem;
    }

    &__day-marker-wrapper {
      display: none;
    }
  }
}
