// scss-lint:disable ColorVariable Indentation
 $formats: (
  doc: #4790ce,
  docx: #4790ce,
  html: #f2f2f2,
  key: #1ee2e5,
  numbers: #3bd990,
  pages: #f2c84b,
  pdf: #e84b40,
  ppt: #ea8230,
  pptx: #ea8230,
  rtf: #f2f2f2,
  txt: #f2f2f2,
  xls: #42c488,
  xlsx: #42c488
);

.icon {
  &.icon-document {
    border-radius: $global-radius;
    display: inline-block;
    font-size: 1.75rem;
    height: 2.75rem;
    line-height: 3rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    position: relative;
    text-align: center;
    width: 2.75rem;

    &:after {
      font-size: .625rem;
      font-style: normal;
      line-height: 0;
      position: absolute;
      right: .15rem;
      text-align: right;
      text-transform: uppercase;
      top: 1.7rem;
    }
  }

  @each $format, $color in $formats {
    &.icon__document__#{$format} {
      background: $color;

      @if $color == #f2f2f2 { // scss-lint:disable ColorVariable
        color: $medium-grey-color;
      } @else {
        color: $white;
      }

      &:after {
        @if $color == #f2f2f2 { // scss-lint:disable ColorVariable
          color: $medium-grey-color;
        } @else {
          color: $white;
        }

        content: '#{$format}';
      }
    }
  }

  &.icon__document__pages {
    &:after {
      font-size: 8px;
    }
  }

  &.icon__document__numbers {
    &:after {
      font-size: 6px;
    }
  }

  &.icon__document__url,
  &.icon__document__file {
    background: $medium-grey-color;
    color: $light-grey-color;
  }

  &.icon__document__url {
    &:before {
      content: '\e010';
    }
  }

  &.icon__document__file {
    &:before {
      content: '\e00f';
    }
  }
}
