.system__notifications {
  @include grid-container();
  background: $white;

  &__toggle {
    position: relative;

    .icon {
      font-size: 1.25rem;
      line-height: 0;
      margin-top: -.5rem;
    }
  }

  &__header {
    border-bottom: $divider;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
  }

  &__title {
    align-self: center;
    flex-grow: 1;
    font-size: .75rem;
    margin: 0;
    padding-right: 1rem;
    text-transform: uppercase;
  }

  &__mark__as__read {
    @include button;
    @include button-size(tiny);
    @include button-style(
      $background: $dunno-green-color,
      $background-hover: auto,
      $color: $dunno-green-color,
      $style: hollow
    );
    margin: 0 auto;
  }

  &__clear,
  &__empty {
    padding: 2rem;
    text-align: center;
  }

  &__empty {
    color: $medium-grey-color;
    font-size: .875rem;
  }

  &__count {
    background-color: $red-color;
    border-radius: 50%;
    font-size: .75rem;
    font-weight: $font-weight-bold;
    height: 1rem;
    line-height: 1rem;
    position: absolute;
    right: .5rem;
    text-align: center;
    top: .5rem;
    width: 1rem;
  }
}

.system__notification {
  border-bottom: $divider;
  clear: both;
  color: $dunno-dark-color;
  display: block;
  font-size: .875rem;
  padding: 2rem;

  &:hover {
    color: lighten($dunno-dark-color, 15%);
  }

  &__unread {
    background-color: $yellow-color;
  }

  &__author__avatar {
    display: block;
    float: left;
    margin-top: -.25rem;
  }

  &__wrapper {
    display: block;
    margin-left: 2.5rem;
  }
}
