.page__title {
  @include grid-block(shrink);
  background: $white;
  border-bottom: .0625rem solid $light-grey-color;
  padding: 1rem 0;

  @include breakpoint(small only) {
    padding: 0;
  }

  &__wrapper {
    @include grid-block();
    @include grid-container();
    justify-content: space-between;

    @include breakpoint(small only) {
      @include grid-orient(vertical);
    }
  }

  &__title {
    font-weight: $font-weight-normal;

    @include breakpoint(small only) {
      text-align: center;
    }
  }

  &__actions {
    color: $medium-grey-color;
    text-align: right;
    white-space: nowrap;

    @include breakpoint(small only) {
      margin: 0 auto;
      padding: 1rem;
      text-align: center;

      a,
      span {
        display: block;
      }

      span {
        color: $medium-grey-color;
        margin: .25rem 0 1rem;
      }
    }

    .button {
      margin: 0;
    }

    .icon {
      font-size: 1rem;
    }
  }
}
