.progress {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3em;
  position: relative;

  &__meter {
    transition: width .2s ease;
    background: $dunno-green-color;
    display: block;
    height: 1em;

    &:before {
      color: $medium-grey-color;
      content: 'enviando arquivo…';
      display: block;
      left: 0;
      line-height: 1rem;
      position: absolute;
      text-align: center;
      top: -2rem;
      width: 100%;
    }
  }
}
