.summary__tasks {
  min-height: 1em;

  &.previous__event__tasks {
    padding-left: 1em;

    .summary__task {
      padding-right: 1em;
    }
  }

  &.next__event__tasks {
    padding-right: 1em;

    .summary__task {
      padding-left: 1em;
    }
  }
}

.summary__task {
  border-bottom: 1px solid $light-grey-color;
  color: $dunno-dark-color;
  display: flex;
  font-size: .875rem;
  padding: .75em .125em;
  word-wrap: break-word;

  &__info {
    flex: 1;
  }

  .icon-private {
    color: $red-color;
    font-size: 1.25rem;
  }

  &.empty__results {
    color: $dark-grey-color;
  }

  &.event__canceled {
    color: $red-color;
    text-transform: uppercase;
  }

  span {
    display: block;
  }

  &__type {
    background-color: $dark-grey-color;
    border-radius: 10rem;
    color: $white;
    display: inline-block;
    height: 1.25rem;
    line-height: 1.5rem;
    margin-right: .25rem;
    text-align: center;
    vertical-align: middle;
    width: 1.25rem;
  }
}

.event__canceled__published,
.event__canceled__canceled {
  padding: .75rem;
  text-align: center;

  p {
    font-size: .875rem;
  }
}
