%tabs {
  > li {
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;

    &.active {
      a {
        background-color: $body-bg;

        @include breakpoint(small only) {
          background-color: $white;
        }
      }
    }

    a {
      @include side-radius(top, $global-radius);
      color: $dunno-dark-color;
      display: block;
      line-height: 1.5rem;
      text-transform: uppercase;

      @include breakpoint(small only) {
        line-height: 1.75rem;
      }

      @include breakpoint(small) {
        font-size: .65rem;
        padding: .5rem 0;
      }

      @include breakpoint(medium) {
        font-size: .875rem;
        padding: 1rem 0;
      }
    }
  }
}

.page__header__tabs {
  @extend %tabs;
}
