.new__topic__form {
  @include radius();
  background: $white;
  border: .0625rem solid $medium-grey-color;
  margin: 0 -.25rem;
  padding: .5rem 0 0;
  position: relative;
  z-index: 5;

  .select__item__type {
    display: flex;
    text-align: center;

    a {
      border-bottom: .25rem solid transparent;
      flex-grow: 1;
      padding: .5em 0;
      transition: all .25s ease-in-out;

      &:hover,
      &.active {
        border-bottom-color: $dunno-green-color;

        .icon {
          top: -.25em;
        }
      }

      &.active {
        .icon {
          position: relative;
        }
      }
    }

    .icon {
      @include radius(3em);
      background-color: $dunno-green-color;
      color: $white;
      display: inline-block;
      font-size: 1.25em;
      height: 1.75em;
      line-height: 2em;
      margin-top: .5em;
      position: relative;
      top: 0;
      transition: all .25s ease-in-out;
      width: 1.75em;
    }
  }
}

%topic-save-button {
  font-weight: $font-weight-bold;

  &.alert {
    border-color: $red-color;
  }
}

%topic-actions {
  border-top: 1px dashed $dunno-green-color;
  clear: both;
  padding: .75em;
  text-align: right;

  .cancel {
    color: $light-grey-color;
    float: left;
    padding-left: 0;
    padding-right: 0;
  }

  .button {
    margin-bottom: 0;
  }

  .create__new__topic__item {
    @extend %topic-save-button;
  }
}

.new__topic__actions {
  @extend %topic-actions;
}

%item-box {
  background: $white;
  border: .125rem solid $dunno-green-color;
  // box-shadow: transparentize($light-grey-color, .8) 0 4px 0;
  position: relative;
  z-index: 1;

  .type__file {
    .media__file__button {
      display: block;
      margin: .5em auto;
      width: 12em;

      .icon {
        vertical-align: middle;
      }
    }
  }

  input {
    background: $white;
    border: 0;
    box-shadow: none;
    color: $dunno-dark-color;
    display: block;
    font-size: 1em;
    height: 4em;
    line-height: 1em;
    margin: 0;
    padding: 1.5rem 1rem;

    &.file__input {
      display: none;
    }
  }
}

.item__type {
  @extend %item-box;
  @include radius();
  margin: 0 -.25rem -.0625rem;

  @include breakpoint(small only) {
    margin: 0 -1rem;
  }
}

.type__catalog {
  .catalog__header {
    border-bottom: 1px dashed $dunno-green-color;
    position: relative;

    .icon {
      color: $light-grey-color;
      left: 1em;
      position: absolute;
      top: 1.5em;
    }

    input {
      font-size: 1em;
      padding-left: 2.5em;
    }
  }

  .load__more {
    padding: 1em;

    a {
      color: $dark-grey-color;
      display: block;
      font-size: .875em;
      text-align: center;
    }
  }
}
