.topics {
  background: $white;
  border: $divider;
  margin-bottom: 2rem;

  .topic {
    border-bottom: $divider;
  }

  .topic:last-child {
    border-bottom: 0;
  }

  &__private {
    background: $white;
    border-left: $divider;
    border-right: $divider;
    font-size: .875rem;
    text-align: center;

    &__hide,
    &__show {
      color: $dark-grey-color;
      display: block;
      padding: .75rem;

      .icon {
        font-size: 1.25rem;
        vertical-align: middle;
      }
    }

    &__hide {
      &:hover {
        color: $red-color;
      }

      .icon {
        color: $red-color;
      }
    }

    &__show {
      &:hover {
        color: $dunno-dark-color;
      }
    }
  }
}

.topic {
  background: $white;
  transition: background-color .25s ease-in-out;


  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .25rem 0;
  }

  &__personal {
    color: $red-color;
    font-size: 1.5rem;
  }

  &.empty__results {
    padding: .75rem;
    text-align: center;
  }

  &.done {
    background: lighten($light-grey-color, 20%);

    input[type=checkbox]:checked + label {
      color: $dunno-green-color;
    }
  }

  &__editing {
    @extend %item-box;
    margin: -.5rem -.1875em;

    @include breakpoint(small only) {
      margin: -.5rem -.0625rem;
    }
  }

  .edit__topic__actions {
    @extend %topic-actions;
  }

  .save__edit__topic {
    @extend %topic-save-button;
  }

  &__url {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    word-break: break-all;
  }

  &__status,
  &__handle {
    flex-basis: 1.5rem;
  }

  &__image {
    @include thumbnail(4rem);
    flex-basis: 4rem;
    text-align: center;
  }

  &__description {
    flex-basis: 6rem;
    flex-grow: 1;
    line-height: 1.25rem;
    padding: 1.25rem .5rem;
    word-wrap: break-word;

    span {
      color: $dark-grey-color;
      display: block;
      font-size: .875rem;
    }
  }

  &__actions {
    align-self: center;
    flex-basis: 2.5rem;
    padding-right: .5rem;
    text-align: right;
  }

  &__handle {
    align-self: stretch;
    color: $light-grey-color;
    cursor: grab;
    display: flex;

    .icon {
      align-self: center;
    }

    &:hover {
      color: $dunno-dark-color;
    }
  }

  &__status {
    align-self: center;
    text-align: center;
  }


  input[type=checkbox] + label:before,
  input[type=checkbox]:checked + label:before {
    content: '';
    display: none;
  }

  input[type=checkbox] + label {
    color: $dunno-dark-color;
    cursor: pointer;

    &:hover {
      color: lighten($dunno-dark-color, 10%);
    }
  }

  input[type=checkbox]:checked + label {
    &:hover {
      opacity: .5;
    }
  }
}

.as-sortable-dragging {
  @include box-shadow();
  border-color: $dunno-dark-color;

  .topic__handle {
    cursor: grabbing;
  }
}

.as-sortable-placeholder {
  border-bottom: .125rem dashed $dunno-green-color;
  border-top: .125rem dashed $dunno-green-color;
  visibility: visible !important; //scss-lint:disable ImportantRule
}
