---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=f0c3c1c41759f7ed22ac7163c3a4d405cf85cf7679a44460a0971a67887477a7&auth_timestamp=1392494590&auth_version=1.0&body_md5=287e41b20b362673b8b7c9c7a85b0870
    body:
      encoding: UTF-8
      string: "{\"name\":\"student_message\",\"channels\":[\"event_f863aa12-b393-4f02-ba52-c292d53611c7\"],\"data\":\"{\\\"content\\\":\\\"Some
        message here\\\"}\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 15 Feb 2014 20:03:11 GMT
recorded_with: VCR 2.8.0
