@mixin ball($radius, $border-width: 1px) {
  border-radius: $radius;
  border: $border-width solid;
  display: block;
  font-size: $radius;
  height: $radius * 2;
  line-height: $radius * 2;
  padding: 0;
  text-align: center;
  width: $radius * 2;
}

