$btn-style-1-bg-color: $dunno-green-color;
$btn-style-1-hover-bg-color: lighten($dunno-green-color, 10%);
$btn-style-1-disabled-bg-color: $disabled-color;

$btn-style-transparent-bg-color: transparent;

$btn-style-transparent-1-font-color: $white;
$btn-style-transparent-1-border: 1px solid $btn-style-transparent-1-font-color;

$btn-style-transparent-2-font-color: $dunno-dark-color;
$btn-style-transparent-2-border: 1px solid $btn-style-transparent-2-font-color;

.button {
  &:focus {
    opacity: .7;
    outline: none;
  }

  &.transparent {
    // TODO: use foundation button() for creating new buttons.
    background: transparent;
    opacity: .85;

    &:hover {
      background: transparent;
      opacity: 1;
    }

    &:active {
      background: transparent;
      opacity: .85;
    }

    &.primary {
      color: $dunno-green-color;
    }

    &.secondary {
      &:hover,
      &:active {
        color: $medium-grey-color;
      }
    }
  }

  &.rounded {
    @include radius(50%);
    font-size: 1.75rem;
    height: 2rem;
    line-height: 1.75rem;
    padding: 0;
    width: 2rem;
  }

  &.outline {
    // TODO: use foundation button() for creating new buttons.
    border: 1px solid $dunno-green-color;
    color: $dunno-green-color;

    &.secondary {
      border-color: transparentize($dunno-dark-color, .5);
      color: transparentize($dunno-dark-color, .5);
    }
  }

  &.dark {
    background-color: $dunno-dark-color;
    color: $white;

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: 1;
    }
  }
}

.btn-style-1 {
  // TODO: use foundation button() for creating new buttons.
  background-color: $dunno-green-color;

  &:active,
  &:hover {
    background-color: $btn-style-1-hover-bg-color;
  }

  &.disabled {
    background-color: $btn-style-1-disabled-bg-color;
  }
}

.btn-style-2 {
  // TODO: use foundation button() for creating new buttons.
  background-color: $btn-style-transparent-bg-color;
  color: $dunno-dark-color;
  opacity: .6;

  &:active,
  &:hover {
    background-color: $btn-style-transparent-bg-color;
    color: $dunno-dark-color;
    opacity: 1;
  }

  &.disabled {
    background-color: $btn-style-1-disabled-bg-color;
  }
}

%btn-style-transparent {
  background-color: $btn-style-transparent-bg-color;

  &:hover {
    background-color: $btn-style-transparent-bg-color;
  }
}

.btn-style-transparent-1,
.btn-style-transparent-1:hover {
  @extend %btn-style-transparent;
  border: $btn-style-transparent-1-border;
  color: $btn-style-transparent-1-font-color;
}

.btn-style-transparent-2,
.btn-style-transparent-2:hover {
  @extend %btn-style-transparent;
  border: $btn-style-transparent-2-border;
  color: $btn-style-transparent-2-font-color;
}

a.disabled {
  pointer-events: none;
}
