.button {
  &:focus {
    opacity: .7;
    outline: none;
  }

  &.transparent {
    // TODO: use foundation button() for creating new buttons.
    background: transparent;
    opacity: .85;

    &:hover {
      background: transparent;
      opacity: 1;
    }

    &:active {
      background: transparent;
      opacity: .85;
    }

    &.primary {
      color: $dunno-green-color;
    }

    &.secondary {
      &:hover,
      &:active {
        color: $medium-grey-color;
      }
    }

    &.alert {
      color: $red-color;

      &:hover,
      &:active {
        color: $red-color;
      }
    }
  }

  &.rounded {
    @include radius(50%);
    font-size: 1.75rem;
    height: 2rem;
    line-height: 1.75rem;
    padding: 0;
    vertical-align: middle;
    width: 2rem;
  }

  &.outline {
    // TODO: use foundation button() for creating new buttons.
    border: 1px solid $dunno-green-color;
    color: $dunno-green-color;

    &.secondary {
      border-color: $dunno-dark-color;
      color: $dunno-dark-color;

      &:hover {
        border-color: $black;
        color: $black;
      }
    }
  }

  &.dark {
    background-color: $dunno-dark-color;
    color: $white;

    &.disabled {
      pointer-events: none;
    }

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: 1;
    }
  }

  &.icon__button {
    padding: 0;
  }

  &.submit {
    margin-bottom: 0;
  }

  &.disabled {
    pointer-events: none;
  }

  &.no__side__padding {
    padding-left: 0;
    padding-right: 0;
  }

  &.light {
    background-color: lighten($light-grey-color, 10%);
    color: $dunno-dark-color;

    &:hover {
      background-color: lighten($light-grey-color, 15%);
      color: $dunno-dark-color;
    }
  }

  .icon {
    vertical-align: middle;
  }
}
