%cards-container {
  padding: 0 1em;
}

%card {
  @include box-shadow();
  @include radius(.3125em);
  display: block;
  margin-bottom: 1em;
  overflow: hidden;

  .card__header,
  .card__content {
    padding: 1em;
    text-align: center;
  }

  .card__header {
    display: table;
    max-height: 7rem;
    min-height: 7rem;
    padding: 1rem 0;
    width: 100%;

    .card__title {
      display: table-cell;
      font-size: 1.25em;
      padding: 0 2rem;
      vertical-align: middle;
    }
  }

  .card__content {
    background-color: $white;
    color: $medium-grey-color;

    .course__avatar {
      background-attachment: scroll;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
    }

    .course__institution {
      display: block;
      font-size: .75em;
      line-height: 1.75rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon {
      font-size: 1.5rem;
    }
  }

  .overlay {
    &.published {
      background-color: $dunno-dark-color;
      text-align: center;
      text-transform: uppercase;
    }

    .button {
      transform: translateY(-30%);
      transition: all .15s ease-in-out;
    }

    &:hover {
      .button {
        transform: translateY(-50%);

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}
