%content-box {
  @include box-shadow(0, .125rem, 0, $light-grey-color);
  @include radius();
  background-color: $white;
  border: 1px solid $light-grey-color;
  margin-bottom: 2rem;
}

.content__box,
.form__box {
  @extend %content-box;

  .reveal-modal & {
    @include box-shadow(0, .125rem, 0, $dark-grey-color);
    border: 1px solid $dark-grey-color;
  }
}
