%content-box {
  @include box-shadow(0, .125rem, 0, $light-grey-color);
  @include radius();
  background-color: $white;
  border: .0625rem solid $light-grey-color;
  margin-bottom: 2rem;

  @media #{$small-only} {
    @include radius(0);
    border: 0;
  }
}

.content__box,
.form__box {
  @extend %content-box;

  .reveal-modal & {
    @include box-shadow(0, .125rem, 0, $dark-grey-color);
    border: .0625rem solid $dark-grey-color;
  }
}
