.dropdown {
  &.secondary {
    border: 0;
  }

  .icon {
    font-size: 1em;
    vertical-align: top;
  }
}

.f-dropdown {
  border-color: $light-grey-color;
  text-align: left;
}

.dropdown.button.tiny,
.tutorial.wrapper .dropdown.tiny.next,
button.dropdown.tiny {
  padding-right: 1.75rem;
}

.dropdown.button:after,
.tutorial.wrapper .dropdown.next:after,
button.dropdown:after {
  border: 0;
  content: '\E00D';
  font-family: 'dunno-icon-font';
}

.dropdown.button.tiny:after,
.tutorial.wrapper .dropdown.tiny.next:after,
button.dropdown.tiny:after {
  font-size: .75rem;
  right: .5rem;
  top: .75rem;
  width: auto;
}
