.ng-curtain-class {
  background: transparentize($dunno-dark-color, .2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9998;
}

.ng-joyride-title {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 9999;

  > div {
    @include box-shadow();
    @include radius();
    align-self: center;
    background: $white;
    padding: 3rem;
    width: 50vw;
  }

  .col-md-4 {
    float: left;
  }

  .col-md-8 {
    float: right;
  }

  button {
    margin-bottom: 0;
  }
}
