.page__header {
  @include box-shadow(0, .0625rem, .0625rem, $light-grey-color);
  background: $white;
  margin-bottom: 2rem;
  padding: 1rem 0 0;
  position: relative;
  z-index: 1002;

  @media #{$small-only} {
    margin-bottom: 0;
  }

  .page__header__title {
    font-weight: $font-weight-normal;
    margin: 0;
    padding: 0;

    @media #{$small-up} {
      font-size: 1.25rem;
    }

    @media #{$medium-up} {
      font-size: 1.875rem;
    }
  }

  .page__header__subtitle {
    font-weight: $font-weight-light;
    list-style: none;
    margin: 0;
    padding: 0 0 1rem;

    li {
      color: transparentize($dunno-dark-color, .5);
      display: inline;
      vertical-align: middle;

      &:after {
        content: '·';
        margin: 0 .25rem;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  .button {
    margin: 0;
    white-space: nowrap;
  }

  footer {
    border-top: .0625rem solid transparentize($dark-grey-color, .9);
    padding-top: 1rem;
  }

  .page__header__info,
  .page__header__actions {
    text-align: right;
  }
}
