.page__title {
  @include box-shadow(0, .0625rem, .0625rem, $light-grey-color);
  background: $white;
  margin-bottom: 2rem;
  padding: 1rem 0;

  @media #{$small-only} {
    padding: 0;
  }

  .main__page__title {
    font-weight: $font-weight-light;
    text-transform: uppercase;

    @media #{$small-only} {
      color: $white;
      height: 0;
      position: relative;
      text-align: center;
      top: -2.25rem;
    }
  }

  .button {
    margin: 0;
  }

  .icon {
    font-size: 1rem;
  }
}

.page__title__actions {
  text-align: right;
  white-space: nowrap;

  @media #{$small-only} {
    padding: 1rem;
    text-align: center;

    a,
    span {
      display: block;
    }

    span {
      color: $light-grey-color;
      margin: .25rem 0 1rem;

      &:before,
      &:after {
        content: '—';
        margin: 0 1rem;
      }
    }
  }
}
