.page-header {
  @include box-shadow();
  background: $white;
  margin-bottom: 2em;
  padding: 1em 0;

  @media #{$small-only} {
    margin-bottom: 1em;
  }

  &.subtitle {
    margin-top: -2em;

    .columns,
    .column {
      min-height: 1px;
    }
  }

  .row {
    height: inherit;
  }

  h2 {
    margin: 0;
    padding: 0;

    @media #{$small-only} {
      font-size: 1.25em;
    }
  }

  .button {
    margin: 0;
    white-space: nowrap;
  }

  .event-classroom {
    display: block;
    margin-top: .5em;
    opacity: .7;
  }

  .event-start-time {
    display: block;
    font-size: .875em;
    margin-top: .5em;
  }
}

@media #{$small-only} {
  .event-start-date,
  .event-start-time {
    display: block;
    text-align: center;
  }
}

.subtitle-head {
  margin: 0 auto;
  opacity: .6;
  text-align: center;
}


.page__header__subtitle {
  list-style: none;
  margin: 0;
  opacity: .5;
  padding: 0;
  text-align: center;

  li {
    display: inline;

    &:after {
      content: ' · ';
      margin: 0 1rem;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
