.page__header {
  @include box-shadow(0, .0625rem, .0625rem, $light-grey-color);
  background: $white;
  margin-bottom: 2rem;
  padding: 1rem 0 0;
  position: relative;
  z-index: 1002;

  @media #{$small-only} {
    margin-bottom: 0;
  }

  .page__header__title {
    font-size: 1.25rem;
    font-weight: $font-weight-normal;
    margin: 0 0 .5rem;
    padding: 0;

    @media #{$small-only} {
      color: $white;
      font-size: 1rem;
      height: 2rem;
      margin: 0 auto -2rem;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      top: -3.25rem;
      white-space: nowrap;
      width: 65vw;
    }
  }

  .page__header__subtitle {
    list-style: none;
    margin: 0;
    padding: 0 0 1rem;

    li {
      color: transparentize($dunno-dark-color, .25);
      display: inline;
      font-size: .875rem;
      vertical-align: middle;

      &:after {
        content: '·';
        margin: 0 .25rem;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    .course__teacher {
      margin-right: .5rem;

      &:after {
        content: ' ';
      }
    }
  }

  .button {
    margin: 0;
    white-space: nowrap;
  }

  footer {
    border-top: .0625rem solid transparentize($dark-grey-color, .9);
    padding-top: 1rem;
  }

  .page__header__info {
    padding-bottom: 1rem;
  }

  .page__header__info,
  .page__header__actions {
    text-align: right;
  }

  .page__header__header,
  .page__header__info {
    @media #{$small-only} {
      text-align: center;
    }
  }
}
