.page__title {
  background: $white;
  border-bottom: .0625rem solid $light-grey-color;
  margin-bottom: 2rem;
  padding: 1rem 0;

  @media #{$small-only} {
    padding: 0;
  }

  &__wrapper {
    @include grid-row();
  }

  &__title {
    font-weight: $font-weight-light;
    text-transform: uppercase;

    @media #{$small-only} {
      color: $white;
      height: 0;
      position: relative;
      text-align: center;
      top: -2.25rem;
    }

    @media #{$small-up} {
      @include grid-column(12);
    }

    @media #{$medium-up} {
      @include grid-column(4);
    }
  }

  &__actions {
    color: $medium-grey-color;
    text-align: right;
    white-space: nowrap;

    @media #{$small-only} {
      padding: 1rem;
      text-align: center;

      a,
      span {
        display: block;
      }

      span {
        color: $light-grey-color;
        margin: .25rem 0 1rem;

        &:before,
        &:after {
          content: '—';
          margin: 0 1rem;
        }
      }
    }

    @media #{$small-up} {
      @include grid-column(12);
    }

    @media #{$medium-up} {
      @include grid-column(8);
    }

    .button {
      margin: 0;
    }

    .icon {
      font-size: 1rem;
    }
  }
}
