.media__preview {
  @include radius();
  background-color: $body-bg;
  border-bottom: $divider;
  padding: .75em;
  position: relative;

  &__link {
    align-items: center;
    display: flex;
  }

  &__image {
    @include thumbnail(4rem);
    flex-basis: 4rem;
    margin-right: .5rem;
  }

  &__info {
    color: $dark-grey-color;
    flex: 1;
    font-size: .875em;
  }

  &__url {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__title {
    display: block;
    font-weight: $font-weight-bold;
  }

  &__close {
    color: $dunno-dark-color;
    position: absolute;
    right: .6em;
    top: 0;
  }
}
