.progress {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3em;
  position: relative;

  &__meter {
    transition: width .2s ease;

    &:before {
      content: 'enviando arquivo…';
      display: block;
      font-style: italic;
      left: 0;
      line-height: 1rem;
      position: absolute;
      text-align: center;
      top: -2rem;
      width: 100%;
    }
  }
}
