.status__icon {
  @include radius(50%);
  background: $white;
  border: .125rem solid $light-grey-color;
  display: inline-block;
  height: 1em;
  vertical-align: -.125rem;
  width: 1em;

  &.status__icon__empty {
    color: $light-grey-color;
  }

  &.status__icon__draft {
    background-color: $light-grey-color;
  }

  &.status__icon__published {
    background-color: $dunno-green-color;
    border-color: $dunno-green-color;
  }

  &.status__icon__canceled {
    background-color: $red-color;
    border-color: $red-color;
  }

  &.status__icon__happened {
    background-color: $dunno-green-color;
    border-color: $dunno-green-color;
  }
}
