.new__topic__form {
  background: $white;
  border: 1px solid $light-grey-color;

  .select__item__type {
    margin: 0 -.95em;
    text-align: center;

    li {
      padding: 0;
    }

    a {
      border-bottom: 4px solid $white;
      color: $light-grey-color;
      display: block;
      padding: .5em 0;

      &:hover {
        border-bottom-color: $medium-grey-color;
        color: $medium-grey-color;

        .icon {
          background-color: $medium-grey-color;
          position: relative;
          top: -.25em;
        }
      }

      &.active {
        border-bottom-color: $secondary-color;
        color: $secondary-color;

        .icon {
          background-color: $secondary-color;
          position: relative;
          top: -.25em;
        }
      }
    }

    .icon {
      background-color: $light-grey-color;
      border-radius: 3em;
      color: $white;
      display: inline-block;
      font-size: 1.25em;
      height: 1.75em;
      line-height: 2em;
      margin-top: .5em;
      transition: all .25s ease-in-out;
      width: 1.75em;
    }
  }
}

.new__topic__actions {
  border-top: 1px dashed $secondary-color;
  clear: both;
  padding: .75em;
  text-align: right;

  .cancel {
    color: $light-grey-color;
    float: left;
  }

  .new__topic__visibility {
    vertical-align: top;
  }

  .button {
    margin-bottom: 0;
  }

  .create__new__topic__item {
    font-weight: $font-weight-bold;

    &.alert {
      border-color: $red-color;
    }
  }
}

.item__type {
  background: $white;
  border: 1px solid $dark-grey-color;
  box-shadow: lighten($light-grey-color, 20%) 0 3px 0;
  margin: 0 -1.15rem;
  position: relative;
  z-index: 1;

  .type__file {
    .media__file__button {
      display: block;
      margin: .5em auto;
      width: 12em;

      .icon {
        vertical-align: middle;
      }
    }
  }

  input {
    background: $white;
    border: 0;
    box-shadow: none;
    color: $primary-color;
    display: block;
    font-size: 1em;
    height: 4em;
    line-height: 1em;
    margin: 0;
    padding: 1.5rem 1rem;

    &.file__input {
      display: none;
    }
  }
}

.type__catalog {
  .catalog__header {
    border-bottom: 1px dashed $secondary-color;
    position: relative;

    .icon {
      color: $light-grey-color;
      left: 1em;
      position: absolute;
      top: 1.5em;
    }

    input {
      font-size: 1em;
      padding-left: 2.5em;
    }
  }

  .load__more {
    padding: 1em;

    a {
      color: $dark-grey-color;
      display: block;
      font-size: .875em;
      text-align: center;
    }
  }
}
