.off-canvas-wrap {
  min-height: 100%;
}

h1 {
  font-size: 2em;
  line-height: 2rem;
  text-transform: uppercase;
}

h1,
h2 {
  text-align: center;
}

input[type="checkbox"] {
  margin: 0 .5em 0 0;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; // scss-lint:disable ImportantRule
}
