//= depend_on_asset "dunno-icon-font.eot"
//= depend_on_asset "dunno-icon-font.woff"
//= depend_on_asset "dunno-icon-font.ttf"
//= depend_on_asset "dunno-icon-font.svg"

@charset "UTF-8";

@font-face {
  font-family: "dunno-icon-font";
  src: asset-url("dunno-icon-font.eot");
  src: asset-url("dunno-icon-font.eot?#iefix") format("embedded-opentype"), asset-url("dunno-icon-font.woff") format("woff"), asset-url("dunno-icon-font.ttf") format("truetype"), asset-url("dunno-icon-font.svg#dunno-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "dunno-icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dunno-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-note:before {
  content: "a";
}
.icon-graph:before {
  content: "b";
}
.icon-arrow-circle-left:before {
  content: "e";
}
.icon-buzz:before {
  content: "l";
}
.icon-mail:before {
  content: "m";
}
.icon-search-files:before {
  content: "n";
}
.icon-play-circle:before {
  content: "o";
}
.icon-thermometer:before {
  content: "p";
}
.icon-not-ok:before {
  content: "q";
}
.icon-play:before {
  content: "r";
}
.icon-unlock:before {
  content: "s";
}
.icon-lock:before {
  content: "t";
}
.icon-video:before {
  content: "u";
}
.icon-ok:before {
  content: "v";
}
.icon-boy:before {
  content: "w";
}
.icon-close:before {
  content: "x";
}
.icon-edition:before {
  content: "z";
}
.icon-add:before {
  content: "A";
}
.icon-user-uncheck:before {
  content: "B";
}
.icon-user-check:before {
  content: "C";
}
.icon-transfer:before {
  content: "D";
}
.icon-search:before {
  content: "E";
}
.icon-eye:before {
  content: "F";
}
.icon-quiz:before {
  content: "G";
}
.icon-users:before {
  content: "H";
}
.icon-triangle:before {
  content: "I";
}
.icon-folder-add:before {
  content: "J";
}
.icon-dunno-logo:before {
  content: "K";
}
.icon-tasks:before {
  content: "L";
}
.icon-file-circle:before {
  content: "M";
}
.icon-clock:before {
  content: "N";
}
.icon-calendar:before {
  content: "O";
}
.icon-file-check:before {
  content: "P";
}
.icon-cards:before {
  content: "Q";
}
.icon-talk:before {
  content: "R";
}
.icon-file-lock:before {
  content: "S";
}
.icon-lists:before {
  content: "T";
}
.icon-strip:before {
  content: "U";
}
.icon-files:before {
  content: "V";
}
.icon-chat:before {
  content: "W";
}
.icon-support:before {
  content: "X";
}
.icon-file:before {
  content: "Y";
}
.icon-check:before {
  content: "Z";
}
.icon-arrow-circle-right:before {
  content: "0";
}
.icon-circle-small:before {
  content: "d";
}
.icon-circle-small-outline:before {
  content: "f";
}
.icon-circle-big-outline:before {
  content: "g";
}
.icon-circle-big:before {
  content: "h";
}
.icon-arrow-back:before {
  content: "j";
}
.icon-trash:before {
  content: "k";
}
.icon-arrow-open:before {
  content: "c";
}
.icon-arrow-down:before {
  content: "i";
}
.icon-clips:before {
  content: "y";
}
.icon-link:before {
  content: "3";
}
.icon-plain-check:before {
  content: "1";
}
.icon-error:before {
  content: "2";
}
.icon-pencil:before {
  content: "4";
}
.icon-tag:before {
  content: "5";
}
