$page-title-height: 4em;
$page-header-margin: 2em;
$page-subtitle-height: 4em;
$box-shadow: 0 2px 2px #ccc; // NEW_COLOUR

//.vertical-center {
//  position: relative;
//  top: 50%;
//  transform: translateY(-50%);
//}

.label.secondary {
  background-color: $light-grey-color;
  color: $primary-color;
}

.label--large {
  font-size: .875em;
}

.thin-block-grid > li {
  padding-bottom: 1em;
}

.translucent {
  opacity: .5;
}

.weekday {
  text-transform: uppercase;
}

.padding {
  padding: 10px 20px;
}

.padding-top {
  padding-top: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-top {
  margin-top: 10px;
}

// http://nicolasgallagher.com/micro-clearfix-hack/
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
.cf:before,
.cf:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

// For IE 6/7 only
// Include this rule to trigger hasLayout and contain floats.
// scss-lint:disable PropertySpelling
.cf {
  *zoom: 1;
}
