@import shared/positioning

$page-title-height: 110px

.top-bar
  padding-left: 50px

.page-title
  background: white
  height: $page-title-height
  margin-bottom: 40px

  // TODO: Use Compass' shadow
  box-shadow: 0px 1.5px 1px #D3D3D3

  .row
    height: 100%

  .button
    margin: 0

  h1
    text-transform: uppercase
    text-align: center
    line-height: 2rem
