
.edit_event, .new_event {
  .remove_nested_fields {
    margin-top: 8px;
    display: inline-block;
    color: red;
  }

  .event_polls_options_correct label.checkbox {
    margin-top: 0px;

    input[type="checkbox"] {
      margin-top: 0px;
    }
  }
}
