@import 'utils/variables';

@import 'settings', 'foundation'; // foundation setup

%inverted__section {
  background-color: $primary-color;
  color: $white;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h6 {
    color: $white;
  }
}

// TODO: clean this using @include button();
.button {
  &.outline {
    &.secondary {
      background: transparent;
      border: 1px solid $secondary-color;
      color: $secondary-color;
      height: 3.05em;
      margin-left: 1em;
      vertical-align: top;
    }
  }
}

.top-bar {
  .name {
    .logo {
      max-height: 1.25em;
    }
  }
}

.hero__section {
  @extend %inverted__section;
  background-image: asset-url('site/hero-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  text-align: center;

  h1 {
    font-size: 3.125em;
    font-weight: $font-weight-light;
    padding-top: 8rem;
  }

  p {
    font-size: 1.25em;
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 41rem;
  }

  .call__to__action__buttons {
    padding-bottom: 14em;
  }
}

.features__section {
  .features__screenshot {
    text-align: center;

    img {
      margin-bottom: 3em;
      margin-top: -10em;
    }
  }

  .feature {
    .icon {
      @include radius(50%);
      background: $secondary-color;
      color: $white;
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      width: 3em;
    }
  }
}

.video__section {
  @extend %inverted__section;
  padding: 10em 0;
}

.testimonials__section {
  background-color: $white;
  padding: 4em 0;
  text-align: center;
}

.invitation__section {
  @extend %inverted__section;
  padding: 4em 0;
}

footer {
  background-color: $white;
  padding: 2em 0;
}
