---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=4a554787a556e7d1fc65ea6fca2bbcf6136fe5f32c8d189212f676706babb289&auth_timestamp=1392494032&auth_version=1.0&body_md5=7da187bc3ba87f49e570bbd644f637ea
    body:
      encoding: UTF-8
      string: "{\"name\":\"up_down_vote_message\",\"channels\":[\"event_2c604c5d-0ff7-4a59-8fb4-fa969e59bdaa\"],\"data\":\"{\\\"up\\\":0,\\\"down\\\":1}\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 15 Feb 2014 19:53:52 GMT
recorded_with: VCR 2.8.0
