.legal__copy {
  h1 {
    margin: 3rem 0;
    text-align: center;
  }

  .logo {
    img {
      height: 5rem;

      @media #{$small-only} {
        height: 3rem;
      }
    }
  }

  p {
    text-align: justify;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $font-weight-bold;
  }

  blockquote {
    border-left: .25rem solid lighten($light-grey-color, 15%);
    margin: 1rem 0;
    padding-left: 2rem;

    p {
      font-size: .75rem;
      line-height: 180%;
      text-transform: uppercase;
      word-spacing: .5em;
    }
  }
}
