<%= image_tag "dunno-logo-vertical.png", height: "80" %>
<p style="margin-top: 50px;">Olá <%= @resource.name %>!</p>

<p>Alguém requisitou a alteração de sua senha. Você pode fazer isto através do link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se você não fez esta requisição, favor ignorar este email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
