.slide {
  max-height: 100vh;
  min-height: 100vh;

  @media #{$small-only} {
    min-height: auto;
  }
}

.slide__content {
  float: left;
  padding: 12vw 5rem;
  width: 40vw;

  h4 {
    font-size: 2.75em;
    font-weight: $font-weight-light;

    @media #{$small-only} {
      font-size: 2rem;
    }
  }

  @media #{$small-only} {
    float: none;
    margin: 5rem 1rem 0;
    padding: 0;
    text-align: center;
    width: auto;
  }
}

.slide__image {
  margin: 12vw 0 0 40vw;
  overflow: hidden;
  padding: 2rem 0;
  text-align: right;

  @media #{$small-only} {
    margin: 0 0 0 4rem;
    padding: 0;
    position: static;
  }

  img {
    margin-left: 2rem;

    @media #{$small-only} {
      margin: 0;
    }
  }
}

