.slide {
  max-height: 100vh;
  min-height: 100vh;

  @media #{$small-up} {
    display: block;
    padding: 0 1rem;
    width: 100%;
  }

  @media #{$medium-up} {
    display: table;
    padding: 0;
  }
}

.slide__content,
.slide__image {
  @media #{$small-up} {
    display: block;
  }

  @media #{$medium-up} {
    display: table-cell;
    vertical-align: middle;
  }
}

.slide__content {
  opacity: 0;
  @media #{$small-up} {
    min-width: 100%;
    padding: 2rem 0;
  }

  @media #{$medium-up} {
    min-width: 30rem;
    padding: 0 5rem;
  }

  h4 {
    font-size: 2.75em;
    font-weight: $font-weight-light;

    @media #{$small-only} {
      font-size: 2rem;
    }
  }
}

.slide__image {
  text-align: right;

  @media #{$medium-up} {
    overflow: hidden;
  }

  img {
    position: relative;
    transition: all .25s ease-in-out;
  }

  .slide__1 & {
    img {
      @media #{$small-up} {
        margin-bottom: -9rem;
        max-width: 100%;
        right: 0;
      }

      @media #{$medium-up} {
        max-width: 50rem;
        right: 0;
      }

      @media #{$large-up} {
        max-width: 55rem;
        right: -5vw;
      }

      @media #{$xlarge-up} {
        max-width: 100%;
        right: -5vw;
      }
    }
  }

  .slide__2 & {
    img {
      @media #{$small-up} {
        margin-bottom: -13rem;
        max-width: 100%;
        right: 0;
      }

      @media #{$medium-up} {
        max-width: 46rem;
        right: -2rem;
        top: -6rem;
      }

      @media #{$xlarge-up} {
        max-width: 100%;
        right: -5vw;
      }
    }
  }

  .slide__3 & {
    img {
      @media #{$small-up} {
        margin-bottom: -7rem;
        max-width: 100%;
        right: 0;
      }

      @media #{$medium-up} {
        max-width: 44rem;
        right: -2rem;
        top: -3rem;
      }

      @media #{$xlarge-up} {
        max-width: 100%;
        right: -5vw;
      }
    }
  }

  .slide__4 & {
    img {
      @media #{$small-up} {
        margin-bottom: -5rem;
        max-width: 100%;
        right: 0;
      }

      @media #{$medium-up} {
        max-width: 48rem;
        right: -1rem;
        top: -2rem;
      }

      @media #{$xlarge-up} {
        max-width: 100%;
        right: -5vw;
      }
    }
  }
}
