---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/65975/events?auth_key=eb2e8026ff09c08e1081&auth_signature=07ebfab131b8d4903284ebac2dde532fdd7e1afe4d24254fb332ee70c4d78236&auth_timestamp=1392494030&auth_version=1.0&body_md5=e956db2e3b12bb9cb00bd55febba2a58
    body:
      encoding: UTF-8
      string: "{\"name\":\"up_down_vote_message\",\"channels\":[\"event_7da4f8ca-d28e-4277-9eda-22e392c7da18\"],\"data\":\"{\\\"up\\\":1,\\\"down\\\":0}\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 15 Feb 2014 19:53:51 GMT
recorded_with: VCR 2.8.0
