%section.panel
  %header.panel-heading Editing topic

  .panel-body
    = simple_form_for @topic, url: dashboard_topic_path(@topic) do |f|
      = render 'form', f: f

    = link_to 'Show', dashboard_topic_path(@topic)
    \|
    = link_to 'Back', dashboard_topics_path
