.tab-bar.show-for-small {
  .icons.icon-dunno-logo {
    color: $white;
    font-size: 1.5em;
    margin-left: .5em;
    vertical-align: -4px;
  }
}

.label.secondary {
  background-color: $light-grey-color;
  color: $dunno-dark-color;
}

.translucent {
  opacity: .5;
}

.off-canvas-wrap {
  min-height: 100%;
}

.inner-wrap,
.content {
  min-height: 100%;
  min-width: 100%;
}

.right-off-canvas-menu {
  color: $white;
  min-height: 100vh;
}

footer {
  .inline-list {
    > :first-child {
      margin-left: 0;
    }
  }
}
